<div id="account-home">
  <div class="container no-padding">

    <div class="links_section_heading">
        <img src="images/friends-ptn-active.png" alt="icon"> 
        <span class="partner-name-account" i18n = "common.emergencyContactPersonFor" data-number="{{friends.contacts.length || 0}}"></span>
    </div>

    <div id="main-load-content" class="main-load-content">
      <div class="main-wrap" id="finlist-div-id">
        <div class="container no-padding"  id="partner-page">
           <div class="article-wrap-container article-title account-holder row partner">
                  <h2 class="memberList-heading sub-heading">
                    <div class="add-mamber-button">
                     <div class="friends-need-search filter_search_bar"> 
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input class="search-filter" type="text" ng-model="search" data-i18n-attr="{placeholder: 'common.dataSearch'}">
                      </div>
                    </div>
                  </h2>
                </div>
          <div class="col-xs-12  section-wrap-container article-wrap content_block_data grid_height margin_top_none">
         

            <div class="success-message member-remove-info fade-in fade-message" hidden>
               <div class="alert alert-success" i18n="common.removeSuccessfully"></div>
            </div>
            <span ng-if="!finLoading" class="fa-spinner-icon">
              <i class="fa fa-spinner fa-spin fa-3x fa-fw" aria-hidden="true"></i>
            </span>

            <div class=""  ng-if="finLoading"  ng-class="{'table_zh': globals.language == 'zh-CN', 'table_en':globals.language == 'en-US'}">
             
              <div ng-if="friends.contacts.length===0 || (friends.contacts |filter:search).length == 0 " class="no-info">
                          <span i18n="common.noInformationToDisplay" class="no_content"></span>
                  </div>
                <!-- ---------------- grid start ------------------ --> 

                    <div class="col-xs-12 partner-grid"  ng-repeat = "contact in friends.contacts | orderBy:propertyName:reverse | filter:search" ng-if="contact.id != partner_account_id">
                          <div class="col-xs-12 drop-menu" ng-if="contact.account_id != partner_account_id">
                              <a  href="javascript:void(0);" action-modal templateUrl="partials/partner/templates/actionModel.html">   <span class="glyphicon glyphicon-trash"></span>  </a>
                           </div>
                          <div class="col-sm-3 col-xs-12 user-img-id">
                              <div class="col-xs-12 no-padding">
                                <ia-avatar avatar="{{ contact.photo }}" class="clickable" ui-sref="contact.viewMember({member_id: contact.id})"></ia-avatar>
                              </div>
                            <div class = "col-xs-12 no-padding">
                              <div class = "popover__wrapper">
                                <finmember-id model="contact" class="profile_info id-ptn">
                                   <span i18n="common.memberId"></span>
                                </finmember-id>
                                <div class="push popover__content" ng-if="contact.photo">
                                  <span ng-show="!openFINload"><i class="fa fa-spinner" aria-hidden="true"></i></span>
                                  <a href="{{openFIN}}{{contact.ice_id}}.png" class="popover__message" target="_blank"><img ng-src="{{openFIN}}{{contact.ice_id}}.png" style="cursor:pointer;"></a>
                                </div>
                              </div>
                            </div>
                           </div>
                           <div class="col-sm-9 col-xs-12 user-detail no-padding">
                              <div class="col-xs-12 no-padding">
                                  <div class="row">
                                      <div class="col-xs-12 col-sm-4 user-data"> 
                                        <span i18n = "common.lastName"></span>
                                        <p class="top_margin ellipse_style">
                                            {{contact.last_name}}
                                        </p> 
                                      </div>
                                      <div class="col-xs-12 col-sm-4 user-data"> 
                                        <span i18n = "common.firstName"></span>
                                        <p class="top_margin ellipse_style">
                                          {{ contact.first_name}}
                                        </p> 
                                      </div>
                                      <div class="col-xs-12 col-sm-4 user-data">
                                        <span i18n = "common.middleName"></span>
                                        <p class="top_margin ellipse_style">
                                          {{ contact.middle_name}}
                                        </p> 
                                      </div>
                                       <div class="col-xs-12 col-sm-4 user-data">
                                        <span ng-click="sortBy('fullDate')" i18n = "common.dateOfBirth"></span>
                                        <p class="top_margin ellipse_style" full-date year="contact.birth_date.year" month="contact.birth_date.month" day="contact.birth_date.day"> </p> 
                                      </div>  
                                      <div class="col-xs-12 col-sm-4 user-data">
                                        <span i18n = "common.telephone"></span>
                                        <p class="top_margin ellipse_style" full-phone-number="" phonecode="contact.phone.code" phonenumber="contact.phone.number"> </p> 
                                      </div>
                                      <div class="col-xs-12 col-sm-4 user-data">
                                        <span i18n = "common.email"></span>
                                        <p class="top_margin ellipse_style">
                                          <a href="mailto:{{contact.email}}">{{contact.email}}</a>
                                        </p> 
                                      </div>
                                     
                                  </div>
                              </div>
                           </div>
                           
                    </div> 

                <!-- -------------Grid end----------------------- -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>