<div class="tab-mobile navbar navbar-fixed-top">
    <a header-back-button ng-if="!isHome" href="javascript:void(0);" class="back-mobile"><i class="icon-back_icon"></i></a>

    <span ng-if="!isHome" class="page-title" page-title>&nbsp;</span>
      <div class="premium premium_btn_mobile" ng-if="account !=null && account.is_premium && isaccountshowpage" i18n="common.premium"></div>
            <a id="promoClick" ng-if="account !=null && !account.is_partner && !account.is_premium && (isaccountshowpage || isMessage || isEdit || isSettings)" access-records="{{account}}" size="sm" templateUrl="partials/modal/access-records.html">    <div class="free free_btn_mobile" i18n="common.free"></div>
        </a>
        <!--<a id="promoClick" ng-if="account !=null && account.is_partner && !account.is_premium && (isaccountshowpage || isMessage || isEdit || isSettings)" >    <div class="free free_btn_mobile" i18n="common.free"></div>
        </a> -->
    <div class="header-img-mobile-wrap" ng-if="isHome">
        <img class="header-img-mobile" src="images/ice-logo.svg" alt="iCE Angel">
         <span class="header-logo-text" i18n="common.iceAngelId"></span>&trade;   
    </div>

    <div class="nav-mobile">
        <div class="toggle-mobile">
            <span class="badge" ng-if="logged">{{ newMessagesCount }}</span>
            <button data-target="#menu-mobile" data-toggle="collapse" type="button" class="navbar-toggle"
                    aria-controls="menu-mobile">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="menu-mobile collapse dropdown_moblie" id="menu-mobile">
            <ul>
                <li ng-if = "!logged"> 
                    <a href="#/registration/register?external=1"><i class="menu-ico join-ico"></i> <span i18n = "common.joinNow"></span></a>
                </li>

                <li ng-if = "!logged"> 
                    <a href="#/login"><i class="menu-ico login-ico"></i> <span i18n = "common.logIn"></span></a>
                    </li>


                <li>
                    <a ui-sref="base.home" href=""><i class="icon-home_icon"></i> <span i18n="common.home"></span></a>
                </li>
                <li ng-show="showPartner">
                    <a ui-sref="base.dashboard" href=""><i class="fa fa-tachometer" aria-hidden="true"></i> <span i18n="common.dashboard"></span></a>
                </li>
                 <li ng-if = "!logged"> 
                    <a href="#/aboutus"><i class="menu-ico about-ico"></i> <span i18n = "common.aboutUs"></span></a>
                    </li>

                 <li ng-if = "!logged"> 
                    <a href="#/faq"><i class="menu-ico faq-ico"></i> <span i18n = "common.faq"></span></a>
                    </li>

                 <li ng-if = "!logged"> 
                    <a href="#/contactus"><i class="menu-ico contact-ico"></i> <span i18n = "common.contactUs"></span></a>
                    </li>

                 <li ng-if = "!logged">
                    <a href="#/terms"><i class="menu-ico terms-ico"></i> <span i18n = "common.termsAndConditions"></span></a>
                    </li>
                <li ng-if = "!logged">
                    <a href="#/privacy"><i class="menu-ico privacy-ico"></i> <span i18n = "common.privacyPolicy"></span></a>
                    </li>
                
                <li ng-if="logged && !showPartner">
                    <a href="" ui-sref="account.show" reset-edit ng-click="isResetEditPage();"><i class="menu-ico userlog-ico"></i> <span i18n="common.myAccount"></span></a>
                </li>
                 <li ng-if="showPartner">
                    <a href="" ui-sref="base.partner"><i class="icon-account_icon"></i> <span i18n="common.myAccount"></span></a>
                </li>
                <li ng-if="logged">
                    <a href="" ui-sref="account.edit"><i class="fa fa-pencil"></i> <span i18n="common.editAccount"></span></a>
                </li>
                <li ng-if="logged">
                    <a href="" ui-sref="account.settings"><i class="icon-setting_icon"></i> <span i18n="common.settings"></span></a>
                </li>
                <li ng-if="logged">
                    <a href="" ui-sref="account.messages">
                        <i class="icon-message_center_icon"></i> <span i18n="common.messageCenter"></span>
                        <span class="label label-danger">{{ newMessagesCount }}</span>
                    </a>
                </li>
                  <li ng-if="logged" id="dropdownMenuButton">
                    <a class="dropdown-toggle padding_left_text" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="images/download.png" alt=""><span i18n="common.download"></span></a>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a ng-click="showloaderonpagepdf()" ng-href="{{cardidurldetailval}}" download="{{cardidurldetailval}}" target="_blank"><img src="images/CardID_white.png" alt=""  width="20px"> <span i18n="common.idCard"></span></a>
                    
                    <a ng-click="downloadlockscreen()" ng-href="{{downloadlockscreenidpath}}" download="{{downloadlockscreenidpath}}" target="_blank"><img src="images/lockScreenId_white.png" alt=""  class="lockScreenId_white"> <span i18n="common.idLockscreen"></span>                  
                    </a>

                    <a ng-if="isiphoneapp" ng-click="showloaderonpagepdf()" ng-href="{{language  == 'en-US'? iphoneappdownloadurl : iphoneappdownloadurlchina}}" download="{{language  == 'en-US'? iphoneappdownloadurl : iphoneappdownloadurlchina}}" target="_blank" class="padding_left4"><img src="images/ios_app.png" alt=""> <span i18n="common.app"></span></a>

                    <a ng-if="isandroidapp" ng-click="showloaderonpagepdf()" ng-href="{{androidappdownloadurl+'&hl='+language}}" download="{{androidappdownloadurl+'&hl='+language}}" target="_blank"><img src="images/android_app.png" alt=""> <span i18n="common.app"></span></a>
                  </div>
                </li>
                <li ng-if="!showPartner && logged">
                    <a id="promoClick" href="javascript:void(0);" ng-if="!account.is_premium" access-records="{{account}}" size="sm" templateUrl="partials/modal/access-records.html">       
                    <img  src="images/star.png" alt="" class="premium_icon" /> <span  i18n="common.upgradePremium"></span>
                    </a>
                </li>
                
                <li ng-if="logged">
                    <a href="" ng-click="logout()"><i class="icon-log_out_icon"></i> <span i18n="common.logOut"></span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
