<div class="popup-b02-input-email">
    <div class="close-pop"> <i class="fa fa-times" href="javascript:void(0);" ng-click="cancel();"></i> </div>
        <div class="modal-body text-left">
            <h4>
                <span i18n="common.addContact" data-full-name="{{ PersonName.build(member.first_name, member.middle_name, member.last_name) || member.email }}"></span> 
            </h4>
            <section class="content" ng-switch on="modalContent">
                <div ng-switch-default>
                    <div class="bx-white nominate-contact">
                        <div class="row nominate_box">
                                                         
                            <div class="col-md-6" ng-click="slideTo('listNomination');">
                                <div class="box-person no-backgourd">
                                    <span class="icon-nominate1">
                                       <i class="ecp_icon_list"></i>
                                    </span>

                                    <div class="text-popup">
                                        <h3 i18n="common.chooseFromList"></h3>
                                        <div i18n="common.chooseFromListDescription"></div>
                                    </div>
                                </div>
                                <a href="javascript:void(0);" class="fa fa-chevron-circle-right"></a>
                            </div>
                            <div class="col-md-6" ng-click="slideTo('emailNomination');">
                                <div class="box-person no-backgourd">
                                <span class="icon-nominate1">  <i class="add_user"></i>     </span>
                                    <div class="text-popup">
                                        <h3 i18n="common.nominateNewPerson"></h3>
                                        <div i18n="common.nominateNewPersonDescription">
                                        </div>
                                    </div>
                                </div>
                                <a href="javascript:void(0);" class="fa fa-chevron-circle-right"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--ecp list-->

                <form role="form" novalidate name="addContactForm" ng-switch-when="listNomination" ng-submit="addContactForm.$valid && sendEmailNomination(member.id, contact.email)">
                    <div class="form-group">
                        <label ia-label required message="tooltips.selectEcp" translation="common.selectExistingContact"></label>
                        <div class="custom_select" ng-class="{'has-error': addContactForm.$submitted && addContactForm.contact_list.$invalid}">
                            <ia-contacts enable member="member" ng-model="contact" name="contact_list" required></ia-contacts>
                        </div>
                        <div ng-show="addContactForm.$submitted" ng-messages="addContactForm.contact_list.$error">
                            <div class="alert alert-danger" ng-message="required"><span i18n="errors.emergencyContactRequired"></span></div>
                        </div>
                        <div ng-repeat="error in errors">
                            <div class="alert alert-danger">{{error.message}}</div>
                        </div>
                    </div>
                    <p class="text-center">
                        <button type="submit" class="btn btn-theme btn-150 " i18n="common.sendNomination"></button>
                    </p>
                </form>


                <form novalidate name="contactNominationForm" role="form" id="form" ng-switch-when="emailNomination" ng-submit="contactNominationForm.$valid && sendEmailNomination(member.id, email)">
                    <div class="pb-15">
                        <div class="clear_float_width">
                            <label class="clear_float_width" ia-label required message="tooltips.ecpEmail"><strong i18n="common.ecpEmail"></strong></label>

                            <div class=" form-group input-email clear_float_width" ng-class="{'has-error': contactNominationForm.$submitted && contactNominationForm.nomination_email.$invalid}">
                                <input class="form-control"
                                       name="nomination_email"
                                       ng-model="email"
                                       type="email"
                                       data-i18n-attr="{placeholder: 'common.emailAddress'}"
                                       email enable  ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' required>
                            </div>
                            <div class="clear_float_width" ng-show="contactNominationForm.$submitted" ng-messages="contactNominationForm.nomination_email.$error">
                                <div class="alert alert-danger" ng-message="required"><span i18n="errors.emailRequired"></span></div>
                                </div>
                    <div class="clear_float_width" ng-show="contactNominationForm.nomination_email.$error.pattern">
                         <div class="alert alert-danger"><span i18n="errors.emailFormat"></span></div>
                    </div>

                            
                            <div class="clear_float_width" ng-repeat="error in errors">
                                <div class="alert alert-danger">{{error.message}}</div>
                            </div>
                        </div>
                        <p class="form-group  clear_float_width">
                            <button class="btn btn-theme btn-150" i18n="common.sendNomination"></button>
                        </p>
                    </div>
                </form>
            </section>
        </div> 
</div>
