<style type="text/css">
      .modal-dialog .modal-content {
        border: none !important;
        border-bottom: none !important;
        background-color: #6cb715;
        border-radius: 0;
        min-height: 100vh;
      }
      .popup-covid{
        position: relative;
        margin-top: 10px;
      }
      .popup-covid .popup-covid-heading h1 {
        font-size: 24px;
        color: #ffff;
        text-transform: uppercase;
      }
      .popup-covid-heading span {
        background: #e2f1d0;
        font-size: 12px;
        border-radius: 50px;
        padding: 2px 20px;
     }
     .popup-covid-body .qr_code h3 {
        font-size: 18px;
        color: #575757;
        max-width: 190px;
        margin: 10px auto !important;
     }
     .popup-covid-body {
        background: #fff;
        border-radius: 24px;
        margin-top: 15px;
        padding: 15px;
    }
    .popup-covid-body h4.user-name {
        color: #4db8f2;
        font-size: 16px;
        position: relative;
    }
    .popup-covid-body h4.user-name:before {
        content: "";
        position: absolute;
        width: 40px;
        height: 2px;
        background: #7f7f7f;
        left: 50%;
        transform: translateX(-50%);
        top: 6px;
    }
    .popup-covid .qr_code span {
        display: block;
        margin: 12px 0;
        font-size: 14px;
        font-weight: 500;
        color: #797979;
    }
    .popup-covid .report h1 {
        text-transform: uppercase;
        color: #6cb715;
        font-weight: 600;
        margin-top: 10px;
    }
    .popup-covid .popup-logo {
        margin: 30px 0;
    }
    .popup-covid .qr_code img{
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.27);
    }
    .popup-covid .popup-logo span {
        color: #58bff3;
    }
    .modal-dialog {
        top: 0;
        margin: 0;
        width: 100%;
     }
    .popup-covid .close-pop i {
       font-size: 24px;
     }
    .popup-covid .close-pop {
        right: auto;
        top: 6px;
        background: transparent;
    }
    .popup-covid .popup-covid-heading {
        margin-top: 20px;
    }
</style>
<div class="popup-covid">
      <div class="close-pop"> 
        <i class="fa fa-arrow-circle-left" aria-hidden="true" href="javascript:void(0);" ng-click="cancel();"></i> 
      </div>
    <div class="modal-body text-center">
        <div class="pb-15"> 
            <div class="form-in">
                <div class="form-sub-in">
                   <div class="popup-covid-heading"> 
                      <h1>{{memberdata.pcategory}}</h1>
                      <span>2 days ago</span>
                   </div>
                   <div class="popup-covid-body">
                      <h4 class="user-name">{{memberdata.fullname}}</h4>
                      <div class="qr_code"> 
                        <h3>{{memberdata.pname}}</h3>
                        <span class="date">Updated: 2020-09-22</span>
                      <a href="#" class="popover__message" target="_blank"><img ng-src="{{memberdata.qrcode}}" style="cursor:pointer;" src="{{memberdata.qrcode}}"></a>
                    </div>
                    <div class="report">
                      <h1>{{memberdata.result}}</h1>
                    </div>
                    <div class="popup-logo">
                            <img class="header-logo-img" src="/images/mstile-310x310.png" alt="iCE Angel">
                             <span class="header-logo-text" i18n="common.iceAngelId"></span>
                    </div>
                   </div>
                </div>

            </div>
        </div>
    </div>
</div>
