<script>

$.ajaxSetup({
      cache: true
    });

    window.fbAsyncInit = function() {
      FB.init({
        appId: "498919360311253",
        xfbml: true,
        version: "v3.2"
      });
       FB.AppEvents.logPageView();
    };

    (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

</script>

<div class="popup-login-final">
      <div class="close-pop"> <i class="fa fa-times" href="javascript:void(0);" ng-click="cancel();"></i> </div>
        <div class="modal-body text-left">
            <section class="content" >
                <h2>
                    <span i18n="common.messengerConnect"></span> 
                </h2>
                <div class="title">                    
                </div>
                <div id="fb-root" class="row">
                  <div class="col-xs-12 col-md-6 text-center"> 
                      <h3>
                        <span class="messenger-number-print">1. </span>
                        <span class="messenger-step" i18n="common.messengerStep1"></span>
                      </h3> 
                      <div class="social-plugin">
                        <div class="fb-like" data-href="https://www.facebook.com/iceangelid" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                      </div> 
                  </div>
                  <div class="col-xs-12 col-md-6 text-center">
                      <h3>
                        <span class="messenger-number-print">2. </span>
                        <span class="messenger-step" i18n="common.messengerStep2"></span>
                      </h3>
                        <div class="social-plugin">
                            <div fb-send-to icedata="account.ice_id" ></div>
                        </div>
                  </div>
                </div>
            </section> 
        </div>
</div>

