<ng-form name="allergyForm" novalidate>
    <div class="form-person-heading">
        <span i18n="common.allergyInfoNumber" data-number="{{$index + 1}}"></span>
        <a href="javascript:void(0);" class="remove-btn" ng-click="remove('allergies', 'medical', $index,'AllergyInfo_tab');">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
    </div>
    <div class="form-person-body">
        <div class="form-group col-xs-12">
            <label ia-label required translation="common.nameOfThing"></label>

            <div class="custom_select" ng-class="{'has-error' : memberForm.$submitted && allergyForm.allergy_name.$invalid}">
                <select class="form-control" name="allergy_name" ng-model="::allergy.name" ng-options="allergy.id as allergy.name group by allergy.category for allergy in results = (globals.settings.allergies.categories.toArray() | optionsTrans:'name' | optionsSort:'name')" required>
                    <option value="" class="hide" i18n="common.selectAllergy"></option>
                </select>
            </div>
            <div ng-if="memberForm.$submitted  || allergyForm.allergy_name.$touched" ng-messages="allergyForm.allergy_name.$error" >
                 <div class="alert alert-danger" ng-message="required"><span i18n="common.requiredfield"></span></div>
            </div>
        </div>
        <div class="form-group  col-xs-12">
            <label ia-label required translation="common.reaction"></label>

            <div class="custom_select" ng-class="{'has-error' : memberForm.$submitted && allergyForm.allergy_reaction.$invalid}">
                <select class="form-control" name="allergy_reaction" ng-model="::allergy.reaction" ng-options="reaction.id as reaction.name for reaction in results = (globals.settings.allergies.reactions.toArray() | optionsTrans:'name' | optionsSort:'name' )" required>
                    <option value="" class="hide" i18n="common.selectReaction"></option>
                </select>
            </div>
            <div ng-if="memberForm.$submitted  || allergyForm.allergy_reaction.$touched" ng-messages="allergyForm.allergy_reaction.$error" >
                 <div class="alert alert-danger" ng-message="required"><span i18n="common.requiredfield"></span></div>
            </div>
        </div>
        <div class="form-group  col-xs-12">
            <label ia-label required translation="common.severity"></label>

            <div class="custom_select" ng-class="{'has-error' : memberForm.$submitted && allergyForm.allergy_severity.$invalid}">
                <select class="form-control" name="allergy_severity" ng-model="::allergy.severity" ng-options="severity.id as severity.name for severity in results = (globals.settings.allergies.severities.toArray() | optionsTrans: 'name' | orderBy: '+id')" required>
                    <option value="" class="hide" i18n="common.selectSeverity"></option>
                </select>
            </div>
            <div ng-if="memberForm.$submitted  || allergyForm.allergy_severity.$touched" ng-messages="allergyForm.allergy_severity.$error" >
                 <div class="alert alert-danger" ng-message="required"><span i18n="common.requiredfield"></span></div>
            </div>
        </div>

        <div notes-layout class="form-group  col-xs-12" notes="allergy.notes"></div>
        
        <div class="form-input-delete col-xs-12">
            <label ia-label class="ia-label-text left-column-title" message="tooltips.covidupload" translation="common.attachment"></label>
          
                  <div class="form-group">
                     
                      <div class="  box-upload">
          
                          <attachment file="allergy.document"></attachment>
          
                          <div class="col-xs-12 photo_upload_text_box">
                              <div class="upload_avatar">
                                  <button class="btn btn-primary btn-lg btn-block btn-web" type="button">
                                      <span class="upload-btn" i18n="common.upload"></span>
                                       <i id="allergy{{$index}}" class="" style="font-size:18px"></i>
                                  </button>
          
                                  <ng-file size="2048"
                                           accept="{{fileuploadtype}}"
                                           ng-model="allergy.upload"
                                           model="allergy"
                                           name="document" ng-click="uploadFileFun('allergy'+$index);" >
                                           
                                  </ng-file>
                              </div>
                          </div>
                      </div>
                        <!--  <div class="delete-input">
                            <a href="javascript:void(0);" ng-if="member.additional_information.records.living_will.document!==null && 
                            member.additional_information.records.living_will.document!==undefined" ng-click="resetStatus('living_will', 'records','document');" class="glyphicon glyphicon-trash error-txt"></a>
                        </div> -->
                      <div ng-messages="covid_reports.upload.$error">
                          <div class="alert alert-danger" ng-message="filesize"><span i18n="errors.fileSize"></span></div>
                      </div>
                      <!--<div ng-show="covidForm.document.$touched && !covid.document" class="ng-scope">
                        <div class="alert alert-danger" i18n="errors.uploadfield"></div>
                     </div>-->
                   </div>
            </div>

    </div>
    <input type="hidden" ng-model="::allergy.id"/>
</ng-form>
