<div id="account-home">
  <div class="container no-padding">
    <div class="links_section_heading">
        <img src="images/members-ptn-active.png" alt="icon"> 
        <span i18n="common.membersNumber" data-number="{{partner_ice_id.members.length-1 || 0}}"></span>
    </div>
<div id="container-fluid"  class="memberlist-html-div">
  <div id="main-load-content" class="main-load-content">
        <!--<div class="modal fade" id="CsvMemberResult" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">                    
                    {{createdMemberRecords}} <span i18n="common.newRecordsCreated"></span>    <div class="close-pop"><i class="fa fa-times" data-dismiss="modal" aria-label="Close"></i></div>
                    </div>
                    <div class="modal-body " >
                    <p  ng-show="csvPartnerMemberErrors.length>0">
                      <span i18n="common.recordCreatedFailed" ></span> <br>
                      <ul>
                          <li ng-repeat="error in csvPartnerMemberErrors">
                              <div>{{error}}</div>
                          </li>
                      </ul>
                    </p>
                    <p  ng-if="limitexceed">
                      {{limitexceedmessage}}
                    </p>
                    </div>
                </div>
            </div> 
        </div> -->
    <div class="main-wrap" id="finlist-div-id">
      <div class="container no-padding"  id="partner-page">
        <div class="article-wrap-container article-title account-holder row partner">
                <h2 class="memberList-heading sub-heading">
                    <div  id="uploadCsvFile">
                      <button ng-if="account.is_premium || partner_premium_status"  class="btn green " type="button">
                        <span class="upload-btn" i18n="common.csvFileUploadRecommendation"></span>
                        <span class="fa-spinner-icons">
                        <i class="fa fa-spinner fa-spin" style="font-size:18px" ng-show="csvUpLoading"></i>
                        </span>
                      </button> 
                      <ng-csv-file-member ng-if="account.is_premium || showPartner" accept="'.csv'" ng-model="partnerAccount.CsvInfo" model="partnerAccount" id="uploadMemberCsvFile" name="file" max-size="3072"></ng-csv-file-member>
                    </div>
                  
                    <div class="add-mamber-button">  
                       <div ng-if="account.is_premium || account.members.length<5  || partner_premium_status">
                           <a class="add_member_record" access-records="{{account}}" size="sm" templateUrl="partials/modal/access-records.html">
                            </a>
                       </div>
                          <div class="sort-filter desktop_filter">
                          <div class="filter_search_bar">
                          <i class="fa fa-search" aria-hidden="true"></i>  
                          <input class="search-filter" type="text" ng-model="search" data-i18n-attr="{placeholder: 'common.dataSearch'}">
                          </div>
                           <div class="sorting-icon" ng-click="changeSortingOrder();" >
                             <img src="/images/sorting_icon.png" ng-show="sort.descending" />
                             <img src="/images/sorting_icon_d.png" ng-show="!sort.descending"/> 
                           </div>
                           <select class="select" name="sortby" ng-change="changeSortingMem(sortby);" ng-model="sortby" ng-options="item.value as item.name for item in results = (globals.settings.PTNFilter4MEM.toArray() | optionsTrans:'name' | optionsSort:'name')" >
                           <option class="hide" value="" i18n="common.select"></option>
                         </select>
                       </div>
                       <!--<div  class="sort-filter mobile_filter"> 
                            
                              <select class="select dropdown-menu" name="sortby" ng-change="changeSortingMem(sortby);" ng-model="sortby" ng-options="item.value as item.name for item in results = (globals.settings.PTNFilter4MEM.toArray() | optionsTrans:'name' | optionsSort:'name')" >
                                <option class="hide" value="" > <img class="" src="images/sorting_icon.png" alt="sort_icon"></option>
                              </select>
                            
                       </div>-->
                   
                    </div>
                </h2>            
        </div>
       
        <div class="col-xs-12  section-wrap-container article-wrap content_block_data grid_height margin_top_none   p-xs-0">
        <div class="success-message member-remove-info fade-in fade-message" hidden>
          <div class="alert alert-success" i18n="common.removeSuccessfully"></div>
        </div>
        <span ng-if="!finLoading" class="fa-spinner-icon">
          <i class="fa fa-spinner fa-spin fa-3x fa-fw" aria-hidden="true"></i>
        </span>
            <!--  <span class="select_shorting">Select Sorting :    
              <select>
               <option>Sorting by ID</option>
               <option>Sorting by Name</option>
             </select>
             </span> -->
          <div class=""  ng-if="finLoading"  ng-class="{'table_zh': globals.language == 'zh-CN', 'table_en':globals.language == 'en-US'}">
                <div ng-if="(partner_ice_id.members.length===1) || (partner_ice_id.members |filter:search).length == 0 || ((partner_ice_id.members |filter:search)[0].id == (partner_ice_id.members |filter:search)[0].account_id && (partner_ice_id.members |filter:search).length == 1)" class="no-info">
                        <span i18n="common.noInformationToDisplay" class="no_content"></span>
                </div>
              <!-- ---------------- grid start ------------------ --> 

                  <div class="col-xs-12 partner-grid repeat_{{member.id}}"  ng-repeat = "member in partner_ice_id.members | orderBy:sort.column:sort.descending  | filter:search" ng-if="member.id != partner_account_id">
                        <div class="col-xs-12 drop-menu">
                            <div class="dropdown dropdown_btn dropdown_btn_top">
                                <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="ex1"     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   <img class="" src="images/ellipsis.png" alt="">
                                </button>
                                <div class="dropdown-menu dropdown-menu-left member_ellipse_icon member_ellipse_icon_dropdown account-memberlist-member" aria-labelledby="ex1">
                                  <button ui-sref="account.viewMember({member_id: member.id})" class="dropdown-item" type="button">
                                      <a href="#"> <span class="delete_txt"  i18n="common.view"></span> </a>
                                  </button>
                                  <button class="dropdown-item" type="button" membereditidval='{{member.id}}' access-records size="sm" templateUrl="partials/modal/access-records.html">
                                    <a class="" > 
                                       <span class="edit_txt" i18n="common.edit"></span> 
                                   </a>
                                  </button> 
                                             
                                  <button class="dropdown-item" type="button" ng-class="{'disabled': member.devices.length==0}" templateurl="partials/member/devicepopup.html"  sync-devices-popup >
                                    <a href="javascript:void(0);" size="sm">
                                        <span class="delete_txt" i18n="common.syncedDevices"></span></a>
                                  </button>                  
                                    <button class="dropdown-item" type="button" account="account" member="member" templateurl="partials/modal/delete-member.html" id="partnermemberdelete" delete-member>
                                     <a href="javascript:void(0);" class="delete" size="sm">
                                        <span class="delete_txt" i18n="common.delete"></span>    
                                         </a>
                                  </button> 
                                </div>
                            </div>
                        </div> 
                        <div class="col-sm-3 col-xs-12 user-img-id">
                            <div class="col-xs-12 no-padding">
                               <ia-avatar avatar="{{ member.photo }}" class="clickable" ui-sref="contact.viewMember({member_id: member.id})"></ia-avatar>
                            </div>
                            <div class = "col-xs-12 no-padding">
                              <div class = "popover__wrapper">
                                <finmember-id model="member" class="profile_info id-ptn"><span i18n="common.memberId"></span></finmember-id>
                                <div class="push popover__content">
                                 <span ng-show="!openFINload"><i class="fa fa-spinner" aria-hidden="true"></i></span>

                                 <a href="{{openFIN}}{{member.ice_id}}.png" class="popover__message" target="_blank"><img ng-src="{{openFIN}}{{member.ice_id}}.png" style="cursor:pointer;"></a>
                               </div>
                              </div>
                            </div>
                         </div>
                         <div class="col-sm-9 col-xs-12 user-detail no-padding">
                            <div class="col-xs-12 no-padding">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 user-data"> 
                                      <span i18n = "common.lastName"></span>
                                      <p class="top_margin ellipse_style">
                                          {{member.last_name}}
                                      </p> 
                                    </div>
                                    <div class="col-xs-12 col-sm-4 user-data"> 
                                      <span i18n = "common.firstName"></span>
                                      <p class="top_margin ellipse_style">
                                         {{ member.first_name}}
                                      </p> 
                                    </div>
                                    <div class="col-xs-12 col-sm-4 user-data">
                                      <span i18n = "common.middleName"></span>
                                      <p class="top_margin ellipse_style">
                                         {{ member.middle_name}}
                                      </p> 
                                    </div>
                                    <div class="col-xs-12 col-sm-4 user-data">
                                      <span i18n = "common.telephone"></span>
                                      <p full-phone-number="" phonecode="member.phone.code" phonenumber="member.phone.number"> </p> 
                                    </div>
                                    <div class="col-xs-12 col-sm-4 user-data">
                                      <span i18n = "common.email"></span>
                                      <p class="top_margin ellipse_style">
                                        <a class="top_margin email_color" href="mailto:{{member.email}}">{{member.email}}</a>
                                      </p> 
                                    </div>
                                    <div class="col-xs-12 col-sm-4 user-data">
                                      <span ng-click="sortBy('fullDate')" i18n = "common.dateOfBirth"></span>
                                      <p class="top_margin ellipse_style" full-date year="member.birth_date.year" month="member.birth_date.month" day="member.birth_date.day"> </p> 
                                    </div>  
                                </div>
                            </div>
                         </div>
                         <div class="col-xs-12 drop-menu">
                              <div ng-click = "showFinEcp = !showFinEcp; addPtnSubClass(member.id)" class="arrow_btn"> 
                                 <span><i ng-class="{'fa fa-chevron-up': showFinEcp, 'fa fa-chevron-down': !showFinEcp}" aria-hidden="true"></i></span>
                              </div> 
                         </div>
                          <div class="col-xs-12 ptn-ecp" ng-show="showFinEcp" class="sub-over"  >
                            <div class="col-xs-12 col-sm-12 no-padding">
                              <span i18n="common.emergencyContactPerson" class="ecp_title_class"></span>
                            </div>
                            
                            <div class="col-xs-12 col-sm-12 text-center">
                               <div class="col-xs-12 col-sm-12 text-center">
                                   <div ng-show="member.contacts.length <= 1" class="btn-add"> 
                              <a href="javascript:void(0);" ng-if="account.is_premium && !showPartner" add-contact size="sm" class="btn-color green unsync"  templateUrl="partials/contact/templates/addContact.html" i18n="common.addButton">
                              </a> 
                              <a href="javascript:void(0);" ng-if="showPartner"  add-contact size="sm" class="btn-color green unsync"  templateUrl="partials/contact/templates/addContact.html" i18n="common.addButton">
                              </a>  
                                 <a href="javascript:void(0);" ng-if="!account.is_premium && !showPartner"   class="btn-color green unsync"  i18n="common.addButton" access-records="{{account}}" size="sm" templateUrl="partials/modal/access-records.html">
                              </a>  
                            </div> 
                            </div> 
                            </div>

                            <div class="main_grid_list_details col-lg-6 col-sm-6 col-sm-12" ng-repeat = "contact in member.contacts |uniquey:'email' track by $index"> 
                              <div id="collapseOne{{$index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="list_details" ng-if="member.contacts.length>0" id="ecp_list_details" >   
                                    <div class="col-xs-12 btn-drop">
                                       <div ng-if="!viewMode" class="resend_nomination_dat">
                                          <div class="dropdown dropdown_btn">
                                            <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="ex1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              <img class="" src="images/ellipsis.png" alt="">
                                            </button>
                                          <div class="dropdown-menu dropdown-menu-left" aria-labelledby="ex1">
                                            <button  ng-if="account.is_premium && contact.status === 'accepted'"  class="dropdown-item" ng-click="goPermissionPage(account.id, member.id, contact)" type="button">
                                              <a href="javascript:void(0);">
                                                <span i18n="common.permissions"></span>
                                              </a>
                                            </button>
                                            <button class="dropdown-item" ng-click="resendContactNomination(member.id, contact.email)" re-send templateurl="partials/contact/templates/reSend.html" type="button" ng-if="contact.status == 'pending'">
                                              <a href="javascript:void(0);">
                                                <span i18n="common.resend"></span>
                                              </a>
                                            </button>
                                            <button class="dropdown-item" type="button" remove-contact templateUrl="partials/contact/templates/removeContact.html">
                                              <a href="javascript:void(0);" size="sm"  > 
                                                <span i18n="common.delete"></span>
                                              </a>
                                            </button>
                                        </div>
                                      </div>  
                                    </div>
                                    </div> 
                                    <div class="col-xs-12 detail">
                                      <div class="col-xs-3 no-padding">
                                        <div class="col-xs-12  row  ">
                                          <ia-avatar avatar="{{ contact.photo }}" class="clickable" ng-if="contact.status !== 'pending'"></ia-avatar>
                                          <ia-avatar avatar="{{}}" class="clickable"  ng-if="contact.status == 'pending'"></ia-avatar>
                                        </div>  
                                      </div>
                                      <div class="col-sm-9 col-xs-12 "> 
                                        <div class="row"> 
                                            <div class="no-padding" ng-if="contact.status !== 'pending'"> 
                                              <p>{{ PersonName.build(contact.first_name, contact.middle_name, contact.last_name) || contact.email }} </p> 
                                            </div>
                                            <div ng-if="contact.status == 'pending'" class="no-padding">
                                                <p> 
                                                  <span class="error-txt" i18n="common.waitingForResponse" ng-if="contact.status == 'pending'"></span>
                                                </p>
                                            </div>
                                            <div  class="set-font-size" ng-if="!isMobile && contact.phone!=null && contact.phone!=''" >
                                              <p ng-if="contact.status != 'pending'">
                                              <em class="phone"><img src="images/sm-1.png" alt=""></em> <span full-phone-number="" phonecode="contact.phone.code" phonenumber="contact.phone.number" ></span>
                                              </p>
                                            </div> 
                                            <div  class="set-font-size" ng-if="!isMobile==false && contact.phone!=null && contact.status != 'pending'" >
                                              <p>
                                                <em class="phone"><img src="images/sm-1.png" alt=""></em> <span full-phone-number="" phonecode="contact.phone.code" phonenumber="contact.phone.number"></span>
                                              </p> 
                                            </div>         
                                            <div class="set-font-size">
                                              <p><em class="envelop"><img src="images/sm-2.png" alt=""></em> {{contact.email}}</p>
                                            </div>  
                                           
                                            
                                            <div class="no-padding">
                                              <div class="resend_nomination_dat" style="display: none">                        
                                                <a href="javascript:void(0);" ng-click="resendContactNomination(member.id, contact.email)" class="resend-nomination-btn btn  btn-padding unsync" i18n="common.resend" ng-if="contact.status == 'pending'"><i class="fa fa-paper-plane" aria-hidden="true"></i>
                                                </a>
                                                <a href="javascript:void(0);" class="delete hidden-lg hidden-md"  size="sm" remove-contact templateUrl="partials/contact/templates/removeContact.html">
                                                  <span class="glyphicon glyphicon-trash trash_border"></span>
                                                </a>
                                              </div>
                                            </div>  
                                        </div>
                                      </div>
                                    </div>
                                </div>
                              </div> 
                            </div>

                            <!--<div class="main_grid_list_details col-lg-6 col-sm-6 col-sm-12 list_details_patner_account">
                                  <div id="collapseOne{{$index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="list_details" id="ecp_list_details">
                                       <div class="col-xs-12 btn-drop">
                                         <div ng-if="!viewMode" class="resend_nomination_dat">
                                            <div class="dropdown dropdown_btn">
                                              <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="ex1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img class="" src="images/ellipsis.png" alt="">
                                              </button>
                                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="ex1">
                                              <button class="dropdown-item"ype="button">
                                              <a href="javascript:void(0);">
                                                <span i18n="common.permissions"></span>
                                              </a>
                                             </button>
                                              <button class="dropdown-item" type="button">
                                                <a href="javascript:void(0);" size="sm"  > 
                                                  <span i18n="common.delete"></span>
                                                </a>
                                              </button>
                                          </div>
                                           </div>  
                                      </div>
                                     </div> 
                                     <div class="col-xs-12 detail">
                                      <div class="col-xs-3 no-padding">
                                        <div class="col-xs-12  row  ">
                                          <ia-avatar avatar="{{ contact.photo }}" class="clickable"></ia-avatar>
                                        </div>  
                                      </div>
                                       <div class="col-sm-9 col-xs-12"> 
                                         <div clss="row">
                                          <div class="no-padding">
                                            <p>FirsnametUmesh MiddleName LastnameMehta</p>
                                          </div>
                                          <div class="set-font-size">
                                            <p>
                                              <em class="phone"><img src="images/sm-1.png" alt="">
                                              </em> 
                                              <span>
                                              <a class="phone_code_mobile" href="tel:+91 9888854532">
                                                <span class="full-phone-number">
                                                +91 9888854532</span>
                                              </a>
                                            </span>
                                          </p>
                                         </div>
                                         <div class="set-font-size">
                                          <p>
                                            <em class="envelop">
                                              <img src="images/sm-2.png" alt="">
                                            </em> umeshmehta@krishnais.com
                                          </p>
                                         </div>
                                         </div>
                                      </div>
                                   </div>

                                    </div>
                                   </div>
                            </div>
                             <div class="main_grid_list_details col-lg-6 col-sm-6 col-sm-12 list_details_patner_account">
                                  <div id="collapseOne{{$index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="list_details" id="ecp_list_details">
                                       <div class="col-xs-12 btn-drop">
                                         <div ng-if="!viewMode" class="resend_nomination_dat">
                                            <div class="dropdown dropdown_btn">
                                              <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="ex1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img class="" src="images/ellipsis.png" alt="">
                                              </button>
                                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="ex1">
                                              <button class="dropdown-item"ype="button">
                                              <a href="javascript:void(0);">
                                                <span i18n="common.permissions"></span>
                                              </a>
                                             </button>
                                              <button class="dropdown-item" type="button">
                                                <a href="javascript:void(0);" size="sm"  > 
                                                  <span i18n="common.delete"></span>
                                                </a>
                                              </button>
                                          </div>
                                           </div>  
                                      </div>
                                     </div> 
                                     <div class="col-xs-12 detail">
                                      <div class="col-xs-3 no-padding">
                                        <div class="col-xs-12  row  ">
                                          <ia-avatar avatar="{{ contact.photo }}" class="clickable"></ia-avatar>
                                        </div>  
                                      </div>
                                       <div class="col-sm-9 col-xs-12"> 
                                         <div clss="row">
                                          <div class="no-padding">
                                            <p>FirsnametUmesh MiddleName LastnameMehta</p>
                                          </div>
                                          <div class="set-font-size">
                                            <p>
                                              <em class="phone"><img src="images/sm-1.png" alt="">
                                              </em> 
                                              <span>
                                              <a class="phone_code_mobile" href="tel:+91 9888854532">
                                                <span class="full-phone-number">
                                                +91 9888854532</span>
                                              </a>
                                            </span>
                                          </p>
                                         </div>
                                         <div class="set-font-size">
                                          <p>
                                            <em class="envelop">
                                              <img src="images/sm-2.png" alt="">
                                            </em> umeshmehta@krishnais.com
                                          </p>
                                         </div>
                                         </div>
                                      </div>
                                   </div>

                                    </div>
                                   </div>
                            </div> -->
                          </div>
                         
                  </div> 
                  <!--<div class="col-xs-12 partner-grid" ng-show="(partner_ice_id.members |filter:search).length == 0 || ((partner_ice_id.members |filter:search)[0].id == (partner_ice_id.members |filter:search)[0].account_id && (partner_ice_id.members |filter:search).length == 1) " i18n="common.noInformationToDisplay"></div>-->
              <!-- -------------Grid end----------------------- -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
