<div class="popup-b02-input-email">
    <div class="close-pop"> <i class="fa fa-times" href="javascript:void(0);" ng-click="cancel();"></i> </div>
        <div class="modal-body text-left">
            <h3 class="text-left"><i href="javascript:void(0);" ng-click="cancel();" class="close"></i></h3>
            <section class="content" ng-switch on="modalContent">
                <div class="center">
                <div class="pb-15 text-center">
               <h3 i18n="common.apiKeyReplaced"></h3>
               </div>
               <p>
               <button i18n="common.yesDefinitely" class="btn btn-theme btn-150" ng-click="renewApiKeyForPartner()"></button>
               <button i18n="common.noGoBack" class="btn btn-white btn-150" ng-click="cancel();"></button>
               </p>
                </div>
            </section>
        </div> 
</div>