<div class="android_app container">
     <!--<div class="china_store_link_div">
        <img src="images/android-logo.png"  width="30" alt=""/>
        <span i18n="common.androidchinastore" data-android="{{androidchinaapppath}}"></span> 

    </div>-->
    <a ng-if="!isiphoneapp" ng-href="{{globals.language  == 'en-US'? androidplaystoreapppath : androidchinaapppath}}" download="{{globals.language  == 'en-US'? androidplaystoreapppath : androidchinaapppath}}" target="_blank">
        <img src="images/play-store.png" width="30" alt=""/>
         <span i18n="common.androidPlaystore"></span> 
    </a>
    <a ng-if="!isandroidapp" ng-href="{{globals.language  == 'en-US'? iphoneappdownloadurl : iphoneappdownloadurlchina}}" download="{{globals.language  == 'en-US'? iphoneappdownloadurl : iphoneappdownloadurlchina}}" target="_blank">
        <img src="images/apple.png" width="30" alt=""/>
         <span i18n="common.iosAppStore"></span> 
    </a>

</div> 