<div class="form-person-heading" >
     <span i18n="common.bloodInfoNumber"></span>
     <a href="javascript:void(0);" class="remove-btn" ng-click="resetblood();" ng-if="member.additional_information.medical.blood.blood_type!==null && member.additional_information.medical.blood.blood_type!==undefined">
            <span class="glyphicon glyphicon-trash"></span>
    </a>
</div>
<div class="form-person-body additional_notes">
 <div class="form-input-delete col-xs-12">
    <label class="space"></label>
    <div class="form-group">
        <div class="custom_select">
            <select class="form-control" ng-model="::member.additional_information.medical.blood.blood_type" ng-options="type.id as type.type for type in globals.settings.blood_types.toArray()">
                <option value="" class="hide" i18n="common.selectBloodType"></option>
            </select>
        </div>
    </div>
     </div>
    <div notes-layout class="form-group  col-xs-12" notes="member.additional_information.medical.blood.notes"></div>
</div>
