<ng-form name="covidForm" novalidate>
    <div class="form-person-heading">
        <span i18n="common.covidtestnumber" data-number="{{$index + 1}}"></span>
        <a href="javascript:void(0);" class="remove-btn" ng-click="remove('covid_reports', 'medical', $index,'CovidInfo_tab');">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
    </div>
    
    <div class="form-person-body">


        <div ng-show="!viewMode" class="form-group col-xs-12 barcode" ng-hide="covid.id" >
        <span i18n="common.scancode" ></span> <img  class="barcode-img" scan-qrcode indexform="{{ $index }}"  src="/images/barcode.png">
        <div ng-if="incompleteProfle">
            <div class="alert alert-danger" style="text-align: left;" ><span i18n="errors.profilemessage">First complete your basic profile information</span></div>
       </div>
        </div>


        <div class="form-group  col-xs-12">
            <label ia-label required  translation="common.category"></label>

            <div class="custom_select" ng-class="{'has-error' : memberForm.$submitted && covidForm.covid_status.$invalid}">
                <select  ng-disabled="covid.scanned" required class="form-control" name="pcategory" ng-model="::covid.pcategory"
                        ng-options="type.value as type.name for type in results = (globals.settings.covidCategories.toArray() | optionsTrans:'name' | optionsSort:'name')">
                    <option class="hide" value="" i18n="common.category"></option>
                </select>
            </div>
            <div ng-if="memberForm.$submitted  || (covidForm.pcategory.$touched  || covidForm.pcategory.$error.notScanned )" ng-messages="covidForm.pcategory.$error" >
                <div class="alert alert-danger" ng-message="required"><span i18n="common.requiredfield"></span></div>
                <div class="alert alert-danger" ng-message="notScanned"><span i18n="common.invalidQR"></span></div>
           </div>
        </div>
    
        <div class="form-group  col-xs-12" ng-class="{'has-error' : memberForm.$submitted && covidForm.covid.$invalid}">
            <label ia-label  translation="common.product" message="tooltips.product"></label>
            <input class="form-control" ng-disabled="covid.scanned" name="pname" data-i18n-attr="{placeholder: 'common.product'}" ng-model="::covid.pname" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }">
            <!--<div ng-show="covidForm.pname.$touched" class="ng-scope">
                <div class="alert alert-danger" i18n="errors.productfield"></div>
             </div>-->
        </div>

        <div class="form-group  col-xs-12" ng-class="{'has-error' : memberForm.$submitted && covidForm.covid.$invalid}">
            <label ia-label translation="common.manufacture" message="tooltips.manufacture"></label>
            <input class="form-control" name="mfname"  ng-disabled="covid.scanned ? 1 : 0" data-i18n-attr="{placeholder: 'common.manufacture'}"  ng-model="::covid.mfname" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }">
            <input class="form-control hide"  name="fullname" ng-init="covid.fullname= member.first_name || member.last_name ? member.first_name + ' '+member.last_name:covid.fullname" data-i18n-attr="{placeholder: 'common.firstName'}" ng-model="::covid.fullname">
            <input class="form-control hide" name="scanned" ng-init="covid.scanned = covid.scanned ? 1 : 0" data-i18n-attr="{placeholder: 'common.firstName'}" ng-model="::covid.scanned">
            <!--<div ng-show="covidForm.mfname.$touched" class="ng-scope">
                <div class="alert alert-danger" i18n="errors.manufacturefield"></div>
             </div>-->
        </div>

        <div class="form-group  col-xs-12" ng-class="{'has-error' : memberForm.$submitted && covidForm.covid.$invalid}">

            <label ia-label  translation="common.lotnumber"></label>

            <input class="form-control" name="lotnumber"  ng-disabled="covid.scanned" data-i18n-attr="{placeholder: 'common.lotnumber'}" ng-model="::covid.lotnumber" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                   >
        </div> 

        <div class="form-group  col-xs-12" ng-class="{'has-error' : memberForm.$submitted && covidForm.covid.$invalid}">
            <label ia-label  translation="common.serialnumber"></label>
            <input class="form-control" ng-blur="covid.scanned"  validate-covid-product pcate="{{covid.pcategory}}" name="srnumber" ng-disabled="covid.scanned" data-i18n-attr="{placeholder: 'common.serialnumber'}" ng-model="::covid.srnumber" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }">
            <div ng-show="covidForm.srnumber.$invalid" class="ng-scope">
                <div class="alert alert-danger"><span i18n="errors.serialnumber"></span></div>
             </div>
        </div>

        <div class="form-group col-xs-12">
            <label ia-label required translation="common.date" message="tooltips.coviddate"></label>
            <ia-date   required class="date" disabled="::viewMode || (covid.scanned && covid.id) " type="past-now" model="covid.coviddate"  form="covidForm" class="date"></ia-date>
            <div class=" " ng-show="(memberForm.$submitted && (covidForm.year.$invalid || covidForm.month.$invalid || covidForm.day.$invalid)) || (covidForm.year.$touched && covidForm.year.$invalid) || (covidForm.month.$touched && covidForm.month.$invalid) || (covidForm.day.$touched && covidForm.day.$invalid)">
                <div class="alert alert-danger">
                  <span i18n="errors.certificatedate"></span>
                </div>
              </div> 
        </div>

        <div class="form-group col-xs-12 " > 
            <label ia-label required  translation="common.covidresult"></label>

            <div class="custom_select"  ng-init="$var_index=$index" ng-class="{ 'has-error' : (covidForm.result.$hasVisited || memberForm.$submitted) && covidForm.result.$invalid}">

              <label ng-if="globals.language ==='zh-CN'"   ng-repeat ="radio1 in (globals.settings.covidresult.toArray())" class="custom-check">{{radio1.name_zh}} 
                <input  ng-disabled="covid.scanned && covid.id"  type="radio" name="result_{{$var_index}}" required ng-model="::covid.result" value={{radio1.value}} >
                <span class="checkmark form-control"></span>
              </label>

              <label ng-if="globals.language ==='en-US'" ng-repeat ="radio1 in (globals.settings.covidresult.toArray())" class="custom-check">{{radio1.name_en}}
                <input ng-disabled="covid.scanned && covid.id" type="radio" required name="result_{{$var_index}}"  ng-model="::covid.result" value={{radio1.value}} >
                <span class="checkmark form-control"></span>
              </label>
              
            </div>
            <div ng-show="covidForm.result_{{$var_index}}.$touched || memberForm.$submitted" ng-messages="covidForm.result_{{$var_index}}.$error">
                <div class="alert alert-danger" ng-message="required"><span i18n="common.requiredfield"></span></div>
            </div> 
        </div>

       <div class="form-input-delete col-xs-12">
            <label ia-label class="ia-label-text left-column-title" message="tooltips.covidupload" translation="common.covidresultupload"></label>
          
                  <div class="form-group">
                     
                      <div class="  box-upload">
          
                          <attachment file="covid.document"></attachment>
          
                          <div class="col-xs-12 photo_upload_text_box">
                              <div class="upload_avatar">
                                  <button class="btn btn-primary btn-lg btn-block btn-web" type="button">
                                      <span class="upload-btn" i18n="common.upload"></span>
                                      <i id="cov{{$index}}" class="" style="font-size:18px"></i>
                                  </button>
          
                                  <ng-file size="2048"
                                           accept="{{fileuploadtype}}"
                                           ng-model="covid.upload"
                                           model="covid"
                                           name="document" ng-click="uploadFileFun('cov'+$index);" ng-disabled="covid.scanned && covid.id">
                                           
                                  </ng-file>
                              </div>
                          </div>
                      </div>
                        <!--  <div class="delete-input">
                            <a href="javascript:void(0);" ng-if="member.additional_information.records.living_will.document!==null && 
                            member.additional_information.records.living_will.document!==undefined" ng-click="resetStatus('living_will', 'records','document');" class="glyphicon glyphicon-trash error-txt"></a>
                        </div> -->
                      <div ng-messages="covid_reports.upload.$error">
                          <div class="alert alert-danger" ng-message="filesize"><span i18n="errors.fileSize"></span></div>
                      </div>
                      <!--<div ng-show="covidForm.document.$touched && !covid.document" class="ng-scope">
                        <div class="alert alert-danger" i18n="errors.uploadfield"></div>
                     </div>-->
                   </div>
            </div>


    <div notes-layout class="form-group  col-xs-12" notes="covid.notes"></div>

    <div class="form-input-delete col-xs-12" ng-show="covid.scanned && viewMode">
    <label class="ia-label-text left-column-title" i18n="common.shareablecode"></label>
    <div class="form-group"> <img ng-src={{covid.qrcode}} ></div>

    </div>

    <input type="hidden" ng-model="::covid.fullname" value={{member.full_name}} />

    <input type="hidden" ng-model="::covid.id"/>
    </div>
</ng-form>
