<div class="popup-login-final">
    <div class="close-pop"> <i class="fa fa-times" href="javascript:void(0);" ng-click="cancel();"></i> </div>
    <div class="modal-body text-center">
        <div class="pb-15">  
            <div class="alert-popup" ng-if="alert.type === 'panic'">
                <h2 i18n="common.panicButtonTriggeredMessageHeader" ></h2>
                <p i18n="common.panicButtonTriggeredMessage" data-full-name="{{ PersonName.build(alert.first_name, alert.middle_name, alert.last_name) || alert.email }}"
                data-first-name="{{alert.first_name}}" data-last-name="{{alert.last_name}}" data-time="{{alert.alerted_at | timeAgo}}"></p>
                <p i18n="common.pleaseContact" data-full-name="{{ PersonName.build(alert.first_name, alert.middle_name, alert.last_name) || alert.email }}" data-first-name="{{alert.first_name}}" data-last-name="{{alert.last_name}}" data-formatted-phone="{{alert.phone.number | phoneNumber}}" data-phone="{{alert.phone.number}}"></p>
            </div>

            <div class="alert-popup" ng-if="alert.type === 'normal'">
                <h2 i18n="common.emergencyAlertTriggeredForHeading"></h2>
                <p i18n="common.emergencyAlertTriggeredFor" data-full-name="{{ PersonName.build(alert.first_name, alert.middle_name, alert.last_name) || alert.email }}" data-first-name="{{alert.first_name}}" data-last-name="{{alert.last_name}}" data-time="{{alert.alerted_at | timeAgo}}"></p>
                <p i18n="common.pleaseContactAngel" data-full-name="{{ PersonName.build(alert.first_name, alert.middle_name, alert.last_name) || alert.email }}" data-first-name="{{alert.first_name}}" data-last-name="{{alert.last_name}}" data-formatted-phone="{{alert.phone.number | phoneNumber}}" data-phone="{{alert.phone.number}}"></p>
            </div>

            <button ng-click="accessMemberProfile(alert.url);" class="btn btn-theme btn-150 btnloader">
                <span  i18n="common.accessMemberEmergencyRecords"></span>
                <i class="fa fa-spinner fa-spin hide" style="font-size:18px"></i>
            </button>
            <!--<a ng-href="{{alert.url}}" class="btn btn-theme btn-150 btn-block" href="" i18n="common.accessMemberEmergencyRecords"></a>-->

        </div>
    </div>
</div>
