<div class="popup-login-final popup-decline" id="account-home">

    <div class="close-pop"> <i class="fa fa-times" href="javascript:void(0);" ng-click="cancel();"></i> </div>
    <div class="modal-body text-left" >
    <h2 i18n="common.changeMyEmail"></h2>
        <form role="form" name="AccountPasswordForm" novalidate ng-submit="AccountPasswordForm.$valid && checkPassword(password);">
            <div class="pb-15">
 
                <div class="form-group">
                    <div class="help-block error" ng-show="error">

                    </div>

                    <label ia-label required class="left"><strong i18n="common.accountPassword"></strong></label>

                    <div class="input-email" ng-class="{'has-error': AccountPasswordForm.$submitted && AccountPasswordForm.password.$invalid || error}">
                        <input ng-model="password" class="form-control" ng-minlength=4 ng-maxlength=12 name="password" type="{{display_password1 ? 'text' : 'password'}}" empty-field ng-change="removeErrord();" data-i18n-attr="{placeholder: 'common.password'}" required>
                       
                       <label class="password-checkbox">
                              <input type="checkbox" name="display_password1" id="display_password1" ng-model="display_password1"/>
                              <i class="fa fa-eye unchecked"></i>
                              <i class="fa fa-eye-slash checked"></i> 
                            </label>
                    </div>

                    <div ng-show="AccountPasswordForm.$submitted || AccountPasswordForm.password.$touched" ng-messages="AccountPasswordForm.password.$error">
                        <div class="alert alert-danger" ng-message="required"><span i18n="errors.passwordRequired"></span></div>
                        <div class="alert alert-danger" ng-message="minlength"><span i18n="errors.minlength"></span></div>
                        <div class="alert alert-danger" ng-message="maxlength"><span i18n="errors.maxlength"></span></div>
                    </div>

                    <div ng-if="error" class="alert alert-danger">{{error.message}}</div>
                    <p class="text-center"><button type="submit" href="" class="btn btn-theme btn-150  " i18n="common.ok"></button></p>
                </div>
            </div>
            
        </form>
    </div>
</div>
