<div class="popup-login-final popup-decline">
      <div class="close-pop"> <i class="fa fa-times" href="javascript:void(0);" ng-click="cancel();"></i> </div>
    <div class="modal-body text-center">
        <div class="pb-15"> 
            <div class="form-in">
                <div class="form-sub-in">

                    <p class="col-xs-12" i18n="common.cancelAndLeave"></p>

                    <!-- <div class="col-xs-6">
                        <a ng-click="yes('account.show')" class="btn btn-primary btn-lg   btn-web btn-close" i18n="common.yes"></a>
                    </div>
                    <div class="col-xs-6">
                        <a ng-click="cancel()" type="button" class="btn btn-default btn-lg  btn-padding btn-web btn-close" i18n="common.no"></a>
                    </div> -->

                     <p>
                    <div class="">
                            <button href="javascript:void(0);" ng-click="yes('account.show')" class="btn btn-theme btn-150 " i18n="common.yes"></button>
                            <button href="javascript:void(0);" ng-click="cancel()" type="button" class="btn btn-150 btn-white" i18n="common.no"></button>
                    </div> 
                    
                    
                </p> 
                </div>

            </div>
        </div>
    </div>
</div>
