<div class="popup-login-final" id="account-home">
<div class="close-pop"> <i class="fa fa-times" href="javascript:void(0);" ng-click="cancel();"></i> </div>
    <div class="modal-body text-left">
        <div class="pb-15 box-register">
            <h2  i18n="common.changePassword"> </h2>

            <form role="form" id="cg-pws" name="ChangePasswordForm" novalidate ng-submit="ChangePasswordForm.$valid && changePassword(password);">
                <div class="form-group">
                    <label ia-label required><strong i18n="common.currentPassword"></strong></label>
                    <div class="input-email form-group-mrgn-botm" ng-class="{'has-error': ChangePasswordForm.$submitted && ChangePasswordForm.current_password.$invalid}">
                        <input empty-field ng-model="password.current"
                               class="form-control"
                               name="current_password"
                               type="{{display_password3 ? 'text' : 'password'}}"                          
                               data-i18n-attr="{placeholder: 'common.currentPassword'}"
                               required 
                               ng-change="removeError();"
                               >
                        <label class="password-checkbox">
                            <input type="checkbox" name="display_password3" id="display_password3" ng-model="display_password3"/>
                            <i class="fa fa-eye unchecked"></i>
                            <i class="fa fa-eye-slash checked"></i>
                        </label>
                        <div ng-show="ChangePasswordForm.$submitted || ChangePasswordForm.current_password.$touched" ng-messages="ChangePasswordForm.current_password.$error">
                        <div class="alert alert-danger form-group-mrgn-botm padding-clas" ng-message="required"><span i18n="errors.currentPasswordRequired"></span></div>
                        </div>
                         <div class="error-txt" ng-show="error">
                        <div class="alert alert-danger form-group-mrgn-botm">{{error.message}}</div>
                        </div>
                    </div>
                    
                </div>
                 
                <div class="form-group">
                    <label ia-label required message="tooltips.password"><strong i18n="common.newPassword"></strong></label>

                    <div class="input-email form-group-mrgn-botm" ng-class="{'has-error': ChangePasswordForm.$submitted && ChangePasswordForm.new_password.$invalid }">
                        <input ng-model="password.new" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="new_password" type="{{display_password2 ? 'text' : 'password'}}" data-i18n-attr="{placeholder: 'common.newPassword'}" ng-maxlength=12 required>
                        <label class="password-checkbox">
                            <input type="checkbox" name="display_password2" id="display_password2" ng-model="display_password2"/>
                            <i class="fa fa-eye unchecked"></i>
                            <i class="fa fa-eye-slash checked"></i>
                        </label>

                         <div ng-show="ChangePasswordForm.$submitted || (ChangePasswordForm.new_password.$touched && ChangePasswordForm.new_password.$error)" ng-messages="ChangePasswordForm.new_password.$error">
                        <div class="alert alert-danger form-group-mrgn-botm padding-clas" ng-message="required"><span i18n="errors.newPasswordRequired"></span></div>
                        <div class="alert alert-danger form-group-mrgn-botm padding-clas" ng-message="minlength"><span i18n="errors.minlength"></span></div>
                        <div class="alert alert-danger form-group-mrgn-botm padding-clas" ng-message="pattern"><span i18n="errors.alphanumericPassword"></span>
                        </div>
                    </div>
                   
                     <div ng-show="ChangePasswordForm.new_password.$error.pattern">
                                            
                                        </div>
                    </div>
                    </div>
                   
                <!--<div class="form-group">
                    <label ia-label required message="tooltips.repeatPassword"><strong i18n="common.repeatNewPassword"></strong></label>

                    <div class="input-email form-group-mrgn-botm" ng-class="{'has-error': ChangePasswordForm.$submitted && ChangePasswordForm.repeat_password.$invalid}">
                        <input ng-match="{{password.new}}" ng-model="password.new_repeat" class="form-control" name="repeat_password" type="password" data-i18n-attr="{placeholder: 'common.repeatNewPassword'}" ng-minlength=8 ng-maxlength=12 required>
                        <div ng-show="ChangePasswordForm.$submitted || ChangePasswordForm.repeat_password.$touched" ng-messages="ChangePasswordForm.repeat_password.$error">
                        <div class="alert alert-danger form-group-mrgn-botm padding-clas" ng-message="required"><span i18n="errors.repeatPasswordRequired"></span></div>
                        <div class="alert alert-danger form-group-mrgn-botm padding-clas" ng-message="match"><span i18n="errors.repeatPasswordIncorrect"></span></div>
                        <div class="alert alert-danger form-group-mrgn-botm padding-clas" ng-message="minlength"><span i18n="errors.minlength"></span></div>
                        <div class="alert alert-danger form-group-mrgn-botm padding-clas" ng-message="maxlength"><span i18n="errors.maxlength"></span></div>
                    </div>
                    </div>
                   

                    
                </div> -->
                <p>
                    <button type="submit" href="" class="btn btn-theme btn-150 " i18n="common.changePassword"></button>
                </p>
                <p class="forgotpasswordCls">
                  <a ui-sref="base.setting-forgot-password" ng-click="cancel();" href="" i18n="common.forgotPassword"></a>
                </p>
            </form>
        </div>

    </div>
</div>
