<!-- Show Password popup for partner -->
<div>
    <div ng-if="changePasswordPopUpdiv" class="partnerpopupdivsection">

        <div class="partnerpopupmaindiv"> 
            <p i18n="common.passwordPopUpText" class="wechat-terms"></p>
                            <p class="wechat-terms">
                            <span i18n="common.acknowledge"></span><a ng-class="{'set_language_en':globals.language == 'en-US'}" ng-click="getpopUpPrivacyDetail()" i18n="common.iHaveReadWechatPrivacy"></a><span i18n="common.iHaveReadWechatAccept"></span><a ng-class="{'set_language_eng':globals.language == 'en-US'}" ng-click="getpopUpTermsDetail()" i18n="common.iHaveReadWechatTerms"></a><span i18n="common.dotOnly"></span>
                            </p>
            <div id="accordianDivPrivacy" class="ConditionDetailHtml"  ng-if="isAccordianPopUpPrivacy">
               <div>
                 <div ng-click="closeConditionDetail();"><i href="javascript:void(0);" ng-click="cancel();" class="close"></i></div>
               </div>
               <div class="panel-body" ng-bind-html="privacyPopHtml"></div>
            </div>
            <div id="accordianDivTerms" class="ConditionDetailHtml" ng-if="isAccordianPopUpTerms">
                <div>
                  <div  ng-click="closeConditionDetail();"><i href="javascript:void(0);" ng-click="cancel();" class="close"></i></div>
                </div>
                <div class="panel-body" ng-bind-html="termsPopUpHtml"> </div>
            </div>

          

            <div class="popupBtnSection"> 
          <a i18n="common.ok" ui-sref="account.settings" class="okBtn"  ng-click="cancelPasswordPop();"></a>       
            </div>

        </div>
    </div>   
</div>
<!-- End Show Password popup for partner -->