<div class="popup-login-final popup-decline" >
      <div class="close-pop"> <i class="fa fa-times" href="javascript:void(0);" ng-click="cancel();"></i> </div>
    <div class="modal-body text-center" id="CsvMemberResult">
        <div class="modal-header text-left" ng-if="!wrongFile">                    
            {{createdMemberRecords}} <span i18n="common.newRecordsCreated"></span> 
            <p  ng-if="limitexceed">
              {{limitexceedmessage}}
            </p>
        </div>

        <div  class="text-center danger" ng-if="wrongFile">
             <p> {{wrongFilemessage}} </p>
        </div>
            
        <div class="modal-body" ng-show="csvPartnerMemberErrors.length>0" >
            <p>
              <span i18n="common.recordCreatedFailed" ></span> <br>
              <ul>
                  <li ng-repeat="error in csvPartnerMemberErrors">
                      <div>{{error}}</div>
                  </li>
              </ul>
            </p>
            
        </div>
        <div class="">
            <button href="javascript:void(0);" ng-click="cancel()" type="button" class="btn btn-150 btn-white" i18n="common.ok"></button>
        </div>
    </div>
   
</div>
