<div class="popup-login-final">
    <div class="close-pop"> <i class="fa fa-times" href="javascript:void(0);" ng-click="cancel();"></i> </div>
        <div class="modal-body text-left">
            <section class="content" >
                <h3>
                    <span i18n="common.userMessage"></span>
                    <i href="javascript:void(0);" ng-click="cancel()" class="close"></i>
                </h3>
                <div class="title">                    
                </div>
               
            </section>
            <br/>
        </div>
</div>

