<h2 > 
    <div class="holder_icons">
        <i class="rescuewallet-icon"></i>
    </div>
<span i18n="common.recordWallet"></span> 
</h2>

<div class="errow-text" i18n="common.completeProfileRecommendedMessage"></div>
    <!-- Tab Contents -->
    <div class="tab-content info_icon member_info" id="accordion">
        <!-- Personal -->
        <div class="panel panel-default Personal_Main_Heading"  ng-show="!viewMode || hasAdditionalInfo('personal', 'personal')">
            <div class="panel-heading">
                <!-- Red border for Personal main tabs set ng click with tabValidation('Personal_Main_Heading','Personal_tab','Personal_Main_Heading'); -->
                <div data-toggle="collapse" data-parent="" href="#collapsePersonal" class="accordion-toggle collapse-a  collapsed accordion-toggle get_collapse"
                    ia-label-main message="tooltips.youMayUploadHospitalRecords" ng-click="storeScroll(); storeTab('Personal', '');">
           <span class="personal_tab" i18n="common.personal"></span>
                </div>
            </div>
            
            <div id="collapsePersonal" class="panel-collapse collapse Personal_tab">
                <div class="panel-body" id="Personal">
                    <ng-form name="personalCategoryForm">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="form-tabber">
                                <div class="box-register col-xs-12 none-border none-margin-bottom">
                                    <div ng-include="'partials/member/personal/personal.html'"></div>
                                </div>
                                <!--box-register-->
                            </div>
                            <!--form-tabber-->
                        </div>
                    </div>
                    </ng-form>
                </div>
            </div>
        </div>
        <!-- Insurance -->
        <div class="panel panel-default Insurance_Main_Heading" ng-show="!viewMode || hasAdditionalInfo('insurances', 'insurances')">
            <div class="panel-heading">
                <div data-toggle="collapse" data-parent="" href="#collapseInsurance" class="accordion-toggle collapse-a collapsed accordion-toggle get_collapse"
                    ia-label-main message="tooltips.youMayUploadHospitalRecords" ng-click="addInfoItems('Insurance', 'Insurances');">
                     <span i18n="common.insurance" class="insurance_tab"></span>
                </div>
            </div>
            <div id="collapseInsurance" class="panel-collapse collapse">
                <div class="panel-body" id="Insurance">
                    <ng-form name="insuranceCategoryForm">
                    <div class="panel">
                        <div class="panel-body">
                            <span class="recommendation" i18n="common.travelInsuranceRecommendedMessage"></span>
                            <div class="no-info" ng-if="!member.additional_information.insurances.length || member.additional_information.insurances.allempty" i18n="common.noInformationToDisplay"></div>
                            <!--insurance-->
                            <div class="form-tabber">
                                <div class="box-register  col-xs-12 Insurance_tab"
                                    ng-repeat="insurance in member.additional_information.insurances | limitTo: insurances_item_count track by $index" ng-if="!insurance.deleted" insurance-layout>
                                </div>
                                <div class="form-person-bottom">
                                    <button type="button" ng-disabled="memberForm.$invalid"
                                    ng-click="addMore('insurances', 'insurances')" class="add-person" i18n="common.addButton">
                                    </button>
                                </div>
                            </div>
                            <!--end insurance-->
                        </div>
                    </div>
                    </ng-form>
                </div>
            </div>
        </div>
        <!-- Medical -->
        <div class="panel panel-default Medical_Main_Heading" ng-show="!viewMode || hasAdditionalInfo('medical', 'medical')">
            <div class="panel-heading">
                <!-- Red border for Mediacal Main tab ng-click="tabValidation('Medical_Main_Heading','Medical_Main_Heading_tab','Medical_Main_Heading');" -->
                <div data-toggle="collapse" data-parent="" href="#collapseMedical" class="accordion-toggle collapse-a collapsed accordion-toggle get_collapse"
                    ia-label-main message="tooltips.youMayUploadHospitalRecords">
                  <span class="medical_tab" i18n="common.medical"></span>
                </div>
            </div>
            <div id="collapseMedical" class="panel-collapse collapse">
                <div class="panel-body" id="Medical">
                    <ng-form name="medicalCategoryForm">
                    <div class="panel-group Medical_Main_Heading_tab" id="accordion1">
                        <div class="panel panel-default Doctor_heading" ng-show="!viewMode || hasAdditionalInfo('doctors', 'medical')" >
                            <div class="panel-heading doc-med">
                                <div data-toggle="collapse" data-parent="" href="#collapseDoctors" class="get_collapse collapse-a collapsed accordion-toggle"
                                    ia-label message="tooltips.doctorInfo" ng-click="addInfoItems('Medical', 'Doctors');">
                                    <i class="member-accordion-icon icon-doctor_info_icon"></i> <span i18n="common.doctorInfo"></span>
                                    <span class="info-badge">{{member.additional_information.medical.doctors.length - (member.additional_information.medical.doctors.deletedCount ? member.additional_information.medical.doctors.deletedCount : 0) }}</span>
                                </div>
                            </div>
                            <div id="collapseDoctors" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div>
                                        <div class="no-info" ng-if="member.additional_information.medical.doctors.length == 0 || member.additional_information.medical.doctors.allempty" i18n="common.noInformationToDisplay"></div>
                                        <div class="form-tabber">
                                            <div class="box-register Doctor_tab Doctor_tab_{{$index}} col-xs-12"
                                                ng-repeat="doctor in member.additional_information.medical.doctors | limitTo: doctors_item_count track by $index"
                                                ng-show="!doctor.deleted"  doctor-layout>
                                            </div>
                                            <div class="form-person-bottom">
                                                <button type="button" ng-disabled="memberForm.$invalid"
                                                ng-click="addMore('doctors', 'medical')" class="add-person" i18n="common.addButton">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" ng-show="!viewMode || hasAdditionalInfo('blood', 'medical')">
                            <div class="panel-heading doc-med">
                                <div data-toggle="collapse" data-parent="" href="#collapseBlood" class="collapse-a collapsed accordion-toggle"
                                    ia-label message="tooltips.bloodInfo"  ng-click="storeScroll(); storeTab('Medical', 'Blood')">
                                    <i class="member-accordion-icon icon-blood_info_icon"></i> <span i18n="common.bloodInfo"></span>
                                    <span class="info-badge"
                                        ng-show = "!member.additional_information.medical.blood.blood_type &&
                                    !member.additional_information.medical.blood.notes">0</span>
                                    <span class="info-badge"
                                    ng-show = "member.additional_information.medical.blood.blood_type || member.additional_information.medical.blood.notes">1</span>
                                </div>
                            </div>
                            <div id="collapseBlood" class="panel-collapse collapse">
                                <div class="panel-body">
                                <div class="no-info" ng-if="!member.additional_information.medical.blood.blood_type &&
                                    !member.additional_information.medical.blood.notes" i18n="common.noInformationToDisplay" ng-show = "viewMode"></div>

                                    <div class="form-tabber" ng-if = "viewMode && member.additional_information.medical.blood.blood_type || !viewMode || member.additional_information.medical.blood.notes">

                                        <div class="box-register  col-xs-12" blood-layout> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default AllergyInfo_heading" ng-show="!viewMode || hasAdditionalInfo('allergies', 'medical')">
                            <div class="panel-heading doc-med">
                                <div data-toggle="collapse" data-parent="" href="#collapseAllergies" class="get_collapse accordion-toggle collapse-a collapsed"
                                    ia-label message="tooltips.allergyInfo" ng-click="addInfoItems('Medical', 'Allergies');" >
                                    <i class="member-accordion-icon icon-allergy_info_icon"></i> <span i18n="common.allergyInfo"></span>
                                    <span class="info-badge">{{member.additional_information.medical.allergies.length - (member.additional_information.medical.allergies.deletedCount ? member.additional_information.medical.allergies.deletedCount : 0) }}</span>
                                </div>
                            </div>
                            <div id="collapseAllergies" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="no-info" ng-if="!member.additional_information.medical.allergies.length || member.additional_information.medical.allergies.allempty" i18n="common.noInformationToDisplay"></div>
                                    <div class="form-tabber">
                                        <div class="box-register AllergyInfo_tab AllergyInfo_tab_{{$index}} col-xs-12"
                                            ng-repeat="allergy in member.additional_information.medical.allergies | limitTo: allergies_item_count track by $index" ng-show="!allergy.deleted" allergy-layout>
                                        </div>
                                        <div class="form-person-bottom">
                                            <button type="button" ng-disabled="memberForm.$invalid"
                                            ng-click="addMore('allergies', 'medical')"
                                            class="add-person" i18n="common.addButton">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default MedicationsInfo_heading" ng-show="!viewMode || hasAdditionalInfo('medications', 'medical')">
                            <div class="panel-heading doc-med">
                                <div data-toggle="collapse" data-parent="" href="#collapseMedications" class="get_collapse collapse-a accordion-toggle collapsed"
                                    ia-label message="tooltips.medicationInfo" ng-click="addInfoItems('Medical', 'Medications');">
                                    <i class="member-accordion-icon icon-medication_info_icon"></i> <span i18n="common.medicationInfo"></span>
                                    <span class="info-badge">{{member.additional_information.medical.medications.length - (member.additional_information.medical.medications.deletedCount ? member.additional_information.medical.medications.deletedCount : 0) }}</span>
                                </div>
                            </div>
                            <div id="collapseMedications" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="no-info" ng-if="!member.additional_information.medical.medications.length || member.additional_information.medical.medications.allempty" i18n="common.noInformationToDisplay"></div>
                                    <div class="form-tabber">
                                        <div class="box-register MedicationsInfo_tab MedicationsInfo_tab_{{$index}} col-xs-12"
                                            ng-repeat="medication in member.additional_information.medical.medications | limitTo: medications_item_count track by $index" ng-show="!medication.deleted" medication-layout>
                                        </div>
                                        <div class="form-person-bottom">
                                            <button type="button" ng-disabled="memberForm.$invalid"
                                            ng-click="addMore('medications', 'medical')"
                                            class="add-person" i18n="common.addButton">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default CovidInfo_heading" ng-show="!viewMode || hasAdditionalInfo('covid_reports', 'medical')">
                            <div class="panel-heading doc-med">
                                <div data-toggle="collapse" data-parent="" href="#collapseCovid" class="get_collapse collapse-a accordion-toggle collapsed"
                                    ia-label message="tooltips.medicationInfo" ng-click="addInfoItems('Medical', 'Covid_reports');">
                                    <i class="member-accordion-icon icon-coronavirus_icon"></i> <span i18n="common.covidtestheader" > </span>
                                    <span class="info-badge">{{member.additional_information.medical.covid_reports.length - (member.additional_information.medical.covid_reports.deletedCount ? member.additional_information.medical.covid_reports.deletedCount : 0) }}</span>
                                </div>
                            </div>
                            <div id="collapseCovid" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="no-info" ng-if="!member.additional_information.medical.covid_reports.length || member.additional_information.medical.covid_reports.allempty" i18n="common.noInformationToDisplay"></div>
                                    <div class="form-tabber">
                                        <div class="box-register CovidInfo_tab CovidInfo_tab_{{$index}} col-xs-12"
                                            ng-repeat="covid in member.additional_information.medical.covid_reports  track by $index" ng-show="!covid.deleted" covid-layout>
                                        </div>
                                        <div class="form-person-bottom">
                                            <button type="button" ng-disabled="memberForm.$invalid"
                                            ng-click="addMore('covid_reports', 'medical')"
                                            class="add-person" i18n="common.addButton">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default ImmunizationsInfo_heading" ng-show="!viewMode || hasAdditionalInfo('immunizations', 'medical')">
                            <div class="panel-heading doc-med">
                                <div data-toggle="collapse" data-parent="" href="#collapseImmunizations" ng-click="addInfoItems('Medical', 'Immunizations');" class="accordion-toggle collapse-a collapsed get_collapse"
                                    ia-label message="tooltips.immunizationInfo">
                                    <i class="member-accordion-icon icon-immunization_info_icon"></i> <span i18n="common.immunizationInfo"></span>
                                    <span class="info-badge">{{member.additional_information.medical.immunizations.length - (member.additional_information.medical.immunizations.deletedCount ? member.additional_information.medical.immunizations.deletedCount : 0) }}</span>
                                </div>
                            </div>
                            <div id="collapseImmunizations" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="no-info" ng-if="!member.additional_information.medical.immunizations.length || member.additional_information.medical.immunizations.allempty" i18n="common.noInformationToDisplay"></div>
                                    <div class="form-tabber">
                                        <div class="box-register ImmunizationsInfo_tab ImmunizationsInfo_tab_{{$index}} col-xs-12"
                                            ng-repeat="immunization in member.additional_information.medical.immunizations | limitTo: immunizations_item_count track by $index" ng-show="!immunization.deleted" immunization-layout>
                                        </div>
                                        <div class="form-person-bottom">
                                            <button type="button" ng-disabled="memberForm.$invalid"
                                            ng-click="addMore('immunizations', 'medical')"
                                            class="add-person" i18n="common.addButton">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default MedicalCondition_heading" ng-show="!viewMode || hasAdditionalInfo('medical_conditions', 'medical')">
                            <div class="panel-heading doc-med">
                                <div data-toggle="collapse" data-parent="" href="#collapseMedical_conditions" class="accordion-toggle collapse-a collapsed get_collapse"
                                    ia-label message="tooltips.medicalConditionInfo" ng-click="addInfoItems('Medical', 'Medical_conditions');">
                                    <i class="member-accordion-icon icon-medical_condition_info_icon"></i> <span i18n="common.medicalConditionInfo"></span>
                                    <span class="info-badge">{{member.additional_information.medical.medical_conditions.length - (member.additional_information.medical.medical_conditions.deletedCount ? member.additional_information.medical.medical_conditions.deletedCount : 0) }}</span>
                                </div>
                            </div>
                            <div id="collapseMedical_conditions" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="no-info" ng-if="!member.additional_information.medical.medical_conditions.length || member.additional_information.medical.medical_conditions.allempty" i18n="common.noInformationToDisplay"></div>
                                    <div class="form-tabber">
                                        <div class="box-register MedicalCondition_tab MedicalCondition_tab_{{$index}} col-xs-12"
                                            ng-repeat="medical_condition in member.additional_information.medical.medical_conditions | limitTo: medical_conditions_item_count track by $index" ng-show="!medical_condition.deleted" medical-condition-layout>
                                        </div>
                                        <div class="form-person-bottom">
                                            <button type="button" ng-disabled="memberForm.$invalid"
                                            ng-click="addMore('medical_conditions', 'medical')" class="add-person"
                                            i18n="common.addButton">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default surgicalHistoryInfo_heading" ng-show="!viewMode || hasAdditionalInfo('surgical_history', 'medical')">
                            <div class="panel-heading doc-med">
                                <div data-toggle="collapse" data-parent="" href="#collapseSurgical_history" class="accordion-toggle collapse-a collapsed get_collapse"
                                    ia-label message="tooltips.surgicalHistoryInfo" ng-click="addInfoItems('Medical', 'Surgical_history');">
                                    <i class="member-accordion-icon icon-surgical_history_info_icon"></i> <span i18n="common.surgicalHistoryInfo"></span>
                                    <span class="info-badge">{{member.additional_information.medical.surgical_history.length - (member.additional_information.medical.surgical_history.deletedCount ? member.additional_information.medical.surgical_history.deletedCount : 0) }}</span>
                                </div>
                            </div>
                            <div id="collapseSurgical_history" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="no-info" ng-if="!member.additional_information.medical.surgical_history.length || member.additional_information.medical.surgical_history.allempty" i18n="common.noInformationToDisplay"></div>
                                    <div class="form-tabber">
                                        <div class="box-register  col-xs-12 surgicalHistoryInfo_tab surgicalHistoryInfo_tab_{{$index}}"
                                            ng-repeat="surgical in member.additional_information.medical.surgical_history | limitTo: surgical_history_item_count track by $index" ng-show="!surgical.deleted" surgical-layout>
                                        </div>
                                        <div class="form-person-bottom">
                                            <button type="button" ng-disabled="memberForm.$invalid"
                                            ng-click="addMore('surgical_history', 'medical')"
                                            class="add-person" i18n="common.addButton">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default FamilyMedicalInfo_heading" ng-show="!viewMode || hasAdditionalInfo('family_medical_history', 'medical')">
                            <div class="panel-heading doc-med">
                                <div data-toggle="collapse" data-parent="" href="#collapseFamily_medical_history" class="accordion-toggle collapse-a collapsed get_collapse"
                                    ia-label message="tooltips.familyPastMedicalHistory" ng-click="addInfoItems('Medical', 'Family_medical_history');">
                                    <i class="member-accordion-icon icon-familys_past_medical_history_info_icon"></i> <span i18n="common.familyPastMedicalHistory"></span>
                                    <span class="info-badge">{{member.additional_information.medical.family_medical_history.length - (member.additional_information.medical.family_medical_history.deletedCount ? member.additional_information.medical.family_medical_history.deletedCount : 0) }}</span>
                                </div>
                            </div>
                            <div id="collapseFamily_medical_history" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="no-info" ng-if="!member.additional_information.medical.family_medical_history.length || member.additional_information.medical.family_medical_history.allempty" i18n="common.noInformationToDisplay"></div>
                                    <div class="form-tabber">
                                        <div class="box-register  col-xs-12 FamilyMedicalInfo_tab FamilyMedicalInfo_tab_{{$index}}"
                                            ng-repeat="medical_history in member.additional_information.medical.family_medical_history | limitTo: family_medical_history_item_count track by $index" ng-show="!medical_history.deleted" family-history-layout>
                                        </div>
                                        <div class="form-person-bottom">
                                            <button type="button" ng-disabled="memberForm.$invalid"
                                            ng-click="addMore('family_medical_history', 'medical')"
                                            class="add-person" i18n="common.addButton">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" ng-show="!viewMode || hasAdditionalInfo('hospital_records', 'medical')">
                            <div class="panel-heading doc-med">
                                <div data-toggle="collapse" data-parent="" href="#collapseHospital_records" ng-click="addInfoItems('Medical', 'Hospital_records');" class="collapse-a collapsed accordion-toggle"
                                    ia-label message="tooltips.youMayUploadHospitalRecords">
                                    <i class="member-accordion-icon icon-hospital_record_icon"></i> <span i18n="common.hospitalRecords"></span>
                                    <span class="info-badge">{{member.additional_information.medical.hospital_records.length - (member.additional_information.medical.hospital_records.deletedCount ? member.additional_information.medical.hospital_records.deletedCount : 0) }}</span>
                                </div>
                            </div>
                            <div id="collapseHospital_records" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="no-info" ng-if="!member.additional_information.medical.hospital_records.length || member.additional_information.medical.hospital_records.allempty" i18n="common.noInformationToDisplay"></div>
                                    <div class="form-tabber">
                                        <div class="box-register  col-xs-12"
                                            ng-repeat="hospital_record in member.additional_information.medical.hospital_records | limitTo: hospital_records_item_count track by $index" ng-show="!hospital_record.deleted" hospital-record-layout>
                                        </div>
                                        <div class="form-person-bottom add_person_border">
                                            <button class="add-person" type="button" ng-disabled="memberForm.$invalid"
                                            ng-click="addMore('hospital_records', 'medical')" i18n="common.addButton">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" ng-show="!viewMode || hasAdditionalInfo('organ_donor', 'medical')">
                            <div class="panel-heading doc-med">
                                <div data-toggle="collapse" data-parent="" href="#collapseOrgan_donor" class="accordion-toggle collapse-a collapsed"
                                    ia-label message="tooltips.organDonorStatus" ng-click="storeScroll(); storeTab('Medical', 'Organ_donor')">
                                    <i class="member-accordion-icon icon-organ_donor_status_info_icon"></i> <span i18n="common.organDonorStatus"></span>
                                    <span class="info-badge" ng-show = "!member.additional_information.medical.organ_donor.status &&
                                        !member.additional_information.medical.organ_donor.condition &&
                                        !member.additional_information.medical.organ_donor.card &&
                                    !member.additional_information.medical.organ_donor.notes">0</span>
                                    <span class="info-badge" ng-show = "member.additional_information.medical.organ_donor.status ">1</span>
                                    
                                </div>
                            </div>
                            <div id="collapseOrgan_donor" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <span class="recommendation" i18n="common.isMemberRegisteredOrganDonor"></span>
                                     <div class="no-info " ng-if="!member.additional_information.medical.organ_donor.status" i18n="common.noInformationToDisplay" ng-show = "viewMode"></div>
                                    <div class="form-tabber" ng-if = "viewMode && member.additional_information.medical.organ_donor.status || !viewMode">
                                        <div class="box-register  col-xs-12" organ-donor-layout>
                                        </div>
                                    </div>
                                    <!--form-tabber-->
                                </div>
                            </div>
                        </div>
                    </div>
                    </ng-form>
                </div>
            </div>
        </div>
        <!-- Records -->
        <div class="panel panel-default border-b-0" ng-show="!viewMode || hasAdditionalInfo('records', 'records')">
            <div class="panel-heading">
                <div data-toggle="collapse" data-parent="" href="#collapseRecords" class="collapse-a collapsed accordion-toggle"
                    ia-label-main message="tooltips.youMayUploadHospitalRecords">
                 <span class="record_tab" i18n="common.records"></span>
                </div>
            </div>
            <div id="collapseRecords" class="panel-collapse collapse">
                <div class="panel-body record" id="Records">
                    <ng-form name="lifestyleCategoryForm">
                    <div class="panel-group">
                        <div class="panel panel-default" ng-show="!viewMode || hasAdditionalInfo('living_will', 'records')">
                            <div class="panel-heading doc-med ">
                                <div data-toggle="collapse" data-parent="" href="#collapseLiving_wills" class="collapse-a collapsed  accordion-toggle"
                                    ia-label message="tooltips.livingWill"
                                    ng-click="storeScroll(); storeTab('Records', 'Living_wills')">
                                    <i class="member-accordion-icon icon-living_will_record_icon"></i> <span i18n="common.livingWill"></span>
                                    <span class="info-badge" ng-show = "
                                        !member.additional_information.records.living_will.date.year &&
                                        !member.additional_information.records.living_will.document &&
                                    !member.additional_information.records.living_will.notes ">0</span>
                                    <span class="info-badge" ng-show = "member.additional_information.records.living_will.date.year ||
                                        member.additional_information.records.living_will.document ||
                                    member.additional_information.records.living_will.notes">1</span>
                                </div>
                            </div>
                            <div id="collapseLiving_wills" class="panel-collapse collapse">
                                <div class="panel-body">
                                <div class="no-info" ng-if="!member.additional_information.records.living_will.date.year &&
                                        !member.additional_information.records.living_will.document &&
                                    !member.additional_information.records.living_will.notes"  i18n="common.noInformationToDisplay" ng-show = "viewMode"></div>
                                    <div class="form-tabber" ng-if = "viewMode && 
                                        (member.additional_information.records.living_will.date.year ||
                                         member.additional_information.records.living_will.notes     ||
                                         member.additional_information.records.living_will.document) || !viewMode">
                                        <div class="box-register  col-xs-12" will-record-layout>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" ng-show="!viewMode || hasAdditionalInfo('emergency_messages', 'records')">
                            <div class="panel-heading doc-med">
                                <div data-toggle="collapse" data-parent="" href="#collapseEmergency_messages" ng-click="addInfoItems('Records', 'Emergency_messages');" class="collapse-a collapsed accordion-toggle"
                                    ia-label message="tooltips.youMayLeaveAShortEmergencyMessage">
                                    <i class="member-accordion-icon icon-emergency_record_icon"></i> <span i18n="common.emergencyRecords"></span>
                                    <span class="info-badge">{{member.additional_information.records.emergency_messages.length - (member.additional_information.records.emergency_messages.deletedCount ? member.additional_information.records.emergency_messages.deletedCount : 0) }}</span>
                                </div>
                            </div>
                            <div id="collapseEmergency_messages" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="no-info" ng-if="!member.additional_information.records.emergency_messages.length || member.additional_information.records.emergency_messages.allempty" i18n="common.noInformationToDisplay"></div>
                                    <div class="form-tabber">
                                        <div class="box-register  col-xs-12"
                                            ng-repeat="emergency_message in member.additional_information.records.emergency_messages | limitTo: emergency_messages_item_count track by $index" ng-show="!emergency_message.deleted" message-record-layout>
                                        </div>
                                        <div class="form-person-bottom add_person_border">
                                            <button class="add-person" type="button" ng-disabled="memberForm.$invalid"
                                            ng-click="addMore('emergency_messages', 'records')" i18n="common.addButton">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </ng-form>
                </div>
            </div>
        </div>
        <div class="edit_mn" style="display:none;">
             <span>
                 <a href="javascript:void(0);" ia-tooltip="tooltips.clickToExpandAll" tooltip-placement="auto top" tooltip-append-to-body="true" class="collapseall" ng-click = "expandTab();" ><img src="images/w-all.png"></a>
             </span>
             <span>
                 <a href="javascript:void(0);" ia-tooltip="tooltips.clickToCollapseAll" tooltip-placement="auto top" tooltip-append-to-body="true" class="collapall" ng-click = "collapseTab()"><img src="images/col-al.png"></a>
             </span>
        </div>
    </div> 
<!-- Errors Information -->
<div ng-show="(memberForm.$submitted && personalCategoryForm.$invalid) || (memberForm.$submitted && insuranceCategoryForm.$invalid) || (memberForm.$submitted && medicalCategoryForm.$invalid) || (memberForm.$submitted && lifestyleCategoryForm.$invalid) ">
    <div class="alert alert-danger" i18n="errors.additionalInfo"></div>
</div>

 <!--<div ng-show="memberForm.$submitted && personalCategoryForm.$invalid">
    <div class="alert alert-danger" i18n="errors.personalCategory"></div>
</div>
 <div ng-show="memberForm.$submitted && insuranceCategoryForm.$invalid">
    <div class="alert alert-danger" i18n="errors.insuranceCategory"></div>
</div>
<div ng-show="memberForm.$submitted && medicalCategoryForm.$invalid">
    <div class="alert alert-danger" i18n="errors.medicalCategory"></div>
</div>
<div ng-show="memberForm.$submitted && lifestyleCategoryForm.$invalid">
    <div class="alert alert-danger" i18n="errors.lifestyleCategory"></div>
</div> -->
<!-- End Errors Information -->
<br/>