<div class="col-xs-12 attachment_living_will" ng-repeat="x in url_arr">
	    <!-- <img ng-class="{'hidden': file.indexOf('.png')+file.indexOf('.gif')+file.indexOf('.jpg') == -3 }" ng-src="{{file}}" alt='x' /> -->
	    <div class="attachment_urls" ng-if="x.link">
			<!--<p><span>{{x.link}}</span></p>-->
			<span class="copy_urls">
				<a ng-show="!isWeChat" ng-href="{{x.link}}" download="{{x.link}}" target="_blank" >
					{{x.link}}
				</a> 
				<span ng-show="isWeChat" size="sm"  ng-click-copy-attachment="{{x.link}}">
					{{x.link}}<br>
					<span  i18n="common.copiedins" class=" link-copied-btn wechatcopied hide"></span>
				</span> 
			</span>

	       <p class="icons"> 
	       <!--	<span class="download_icon"> 
				<a ng-href="{{x.link}}" download="{{x.link}}" target="_blank" >
					<img src="images/download_icon.png" alt="download_icon">
				</a> 
			   </span> -->
			 
	       	<span class="cross_icon" ng-hide="(immunization.scanned && immunization.id) || (covid.scanned && covid.id) || previewMode || viewMode || shareMode || setEcpPermission"  data-record="{{x.track}}" ng-click="delete(this);" >
				<img src="images/cross_icon.png"  alt="cross_icon">
	       	</span>
	       </p>
	    </div>
</div>


