 <div class="smart_pass_page">
	<div class="col-lg-5 col-sm-5 col-xs-11 select_member_form">
        <select class="form-control smart_select" ng-model="coviduser.id" ng-change="showtest();">
            <option value=""> Select Member </option>
            <option ng-repeat = "mem in members" value="{{mem.id}}"> {{mem.first_name}} </option>
          </select>

	    <div class="select_data" ng-if="user.length>0 && coviduser.id!=0"> 
          <ul> 
           <li ng-repeat = "record in user" display-result result-data={{record}}>{{record.pcategory}} {{record.date}} <span>2020-10-14<span></li>
          <ul> 
	    </div>
	    <div class="no_data" ng-if="user.length<=0 && coviduser.id!=0"> 
          <span>No certificates to display </span>
            <label ia-label message="tooltips.memberId" class="tooltip-label"></label>
	    </div>
	</div>
	 <a href="#/covid-tracker" class="btn form-control covid_btn">
	     	<span>Covid-19</span> Global Tracker
	 </a>
</div>