<style type="text/css">
    body{
      background: #f2f2fa;
    }
</style>
<div class="patner_dashboard">
    <div class="container">
        <div class="test_listing">
             <h2 class="heading"><span i18n="common.covid19">Partner </span> <span i18n="common.dashboard"> Dashboard </span></h2>
             <div class="grid">
               <div class="row">
                  <div class="col-md-3 col-xs-6">
                      <div class="grid_box">
                          <div class="row">
                            <div class="col-xs-12 pl-0"> 
                                 <h6 i18n="common.totaltest">Total Test</h6>
                                 <h4 i18n="common.antibody">Antibody</h4>
                                 <h2>{{dashboard.antibody.total}}</h2>
                            </div>
                            <!--  <div class="col-xs-5"> 
                                  <div class="pie-wrapper progress-45 style-2">
                                    <span class="label">{{(dashboard.antibody.total!=0) ?(dashboard.antibody.total_positive/dashboard.antibody.total)*100 : 0}}<span class="smaller">%</span></span>
                                    <div class="pie">
                                      <div class="left-side half-circle"></div>
                                      <div class="right-side half-circle"></div>
                                    </div>
                                    <div class="shadow"></div>
                                  </div>
                             </div> -->
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3 col-xs-6">
                      <div class="grid_box">
                          <div class="row">
                            <div class="col-xs-12 pl-0"> 
                                 <h6 i18n="common.totaltest">Total Test</h6>
                                 <h4 i18n="common.antigen">Antigen</h4>
                                 <h2>{{dashboard.antigen_rec.total}}</h2>
                            </div>
                             <!-- <div class="col-xs-5"> 
                                  <div class="pie-wrapper progress-45 style-2">
                                    <span class="label">{{(dashboard.antigen_rec.total!=0) ?(dashboard.antigen_rec.total_positive/dashboard.antigen_rec.total)*100 : 0}}<span class="smaller">%</span></span>
                                    <div class="pie">
                                      <div class="left-side half-circle"></div>
                                      <div class="right-side half-circle"></div>
                                    </div>
                                    <div class="shadow"></div>
                                  </div>
                             </div> -->
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3 col-xs-6">
                      <div class="grid_box">
                          <div class="row">
                            <div class="col-xs-12 pl-0"> 
                              <h6 i18n="common.totaltest">Total Test</h6>
                                 <h4 i18n="common.nucleicacid">Nucleic Acid</h4>
                                 <h2>{{dashboard.nucleicacid_rec.total}}</h2>
                            </div>
                             <!-- <div class="col-xs-5"> 
                                  <div class="pie-wrapper progress-45 style-2">
                                    <span class="label">{{(dashboard.nucleicacid_rec.total!=0) ?(dashboard.nucleicacid_rec.total_positive/dashboard.nucleicacid_rec.total)*100 : 0}}<span class="smaller">%</span></span>
                                    <div class="pie">
                                      <div class="left-side half-circle"></div>
                                      <div class="right-side half-circle"></div>
                                    </div>
                                    <div class="shadow"></div>
                                  </div>
                             </div> -->
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3 col-xs-6">
                      <div class="grid_box">
                          <div class="row">
                            <div class="col-sm-12"> 
                                 <h6 i18n="common.totaldosage">Total Doses</h6>
                                 <h4 i18n="common.covid19vaccine">COVID-19 vaccine</h4>
                            </div>
                             <div class="col-xs-6"> 
                                 <h2>{{dashboard.vaccine_rec.first_dose}}</h2>
                                  <h6 i18n="common.firstdoes">First Does</h6>
                             </div>
                             <div class="col-xs-6"> 
                              <h2>{{dashboard.vaccine_rec.second_dose}}</h2>
                                  <h6 i18n="common.seconddoes">Second Does</h6>
                             </div>
                          </div>
                      </div>
                  </div>
               </div>
             </div>
        </div>

        <h2 class="heading" i18n="common.listofMems">List of Member's</h2>
        <div class="top_bar">
           <div class="row">
               <div class="col-sm-6">
                    <div class="select_box" ng-show="filter_data > 0">
                       <ul>
                          <li>
                            <div class="nolable-Checkbox mg">
                              <input type="checkbox" ng-click="selectAll();"  ng-model="isAllDelete" />
                              <div class="nolable-Checkbox-visible"></div>
                            </div><span i18n="common.selectAll">Select All</span>
                        </li>
                          <li>
                            <span class="remove_sec" ng-click="remove();"><img src="images/delete_icon.png" class="delete_icon"><span i18n="common.delete">Delete</span>
                            </span>
                          </li>
                       </ul>
                   </div>
               </div>
               <div class="col-sm-6 text-right">
                <div class="search_section">
                    <ul>
                        <li>
                            <input type="text" ng-model="search" ng-change="filter()" class="form-control search_input" />
                             <img src="images/search_icon.png" class="sreach_icon">
                        </li>
                        <li> 
                           <div class="dropdown export_section">
                              <button class="dropdown-toggle" type="button" ng-click="exportAllCSV();"><span i18n="common.exporttocsv">Export as CSV</span>
                             
                              </button>
                              <!--<ul class="dropdown-menu">
                                <li export-to-csv>.csv</li>
                                <li ng-click="exportAllCSV();">.csv (all)</li>
                              </ul>-->
                            </div>
                        </li>
                     </ul>
                 </div>
               </div>
               <div class="col-sm-12"  ng-show="success">
                  <p class="delete_record" >  {{ deleted }} <span i18n="common.deletedmessage"></span> </p>
               </div>
           </div>
        </div>
      <!--   <div class="row">
            <div class="col-sm-2 pull-left">
                <label>PageSize:</label>
                <select ng-model="data_limit" class="form-control">
                    <option>5</option>
                    <option>10</option>
                    <option>20</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
            <div class="col-sm-6 pull-right">
                <label>Search:</label>
                <input type="text" ng-model="search" ng-change="filter()" placeholder="Search" class="form-control" />
            </div>
        </div>
        <br/> -->
        <div class="clear-in"></div >
        <div class="row">
            <div class="col-md-12">
                <!--<button ng-click="remove();">Delete</button>
                <button export-to-csv>Download</button> -->
                <div class="table_reponsive">
                <table class="table">
                    <thead>
                      <tr>
                        <th>
                             <!-- <div class="nolable-Checkbox mg">
                              
                              <div class="nolable-Checkbox-visible"></div>
                            </div> -->
                            <!-- <input type="checkbox" ng-model="data.isAllDelete"/> -->
                        </th>
                        <th><span i18n="common.date">Date</span><a ng-click="sort_with('covid_date_sort');"><i class="glyphicon glyphicon-sort"></i></a></th>
                        <th><span i18n="common.lastName">LastName</span><a ng-click="sort_with('last_name');"><i class="glyphicon glyphicon-sort"></i></a></th>
                        <th><span i18n="common.firstName">FirstName</span></th>
                        <th><span i18n="common.category">Category</span><a ng-click="sort_with('name_cat');"><i class="glyphicon glyphicon-sort"></i></a></th>
                        <th><span i18n="common.result">Result</span><a ng-click="sort_with('resultSort');"><i class="glyphicon glyphicon-sort"></i></a></th>
                      </tr>
                      <tr  ng-hide="true">
                        <td></td>
                        <th ng-hide="true">Attachment</th>
                        <th ng-hide="true">Product</th>
                        <th ng-hide="true">Manufacturer</th>
                        <th ng-hide="true">Lot #</th>
                        <th ng-hide="true">Serial #</th>
                   </tr >
                    </thead>
                      <tbody ng-repeat="MemRec in searched = (file  | filter:search | orderBy : base :reverse )  | beginning_data:(current_grid-1)*data_limit | limitTo:data_limit " ng-class="{'selectedrow':MemRec.isDelete}" ng-show="filter_data > 0">

                          <tr class="tr_{{MemRec.type+MemRec.id}}">
                             <td>
                               <div class="nolable-Checkbox mg" >
                                  <input type="checkbox" ng-click="selected(this);" name="isDelete" ng-model="MemRec.isDelete"/>
                                  <div class="nolable-Checkbox-visible"></div>
                                </div>
                                <!-- <input type="checkbox" ng-model="MemRec.isDelete"  / > -->
                            </td> 
                            <td>{{MemRec.covid_date_sort}}</td>
                            <td>{{MemRec.last_name}}</td>
                            <td>{{MemRec.first_name}}</td>
                            <td>{{MemRec.name_cat}}</td>
                            <td ng-if="MemRec.type != 'covid19'">{{MemRec.result}}</td>
                            <td ng-if="MemRec.type == 'covid19'">{{MemRec.info }}</td>
                            <td>
                              <div ng-click="addSubClass(MemRec.type+MemRec.id);" class="arrow_btn">
                                <span>
                                <i ng-class="{'fa fa-chevron-up': showmore, 'fa fa-chevron-down': !showmore}" aria-hidden="true" class="fa fa-chevron-up">
                                </i>
                                </span>
                                </div>
                              </td>
                        </tr>
                        <tr class='hide hide_data'>
                            <td></td>
                            <td>
                              <div><b i18n="common.attachment">Attachment</b></div>
                              <div><p><a ng-href="{{MemRec.document}}" download="{{MemRec.document}}" ng-if="MemRec.document" target="_blank" >
                                <i class="fa fa-paperclip" aria-hidden="true"></i>
                                </i>
                              </a></p></div>
                            </td>
                            <td >
                              <div><b i18n="common.product">Product</b></div>
                              <div><p>{{MemRec.pname}}</p></div>
                            </td>
                            <td>
                              <div><b i18n="common.manufacture">Manufacturer</b></div>
                              <div><p>{{MemRec.mfname}}</p></div>
                            </td>
                            <td>
                              <div><b i18n="common.lotnumber">Lot #</b></div>
                              <div><p>{{MemRec.lotnumber}}</p></div>
                            </td>
                            <td>
                              <div><b  i18n="common.serialnumber">Serial #</b></div>
                              <div><p>{{MemRec.srnumber}}</p></div>
                            </td><!-- <div class="col-md-12" ng-show="filter_data == 0">
                <div class="col-md-12">
                    <h4 i18n="common.noInformationToDisplay">No records found..</h4>
                </div>
            </div> -->
                            <td></td>
                            <!--<td><a href="javascript:;" ng-click="deletecoupon(data.code)">Delete</a></td>-->
                        </tr>
                    </tbody>
                    <tbody ng-show="filter_data == 0">
                      <tr>
                        <td colspan="6">
                          <h4 class="textno_data">No information to display</h4>
                        </td>
                      </tr>
                    </tbody>
                </table>
               <!--  <div  ng-if="removeDataList.length">  {{removeDataList.length}} <span i18n="common.select"></span> </div> -->
            </div>
            </div>
            
            <!-- <div class="col-md-12" ng-show="filter_data == 0">
                <div class="col-md-12">
                    <h4 i18n="common.noInformationToDisplay">No records found..</h4>
                </div>
            </div> -->
            <div class="col-md-12">
               <!-- <div class="col-md-6 pull-left">
                    <h5>Showing {{ searched.length }} of {{ entire_user}} entries</h5>
                </div> -->
                <div class="col-md-12" ng-show="filter_data > 0">
                    <div pagination="" ng-model ="current_grid" on-select-page="page_position(page)" boundary-links="true" total-items="filter_data" items-per-page="data_limit" class="pagination-small pull-right" previous-text="&laquo;" next-text="&raquo;"></div>
                </div>
            </div> 
        </div>
    </div>
</div>
<div ng-include="'partials/modal/password-popup.html'"></div>
