<div id="header-wrap" ng-if="!isHome">
    <div class="container no-padding">
        <header class="navbar" id="top" role="banner">
            <div class="container no-padding">
                <div class="navbar-header">
                    <div class="header-content-mobile clearfix"><span class="fa fa-angle-left"></span> <span i18n="common.myAccount"></span></div>
                    <div class="logo">
                        <a href="" ui-sref="account.show" ng-if="!showPartner">
                            <img class="header-logo-img" src="images/ice-logo.svg" alt="iCE Angel">
                            <span class="header-logo-text" i18n="common.iceAngelId"></span>&trade;                            
                        </a>
                        <a href="" ui-sref="base.partner" ng-if="showPartner">
                            <img class="header-logo-img" src="images/ice-logo.svg" alt="iCE Angel">
                             <span class="header-logo-text" i18n="common.iceAngelId"></span>&trade;
                        </a>
                    </div>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav navbar-right list-unstyled" ng-show="!publicMode">
                        <li>
                            <div id="Menu" class="login list-group" ng-if="account.email">
                                
                                    <a  href="#demo3" class="dropdown-toggle main-link collapse"  data-toggle="collapse" data-parent="#Menu">
                                        <span class="badge" ng-if="newMessagesCount >0">{{newMessagesCount}}</span>
                                        <span class="avatar">
                                            <div class="photo">
                                                <img ng-src="{{account.photo}}" ng-show="account.photo" alt="">
                                                <img ng-class="{'empty': !account.photo}" ng-show="!account.photo"
                                                     ng-src="" alt=""/>
                                            </div>
                                        </span>
                                        <span class="name-account" person-name email="{{ account.email }}" first-name="{{account.first_name}}" last-name="{{account.last_name}}" middle-name="{{account.middle_name}}"></span>
                                        <span class="caret"></span>
                                    </a>
                                    <!-- <div class="premium" ng-if="account.is_premium" i18n="common.premium"></div> -->
                                    <!-- <a id="promoClick" ng-if="!account.is_premium" access-records="{{account}}" size="sm" templateUrl="partials/modal/access-records.html">    <div class="free" i18n="common.free"></div>
                                    </a> -->
                                    <div class="list-group-submenu dropdown-menu " id="demo3">
                                    <ul class="sub-menu">
                                        <li>
                                            <a ui-sref="base.home"><img src="images/submenu-1.png" alt=""> <span i18n="common.home"></span></a>
                                        </li>
                                         <li ng-show="showPartner">
                                            <a ui-sref="base.dashboard"><img src="images/dashboard.png" alt="icon"> <span i18n="common.dashboard"></span></a>
                                        </li>
                                        <li ng-show="!showPartner">
                                            <a ui-sref="account.show" reset-edit ng-click="isResetEditPage();"><img src="images/submenu-6.png" alt=""> <span i18n="common.myAccount"></span></a>
                                        </li>
                                         <li ng-show="showPartner">
                                            <a ui-sref="base.partner"><img src="images/submenu-6.png" alt=""> <span i18n="common.myAccount"></span></a>
                                        </li>
                                        <li>
                                            <a ui-sref="account.edit"><img src="images/edit_1.png" alt=""> <span i18n="common.editAccount"></span></a>
                                        </li>
                                        <li>
                                            <a ui-sref="account.settings"><img src="images/submenu-2.png" alt=""> <span i18n="common.settings"></span></a>
                                        </li>
                                        <li>
                                            <a ui-sref="account.messages"><img src="images/submenu-3.png" alt=""> <span i18n="common.messageCenter"></span> <span class="label label-danger ng-binding" ng-if="newMessagesCount >0">{{newMessagesCount}}</span></a>
                                        </li>
                                        <li id="dropdownMenuButtonDsk" >
                                            <a href="#MenuLvl1" class="padding_left_text download_btn" type="button" id="dropdownMenuButtonDsk1"  aria-haspopup="true" aria-expanded="false"  data-toggle="collapse" data-parent="#MenuLvl1" i18n="common.download">
                                          </a>

                                          <div class="collapse padding_left list-group-submenu" aria-labelledby="dropdownMenuButtonDsk" id="MenuLvl1">
                                            <a ng-click="showloaderonpagepdf()" ng-href="{{cardidurldetailval}}" download="{{cardidurldetailval}}" target="_blank" data-parent="#MenuLvl1"><img src="images/CardID_white.png" alt=""  width="20px"> <span i18n="common.idCard"></span></a>
                                            
                                            <a ng-click="downloadlockscreen()" ng-href="{{downloadlockscreenidpath}}" download="{{downloadlockscreenidpath}}" target="_blank" data-parent="#MenuLvl1"><img src="images/lockScreenId_white.png" alt=""  class="lockScreenId_white"> <span i18n="common.idLockscreen"></span>                  
                                            </a>

                                           <!--- <a ng-if="isiphoneapp" ng-click="showloaderonpagepdf()" ng-href="{{iphoneappdownloadurl}}" download="{{iphoneappdownloadurl}}" target="_blank" class="padding_left4" data-parent="#MenuLvl1"><img src="images/phoneapp.png" alt=""> <span i18n="common.app"></span></a>-->
                                            <a  href="" ui-sref="android-device-app" data-parent="#MenuLvl1"><img src="images/phoneapp.png" alt="" style="margin-right: 7px;"> <span i18n="common.app"></span></a>
                                          </div>
                                        </li>
                                        <li>
                                              <a id="promoClick" href="javascript:void(0);" ng-if="!account.is_premium && !showPartner" access-records="{{account}}" size="sm" templateUrl="partials/modal/access-records.html">  <img 
                                                     src="images/star.png" alt=""  /> <span  i18n="common.upgradePremium"></span>
                                                </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" ng-click="logout()">
                                                <img src="images/signout.png" alt="">
                                                <span i18n="common.logOut"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
</div>
