<div class="Panic_button alert_middle">
    <div class="trigger_btn col-xs-8">
        <div class="type "  ng-if="alert_history.type == 'normal'">
            <div class="title emg-alert" i18n="common.emergencyAlertTriggered"> </div>
        </div>
        <div class="type" ng-if="alert_history.type == 'panic'">
            <div class="title emg-alert" i18n="common.panicButtonTriggered"> </div class="title">
        </div>
        <a  href="tel:{{alert_history.phone.number | phoneNumber}}">
            <div class="col-xs-12 contact-number contactn_button"  ng-class = "{'abc': !alert_history.location}">
                <div i18n="common.contactNumberAlert" data-formatted-number="{{alert_history.phone.number | phoneNumber}}" data-number="{{alert_history.phone.number}}"> </div> 
            </div>
        </a>
    </div>
    <div class="col-xs-4">
        <div class="time-ago text-right">
            <p time-ago="{{alert_history.alerted_at}}"> </p>
        </div>
        <div class="text-right location-btn" ng-show="alert_history.location">
            <a ia-view-location location="alert_history.location" class="btn-emergency" i18n="common.checkTheLocation"></a>
        </div>
    </div>
</div>






