
<div style="text-align: center; padding-top: 80px;" ng-if="isSafariPrivate">
    <div class="alert alert-danger">
        <h4> <i i18n = "common.safariPrivateView"></i></h4>
    </div>
</div>

<div ng-show="!isSafariPrivate" id="home" > 
<div class="alert alert-danger linkExpired" ng-if="linkExpired">
    <span i18n="common.linkExpired"></span>
</div>
<div ng-show="!isSafariPrivate">
    <header class="top_header">
        <div class="container">
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <a  href="#" id="logo_link">  <div class="logo_img"> 
                       <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                         width="30pt" height="30pt" viewBox="0 0 324.000000 326.000000"
                         preserveAspectRatio="xMidYMid meet">
                            <metadata>
                            </metadata>
                            <g id="glogo" transform="translate(0.000000,326.000000) scale(0.100000,-0.100000)"
                            fill="#fff" stroke="none">
                            <path d="M1350 3249 c-440 -43 -896 -189 -1274 -407 l-79 -45 6 -201 c21 -727
                            280 -1391 750 -1917 216 -242 516 -486 785 -637 l73 -42 79 40 c43 22 139 80
                            214 130 564 377 961 888 1167 1500 105 314 169 699 169 1019 l0 109 -67 40
                            c-330 195 -739 335 -1163 398 -127 18 -525 27 -660 13z m729 -475 c96 -28 171
                            -123 171 -215 0 -73 -18 -117 -68 -169 -96 -99 -239 -101 -336 -4 -131 132
                            -65 350 119 395 46 11 57 10 114 -7z m-354 -460 c74 -19 135 -54 198 -113 121
                            -113 159 -261 122 -472 -76 -437 -432 -775 -869 -827 -78 -10 -75 -3 9 22 221
                            67 434 268 514 486 49 132 66 319 38 397 -22 60 -72 117 -128 148 -48 27 -63
                            30 -139 30 -68 0 -93 -5 -125 -22 -61 -33 -115 -95 -136 -155 -15 -44 -19 -50
                            -26 -33 -17 42 -8 148 17 200 34 70 107 139 175 164 61 23 165 28 211 11 49
                            -19 51 6 3 31 -58 30 -194 38 -258 16 l-43 -15 26 26 c95 100 267 144 411 106z"/>
                            </g> 
                        </svg>
                        <span i18n="common.iceAngelId" class="logo_name"></span></div>
                    </a>
                    <div class="right_head account-spinner">
                        <div class="covid-tracker" ng-class="{'afterlogin':logged}">
                           <a href="#/covid-tracker" class="navbar-link covid-dekstop" >
                            <!-- <img src="images/covid_icon.png" class="covid_icon" alt="covid_icon"> --> 
                                <span  class="covid_txt" i18n="common.covid19btn">COVID-19</span>
                            </a>  
                        </div>                       
                        <div ng-if="!logged && !isMobile" class="login_b navbar-text"  ui-sref="base.registration.register">
                            <a href="" class="navbar-link" ng-click="register()">
                                <span  class="join_txt" i18n="common.joinNow"></span>
                            </a>   
                        </div>
                            <label ng-if="!account && logged" class="fa-spinner-icon">   
                                <span i18n="common.pleaseWait"></span>                
               					 <i class="fa fa-spinner fa-spin fa-3x fa-fw" aria-hidden="true"></i>
              				</label>
                                <a ng-if="logged" href="" ui-sref="account.show" class="logged">
                                    <div ng-if=" logged && !isMobile && !showPartner" class="name-account" person-name email="{{ account.email }}" first-name="{{account.first_name}}" last-name="{{account.last_name}}" middle-name="{{account.middle_name}}"></div> </a>

                                    <a ng-if="logged" href="" ui-sref="base.partner" class="logged">
                                    <div ng-if="logged && !isMobile && showPartner" class="name-account" person-name email="{{ account.email }}" first-name="{{account.first_name}}" last-name="{{account.last_name}}" middle-name="{{account.middle_name}}"></div>
                                </a>
                    </div>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse navmenu landing-menu">
                    <ul class="nav navbar-nav" ng-controller="iaSettingsController">
                        <li ng-if="!logged">
                            <a ui-sref="base.registration.register">
                                <i class="menu-ico join-ico"></i> 
                                <span i18n = "common.joinNow"></span></a>
                        </li>
                        <li ng-if="!logged">
                            <a ui-sref="base.registration.register" data-toggle="collapse" data-target=".navbar-collapse" >
                                <i class="menu-ico join-ico"></i> 
                                <span i18n = "common.joinNow"></span></a>
                        </li>
                        <li>
                            <a ng-if="!logged" ui-sref="base.login" data-toggle="collapse" data-target=".navbar-collapse" href="" >
                                <i class="menu-ico login-ico"></i> 
                                <span i18n="common.logIn"></span>
                            </a>
                        </li>
                        <li ng-if="logged && isMobile">
                            <a ui-sref="account.show">
                                <i class="menu-ico userlog-ico"></i> 
                                <span href="" class="name-account" person-name email="{{ account.email }}" first-name="{{account.first_name}}" last-name="{{account.last_name}}" middle-name="{{account.middle_name}}"></span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="base.aboutus" data-toggle="collapse" data-target=".navbar-collapse">
                                  <i class="menu-ico about-ico"></i> 
                                <span i18n="common.aboutUs"></span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="base.faq" data-toggle="collapse" data-target=".navbar-collapse" >
                                  <i class="menu-ico faq-ico"></i> 
                                <span i18n="common.faq"></span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="base.contactus" data-toggle="collapse" data-target=".navbar-collapse" >
                                  <i class="menu-ico contact-ico"></i> 
                                <span i18n="common.contactUs"></span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="base.terms" data-toggle="collapse" data-target=".navbar-collapse" >
                                  <i class="menu-ico terms-ico"></i> 
                                <span i18n="common.termsAndConditions"></span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="base.privacy" data-toggle="collapse" data-target=".navbar-collapse" >
                                  <i class="menu-ico privacy-ico"></i> 
                                <span i18n="common.privacyPolicy"></span>
                            </a>
                        </li>
                        <li class="select_language">
                          <div class="language_icon">
                            <select class="selectpicker selectlanguage" ng-init="selectedLang = globals.language" ng-model="selectedLang" ng-change="switchLanguage()">
                             <option value="en-US"> English</option>
                               <option value="zh-CN">中文 (简体)</option>
                            </select> </div>
                        </li>
                        <li ng-if="!account.is_premium && !showPartner && logged" >
                            <a id="promoClick" data-toggle="collapse" data-target=".navbar-collapse" href="javascript:void(0);" access-records="{{account}}" size="sm" templateUrl="partials/modal/access-records.html"> 
                                <i class="menu-ico prime-ico"></i>
                                <span  i18n="common.upgradePremium"></span>
                            </a>
                        </li>
                        <li ng-if="logged">
                            <a href="javascript:void(0);" ng-click="logout()">
                                   <i class="menu-ico logout-ico"></i>
                                <span  i18n="common.logOut">
                        </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- section second -->
    <div class="container-fluid connect_family">
        <div id="hero_video">
            <video class="video" id="bgvideo" playsinline autoplay muted loop  src="https://iceangelid.s3-ap-northeast-1.amazonaws.com/videos/hero_video.mp4">
            </video>
            <source src="https://iceangelid.s3-ap-northeast-1.amazonaws.com/videos/hero_video.mp4" type="video/mp4">
              <source src="https://iceangelid.s3-ap-northeast-1.amazonaws.com/videos/hero_video.ogv" type="video/ogv" />
              <source type="video/webm" src="https://iceangelid.s3-ap-northeast-1.amazonaws.com/videos/hero_video_new.webm" />
        </div>
        <div class="container">
            <div class="row col-block-img">
                <div class="col-xs-12 col-sm-4 col-lg-4 c-f-img">
                    <img class="img-responsive landing-onhand" ng-src="{{'images/onhand_'+globals.language+'.png'}}"  alt="">
                </div>
                <div class="col-xs-12 col-sm-8 col-sm-8 c-f-content">
                    <h1 ng-class="{'c-f-content-zh' : globals.language == 'zh-CN'}" i18n="common.landingHeader"></h1>
                    <h3 class="landing-description" i18n="common.headerDescription">
                        <a href="#" i18n = "common.learnMore"></a>
                    </h3>
                    <div id="joinButton" class="joinnow " data-offset-top="600">
                        <a ui-sref="base.registration.register" ng-click="register()" i18n="common.joinNowText"></a>
                    </div>
                <div class="row">  
                <div class="col-lg-5 col-sm-6 col-xs-7 dlaod-app"> 
                <div class="text-center app_download">
               <h3 i18n="common.downloadFreeApp"></h3>

                <a href="{{globals.language == 'en-US' ? 'https://itunes.apple.com/us/app/ice-angel-id-emergency-alert-global-medical-sos/id965069891?external=1' : 'https://itunes.apple.com/cn/app/ice-angel-id-emergency-alert-global-medical-sos/id965069891?external=1'}}" target="_blank">
                    <i class="fa fa-apple" aria-hidden="true">  <span i18n="common.iphone"></span></i>
                </a>
                <a href="{{globals.language == 'en-US' ? 'https://play.google.com/store/apps/details?id=com.iceangelid.ice&external=1&hl=en-US' : 'https://play.google.com/store/apps/details?id=com.iceangelid.ice&external=1&hl=zh-CN'}}" target="_blank">
                    <i class="fa fa-android" aria-hidden="true"> <span i18n="common.android"></span> </i>
                </a>
                </div>  
                </div>
                 <div class="col-lg-7 col-sm-6 col-xs-5 emg-card">
            <div class="animated fadeInUp card">
             <img ng-src="{{globals.language == 'en-US' ? 'images/card_en.png' : 'images/card.png'}}" class="img-responsive"/>
            </div>
                 </div>

                </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="container-fluid connect_family_card">
     <a ui-sref="base.trigger-alert.iceid" class="triger_alert_message">
       <span i18n="common.emergencyAlert" class="text-uppercase text_style_mobile">
        </span> <span i18n="common.iWantToTriggerAlert"></span>    
        </a>
     <!--    <div class="container rescue_someone">
        <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="animated fadeInUp card">
        <center>
        <h3><span i18n="common.iWantToTriggerAlert"></h3>
        </center> -->
       <!--  <a ui-sref="base.trigger-alert.iceid">
        <span i18n="common.emergencyAlert">
        </span>
        </a> 
        </div>
        </div>

        </div>
        </div>-->
    </div>
    <!-- section third -->
    <div class="container-fluid video-ice">
        <div class="container">
            <div class="row"> 
                 <h3  ng-class="{'c-f-content-zh' : globals.language == 'zh-CN'}" class="landing-header " i18n="common.iceAngelAction"></h3>
                <div class="col-md-2 col-sm-2">
                </div>
                <div class="col-md-8 col-sm-8">
                    <div ng-show="!(globals.language ==='zh-CN')" class="youtube youtube_shadow" data-index="1" data-embed="WIL7EdR6UdI" data-title="iCE Angel - ID™, now with COVID-19 Smart Pass">
                        <div class="play-button"></div>
                    </div>
                    <div ng-show="globals.language ==='zh-CN'" class="youtube youtube_shadow" data-index="2" data-embed="0Ruk1X4dNsI" data-title="天使救援™与新冠肺炎智能通行证">
                        <div class="play-button"></div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                </div>
           <!--      <div class="col-md-6 col-sm-6 ">
                    <div class="youtube" data-index="2" data-embed="dpz7l4wEmnk" data-title="My iCE Angel - ID™ account">
                        <div class="play-button"></div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    
    <!-- section marketing -->
    <section class="marketing">
        <div class="container">
            <div class="row flex_row">
                <div class="col-sm-7">
                    <div class="marketing_content" i18n="common.marketingcontent">
                        
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="marketing_img">
                        <img src="/images/hand-front.png" class="hand_img" alt="img">

                       <img ng-src="{{globals.language == 'en-US' ? 'images/back-video.gif' : 'images/back-video-zh.gif'}}"  src="/" class="back-video" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- section four -->
    <div class="container-fluid s-c-l">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 landing-steps">
                    <h4 class="landing-header" i18n="common.signUp"></h4>
                    <div class="icondv">
                        <img  class="landing-feat" src="images/signup.png">
                    </div>
                    <div class="listpoint landing-subfeature">
                        <ul>
                            <li i18n="common.signDesc1"></li>
                            <li i18n="common.signDesc2"></li>
                            <li i18n="common.signDesc3"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 landing-steps">
                    <h4 class="landing-header" i18n="common.connect"></h4>
                    <div class="icondv">
                        <img class="landing-feat" src="images/connect.png">
                    </div>
                    <div class="listpoint landing-subfeature">
                        <ul>
                            <li i18n="common.connectDesc1"> </li>
                            <li i18n="common.connectDesc2"> </li>
                            <li i18n="common.connectDesc3"> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 landing-steps">
                    <h4 class="landing-header" i18n="common.live"></h4>
                    <div class="icondv">
                        <img class="landing-feat" src="images/eclipse.png">
                    </div>
                    <div class="listpoint landing-subfeature">
                        <ul>
                            <li i18n="common.liveDesc1"></li>
                            <li i18n="common.liveDesc2"> </li>
                            <li i18n="common.liveDesc3"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section five -->
    <div class="container-fluid c-h-a">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p i18n="common.emergencyHappenMessage"> </p>
                    <h3 class="landing-header" i18n="common.peaceMessage"></h3>
                </div>
            </div>
        </div>
    </div>
    <!-- section six -->
    <div class="container-fluid p-o-m">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="pieceofmind">
                        <img src="images/edlr_prnt.png">
                        <h5 class="landing-feature" i18n="common.elderlyParents"></h5>
                    </div>
                </div>
                <div class="col-md-4 col-xs-push-0  col-sm-4 col-xs-6">
                    <div class="pieceofmind">
                        <img src="images/playf_child.png">
                        <h5 class="landing-feature" i18n="common.playfulChildern"></h5>
                    </div>
                </div>
                <div class="col-md-4 col-xs-push-0 col-sm-4 col-xs-6">
                    <div class="pieceofmind">
                        <img src="images/clonic.png">
                        <h5 class="landing-feature" i18n="common.chronicIllness"></h5>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="pieceofmind">
                        <img src="images/alergy.png">
                        <h5 class="landing-feature" i18n="common.allergySufferers"></h5>
                    </div>
                </div>
                <div class="col-md-4  col-xs-push-0 col-sm-4 col-xs-6">
                    <div class="pieceofmind">
                        <img src="images/trevvel.png">
                        <h5 class="landing-feature" i18n="common.travelersCommuters"></h5>
                    </div>
                </div>
                <div class="col-md-4  col-xs-push-0 col-sm-4 col-xs-6">
                    <div class="pieceofmind">
                        <img src="images/outdoor.png">
                        <h5 class="landing-feature" i18n="common.sportOutdoor"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section Seven -->

    <div class="container-fluid select_plan">           
        <div class="container" id="matrix">
            <div class="row">
                <div class="col-md-4 plan_1">
                    <div class="details_ar">
                       <div class="padding-bottom">
                           <ul>
                             <li>
                                <p>
                                    <span class="heading_style" i18n="common.emergencyProfile"></span>
                                    <span class="res_free  hidden-lg hidden-md" >
                                        <img src="images/free.png" alt="Free">
                                    </span>  
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span i18n="common.linkEmergencyContactPersons" class="heading_style"></span>
                                    <span class="res_free  hidden-lg hidden-md" >
                                        <img src="images/free.png" alt="Free">
                                    </span>
                                </p>
                            </li>
                             <li>
                                <p>
                                    <span i18n="common.emergencyCardId" class="heading_style"></span>
                                    <span class="res_free  hidden-lg hidden-md" >
                                        <img src="images/free.png" alt="Free">
                                    </span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span i18n="common.emergencyLockscreenId" class="heading_style"></span>
                                    <span class="res_free  hidden-lg hidden-md" >
                                        <img src="images/free.png" alt="Free">
                                    </span>
                                </p>
                            </li>
                             <li>
                                <p>
                                    <span i18n="common.panicButtonMobile" class="heading_style"></span>
                                    <span class="res_free  hidden-lg hidden-md" >
                                        <img src="images/free.png" alt="Free">
                                    </span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span i18n="common.panicButtonWatch" class="heading_style"></span>
                                    <span class="res_free  hidden-lg hidden-md" >
                                        <img src="images/free.png" alt="Free">
                                    </span>
                                </p>
                            </li>
                           
                             <li>
                                <p>
                                    <span i18n="common.emergencyNotificationAppPushNotification" class="heading_style"></span>
                                    <span class="res_free  hidden-lg hidden-md" >
                                        <img src="images/free.png" alt="Free">
                                    </span>
                                </p>
                            </li>
                            <li ng-hide="true">
                                <p>
                                    <span i18n="common.emergencyNotificationTwitterMessage" class="heading_style"></span>
                                    <span class="res_free  hidden-lg hidden-md" >
                                        <img src="images/free.png" alt="Free">
                                    </span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span i18n="common.emergencyNotificationEmail" class="heading_style"></span>
                                    <span class="res_free  hidden-lg hidden-md" >
                                        <img src="images/free.png" alt="Free">
                                    </span>
                                </p>
                            </li>
                             <li>
                                <p>
                                    <span i18n="common.emergencyNotificationFacebookMessenger" class="heading_style"></span>
                                    <span class="res_free  hidden-lg hidden-md" >
                                        <img src="images/free.png" alt="Free">
                                    </span>
                                </p>
                            </li>
                             <li>
                                <p>
                                    <span i18n="common.EmergencyAlertLocationTracking" class="heading_style"></span>
                                    <span class="res_free  hidden-lg hidden-md" >
                                        <img src="images/free.png" alt="Free">
                                    </span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span i18n="common.disclosureRescueAngelContactDetails" class="heading_style"></span>
                                    <span class="res_free  hidden-lg hidden-md" >
                                        <img src="images/free.png" alt="Free">
                                    </span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span i18n="common.AccessSharingRescueWallet" class="heading_style"></span>
                                   <span class="res_free  hidden-lg hidden-md" >
                                        <img src="images/free.png" alt="Free">
                                    </span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span i18n="common.covidRescueWallet" class="heading_style"></span>
                                    <span class="res_free  hidden-lg hidden-md" >
                                        <img src="images/free.png" alt="Free">
                                    </span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span i18n="common.nominateAccountGuardian" class="heading_style"></span>
                                    <span class="res_free  hidden-lg hidden-md" >
                                        <img src="images/free.png" alt="Free">
                                    </span>
                                </p>
                            </li> 
                            <li>
                                <p>
                                    <span i18n="common.AdministerUptoFiveMemberProfiles" class="heading_style"></span>
                                    <span class="res_free  hidden-lg hidden-md">
                                        <img src="images/premium.png" alt="Free">
                                    </span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span i18n="common.rescueWalletDetails" class="heading_style"></span>
                                    <span class="res_free  hidden-lg hidden-md">
    <img src="images/premium.png" alt="Free">
</span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span i18n="common.customPrivacySettingsRescueWallet" class="heading_style"></span>
                                    <span class="res_free  hidden-lg hidden-md">
    <img src="images/premium.png" alt="Free">
</span>
                                </p>
                            </li>
                             <li>
                                <p>
                                    <span i18n="common.updateShareRescueWallet" class="heading_style"></span>
                                    <span class="res_free  hidden-lg hidden-md">
    <img src="images/premium.png" alt="Free">
</span>
                                </p>
                            </li>
                           

                            <li>
                                <p>
                                    <span i18n="common.monitorAccountHistory" class="heading_style"></span>
                                    <span class="res_free  hidden-lg hidden-md">
    <img src="images/premium.png" alt="Free">
</span>
                                </p>
                            </li>
                                                        
                        </ul>
                    </div>
                </div>
            </div>
    <div class="col-md-4 plan_2 hidden-sm hidden-xs" ng-if="!isMobile">
        <h2 class="rate" i18n="common.free"></h2>
            <ul>
                <li>
                    <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                </li>
                <li>
                    <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                </li>
                <li>
                    <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                </li>
                <li>
                    <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                </li>
                <li>
                   <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                </li>
                <li>
                    <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                </li>
               <li>
                    <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                </li>
                <li>
                    <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                </li>
                <li>
                    <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                </li>
                <li>
                    <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                </li>
                <li>
                    <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                </li>
                <li>
                    <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                </li>
                <li>
                    <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                </li>
                <li>
                    <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                </li>
                <li>
                    <p></p> 
                </li>
                <li>
                   <p></p>
                </li>
                <li>
                    <p></p>
                 </li>
                 <li>
                    <p></p>
                </li>
                <li>
                    <p></p>
                </li>
            
             </ul>        
        </div>

        <div class="col-md-4 plan_3  hidden-sm hidden-xs" ng-if="!isMobile">
            <h2 class="rate"><label i18n="common.premium"></label></h2>
                <ul>
                    <li>
                        <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                    </li>
                    <li>
                        <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                    </li>
                    <li>
                        <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                    </li>
                    <li>
                        <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                    </li>
                    <li>
                        <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                    </li>
                    <li>
                        <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                    </li>
                    <li>
                        <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                    </li>
                    <li>
                        <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                    </li>
                     <li>
                        <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                    </li>
                    <li>
                        <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                    </li>
                    <li>
                        <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                    </li>
                    <li>
                        <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                    </li>
                     <li>
                        <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                    </li>
                    <li>
                        <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                    </li>
                    <li>
                        <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                    </li>
                    <li>
                        <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                    </li>
                    <li>
                        <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                    </li>
                    <li>
                        <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                    </li>
                    <li>
                        <p><i class="fa fa-check-circle-o" aria-hidden="true"></i></p> 
                    </li>
                   
                </ul>

           </div>

           <span class="select_premium_txt" i18n="common.premiumSubscriptionUSD15"></span>

    </div>

    </div>
   

    </div>


    <!-- section Eight -->
    <div class="container-fluid w-f-c">
        <div class="container">
            <div class="row">
                <div class="img_pad">
                    <img class="img-responsive" ng-src="{{globals.language == 'en-US' ? 'images/join_devices.png' : 'images/join_devices_zh.png'}}">
                </div>
            </div>
            <div class="row" id="bottomJoin">
                <div class="joinnowbtn">
                    <a ui-sref="base.registration.register" ng-click="register()" i18n="common.joinNowText">
                    </a>
                </div>
            </div>
            <div class="row ice-ac-btn">
                <div class="col-md-7 col-sm-7">
                    <p class="landing-ending" i18n="common.landingDescription"></p>
                    <p class="landing-ending" i18n="common.landingCardDescription"></p>
                </div>
                <div class="col-md-5 col-sm-5 downbtn">
                  <a href="https://itunes.apple.com/us/app/ice-angel-id-emergency-alert-global-medical-sos/id965069891?external=1" target="_blank">
                      <img width="60%" ng-src="{{'images/app-apple-badge_'+globals.language+'.png'}}" class="img-responsive">
                  </a>
                  <a href="https://play.google.com/store/apps/details?id=com.iceangelid.ice&external=1"  target="_blank">
                    <img width="60%" ng-src="{{'images/app-play-badge_'+globals.language+'.png'}}" class="img-responsive">
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container-fluid social">
    <div class="container social_icon_bottom">
        <div class="row">
            <span ia-tooltip=""><a href="https://facebook.com/iceangelid" target="_blank"><img src="images/facebook.png"></a></span>
            <span ia-tooltip=""><a href="https://instagram.com/iceangelid" target="_blank"><img src="images/instagram.png"></a></span>
            <span ia-tooltip=""><a href="https://twitter.com/iceangelid" target="_blank"><img src="images/twitter.png"></a></span>
            <span ia-tooltip=""><a href="https://www.youtube.com/channel/UCo6P0f1gRBI5qJqViPkf7hA" target="_blank"><img src="images/youtube.png"></a></span>
            <!-- wechat icon hide -->
            <span ng-if="false"><a href="" class="wechat_icon" target="_blank" wechat-modal templateUrl="partials/wechat/wechat.html"><img href="javascript: void(0)" src="images/wechat.png"></a></span>
            <span ng-if="false" ng-class="{'no-show' : globals.language !== 'zh-CN'}" ia-tooltip=""><a href="http://i.youku.com/tianshijiuyuan" target="_blank"><img src="images/youko.png"></a></span>
            <span hidden ia-tooltip=""><a href="http://weibo.com/u/5375591204" target="_blank"><img src="images/weibo.png"></a></span>
        </div>
    </div>
</div>   
</div>
<!-- Join Now button for mobile -->
<div ng-if="!logged"  ui-sref="base.registration.register" class="fab">
                        <a href="" class="join_btn_mobile" ng-class ="{'zhbtton': globals.language ==='zh-CN'}" ng-click="register()">
                          <span  class="join_txt" i18n="common.joinNow"></span>
                        </a>
                </div>

<!-- popup -->
 <div id="landingpage" class="covid-tracker">
        <a href="#/covid-tracker" class="csr-btn navbar-link rotate mobile_covid">
             <span class="covid_txt" i18n="common.covid19btn">COVID-19</span>
            <!-- <img src="images/covid_icon.png" class="covid_icon" alt="covid_icon">    -->    
        </a>                             
    </div>
   <!--  <div id="landingpage" >
                <div  class="csr-btn rotate" ng-show="!landingpage" >
                        <a href="#"   ng-click="loadingPage()" landing-page templateurl="partials/contact/templates/landing.html" i18n="common.csr">  </a>
                </div>                             
    </div> -->
<script>
 $(document).ready(function(){  
        $('#logo_link').click(function(){
             if($(window).scrollTop()!==0){
            $("html, body").animate({ scrollTop: 0 }, 1500);   
            return false;
             }
        });   
});
 </script>
