<div id="main-load-content">
    <div id="account-home">
        <div class="container no-padding">
            <div class=" margin_row_5" id="cg-pws">
                <div class="col-xs-1 mobile-hide"></div>
                <div class="col-xs-10 mobile-cover">
                    <form id="ChangeEmailForm" role="form" name="ChangeEmailForm" ng-submit="ChangeEmailForm.$valid && handle(new_email, repeat_new_email);">

                        <div class="form-group box-register">
                            <label ia-label required message="tooltips.email"><strong i18n="common.newEmail" class="ia-label-text"></strong></label>

                            <div class="input-email" ng-class="{'has-error': (ChangeEmailForm.$submitted  || ChangeEmailForm.new_email.$touched) && ChangeEmailForm.new_email.$invalid}">
                                <input ng-model="new_email" class="form-control" name="new_email"
                                       type="email" data-i18n-attr="{placeholder: 'common.emailAddress'}"
                                       ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' required 
                                       ng-keyup="setmessage();" 
                                       validate-member-email-available  />
                                    
                            </div>

                            <div ng-if='(ChangeEmailForm.$submitted  || ChangeEmailForm.new_email.$touched) && ChangeEmailForm.new_email.$invalid' ng-messages="ChangeEmailForm.new_email.$error" >
                                <div class="alert alert-danger" ng-show="ChangeEmailForm.new_email.$error.pattern"><span i18n="errors.newEmailFormat"></span></div>
                                <div class="alert alert-danger ng-scope" ng-message="required"><span i18n="errors.emailRequired"></span></div>
                            </div>
                            <div ng-if = "emailAlreadyUsed" class="alert alert-danger">
                            <span i18n="errors.emailAlreadyRegistered"></span>
                          </div>

                          <div  ng-if="isemailavailableformember || isemailalreadyexistformember || isemailactiveformember || isemailrequiredformember">
                           <div class="alert alert-danger" ng-if="isemailactiveformember && !emailAlreadyUsed"><span i18n="errors.emailInactive"></span></div>
                           <div class="alert alert-danger" ng-if="isemailavailableformember  && !emailAlreadyUsed"><span i18n="errors.memberEmailNotValid"></span></div>
                           <div class="alert alert-danger" ng-if="isemailalreadyexistformember  && !emailAlreadyUsed"><span i18n="errors.memberEmailNotValid"></span></div>
                           <div class="alert alert-danger" ng-if="isemailrequiredformember  && !emailAlreadyUsed"><span i18n="errors.emailRequired"></span></div>
                        </div>
                              <div class="alert alert-success" ng-if = "emailConfirmed">{{message}}</div>
                        </div>
                     
                            
                        <div class="text-center"><button type="submit" ng-hide="emailConfirmed" ng-disabled="ChangeEmailForm.$invalid" class="btn btn-theme btn-150 " i18n="common.changeMyEmail" newemailVal="new_email" ></button></div>
              
               
                 <div  ng-if = "emailConfirmed" class="email-confirm-btn text-center">
                 <a href="" ng-click="gotoSettings()" class="btn btn-theme btn-150 " i18n="common.ok"></a>
                 </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>