<div class="popup-b02-input-email"> 
    <div class="close-pop"> <i class="fa fa-times" href="javascript:void(0);" ng-click="cancel();"></i> </div>
        <div class="modal-body text-center">
            <section class="content">
                <div class="form-in">
                    
                        <div class="form-sub-in">
                            <div class="alert alert-danger" ng-repeat="error in errors">{{error.message}}</div>
                            <h2 i18n="common.unsyncPanic"></h2>
                            <!-- <h4 i18n="common.unsyncPanicFromDevice"></h4> -->
                           <form novalidate class="unsync-panic-button-form" name="UnsyncPanicForm"> 
                            <p i18n="common.unsyncPanicFromDeviceMessage"></p>
                            <p>
                                <button href="javascript:void(0);" ng-click="ok()" class="btn btn-theme btn-150  " i18n="common.unsyncConfirm"></button>
                                 <button href="javascript:void(0);" ng-click="cancel()" class="btn btn-white btn-150  " i18n="common.cancel"></button>
                            </p> 
                        </div>
                    </form>
                </div> 
            </section>
        </div> 
</div>