<div class="widget trigger_an_alert" id="account-home">
    <div ng-hide="true">
        <p i18n="common.contactNumberRequiredMessage"></p>
    </div>
</div>
<div class="form-sub-in">
    <span ia-label required i18n="common.enterPhone" class="ia-label-text"></span>

    <div class="row alert-scan">
        <div class="col-xs-4 no-right-padding-cell">
            <div class="custom_select" ng-class="{'has-error': TriggerAlertForm.$submitted && TriggerAlertForm.phone_code.$invalid}">
                <select name="phone_code"
                        ng-model="alert.phone.code"
                        class="form-control"
                        ng-options="item.id as (item.name + ' ' + item.phonecode) for item in results = (globals.settings.countries.toArray() | optionsTrans:'name' | optionsSort:'name')" required>
                    <option class="hide" value="" i18n="common.alertPhoneCode"></option>
                </select>
            </div>
        </div>
        <div class="col-xs-8 no-left-padding-cell combine-contact-button" ng-class="{'has-error': TriggerAlertForm.$submitted && TriggerAlertForm.phone_number.$invalid}">
        <span type="tel"  class="form-control" ng-model="validatehomenumber"   checkphone-code=" alert.phone.code"></span>
            <input class="form-control"
                   ng-model="alert.phone.number"
                   type="tel"
                   name="phone_number"
                   phones-number
                   phonevarify-code="alert.phone.code"
                   data-i18n-attr="{placeholder: 'common.contactPhone'}" required 
                   ng-keydown = "checkLength($event);"
                   ng-keypress="checkSpaceLength($event)"
                   ng-blur ="showErrorMessage()" minlength="5" required />
                </div> 
             <div ng-show="TriggerAlertForm.phone_number.$error && TriggerAlertForm.phone_number.$touched" ng-messages="TriggerAlertForm.phone_number.$error" class="col-xs-12 no-right-padding-cell">
                <div class="alert alert-danger  phoneNumberRequiredError" ng-message="required"><span i18n="errors.phoneNumberRequired"></span></div>
                <div class="alert alert-danger" ng-message="phonenumber"><span i18n="errors.phoneFormat"></span></div>
                <div class="alert alert-danger minlenghtherror" ng-message="minlength"><span i18n="errors.phoneNumberLength"></span></div>
            </div>
    </div>

    <div ng-repeat="error in errors">
        <div class="alert alert-danger">{{error.message}}</div>
    </div>

    <div class="text-center btn-lg-wrap">
        <p><button ng-click="showErrorMessage();" type="submit" class="btn btn-theme btn-150 " i18n="common.alert"></button></p>
    </div>
</div>
