<div id="account-home">
  <div class="main-wrap container" id="main-load-content" >
      <div class="main-wrap warp-padding">

<!--ui-sref="account.viewMember({member_id: account.id})" ng-click = "redirectEcpLocation(account.members[0].id)"-->
     <!--<div href=""  class="clickable emergency-section" ng-show="account.members[0].contacts.length == 0" ng-if = "account.members[0].id === account.id && !account.is_partner">
     <div class="account-not-completed"  i18n="common.addAnEcp">
     </div>
     </div>-->

        <div class="container no-padding">
           <div class="article-wrap-container article-title account-holder row partner" id="article-wraper">
                <h2>
                    <div class=" holder_icons">
                      <i class="account_holder_icon"></i>
                    </div>
                    <span i18n="common.accountHolder"></span>
                </h2>
                <div ng-if="false">
                    <a ui-sref="account.edit" class="setting-link">
                        <img src="images/icon-setting.png" alt="">
                    </a>
                </div>
                <div class=" col-xs-12 account_holder_box">
                    <div class="content-box">
                      <div class="col-xs-12 col-sm-7 col-lg-8">
                        <div class="col-xs-12 col-lg-3 col-sm-3">
                          <div class="row user-pic user-pic-mb">
                            <ia-avatar avatar="{{ partner_ice_id.photo }}" class="clickable" ></ia-avatar>
                          </div>
                        </div>
                        <div href="" class="col-xs-12 col-sm-9 col-lg-9 "> 
                          <div class=" row photo-info">
                              <h1  person-name email="{{ partner_ice_id.email }}" first-name="{{ partner_ice_id.first_name }}" middle-name="{{ partner_ice_id.middle_name }}" last-name="{{ partner_ice_id.last_name }}"></h1>
                              <div class=" partner-page popover__wrapper">
                                    <member-id model="partner_ice_id" class="profile_info">
                                      <span i18n="common.memberId"></span>
                                    </member-id>
                                    <div class="push popover__content">
                                        <span ng-if="!openImageLoad"><i class="fa fa-spinner" aria-hidden="true"></i></span>
                                        <div ng-if="openImageLoad">
                                        <a href="{{openImage}}" class="popover__message" target="_blank"><img ng-src="{{openImage}}" style="cursor:pointer;"></a>
                                        </div>
                                    </div>
                                </div>
                                  <span class=" fa fa-copy copy-btn" title='Copy' ngclipboard data-clipboard-text="{{account.ice_id}}"> </span>
                                 <span class="copied-btn copymsg_{{account.ice_id}} hide" i18n="common.copied"></span>
                                <div class="col-xs-12 account_info p-0">                              
                                    <div class="ecp_account ecp_acc_holder c-account">
                                        <div class="member-contact-box c-box">
                                            <span class="partner-name-account" i18n = "common.emergencyContactPersonFor" data-number="{{friends.contacts.length || 0}}"></span>
                                        </div>
                                    </div>
                                </div> 
                          </div>
                        </div>
                      </div>
                     <!-- code start for Rescue Wallet-->
                         <!-- <div ng-if="!partner_premium_status"  class="col-xs-12 col-sm-5 col-lg-4">
                            <div class="rescue_wallet_section">       
                                  <a id="show_payment_popup_rescue_id" class="print_id_btn cardId_icon" access-records size="sm" templateUrl="partials/modal/access-records.html"  href=""> 
                                   <button id="rescueBtnId" class="prnt_id_ice">
                                    <img src="images/wallet.png"/> 
                                    <span i18n="common.rescueWallet"></span>
                                   </button>
                                 </a> 
                            </div>                      
                          </div> -->
                          <div ng-if="!partner_premium_status" class="col-xs-12 col-sm-5 col-lg-4">
                            <div class="rescue_wallet_section wallet-box">
                              <!-- <h4 i18n="common.storeAdditionalDetails"></h4> --> 
                                 <a class="print_id_btn cardId_icon"  size="sm" > 
                                   <button id="rescueBtnId" class="prnt_id_ice">
                                    <img src="images/wallet.png"/>
                                    <span i18n="common.rescueWallet"></span>
                                   </button>
                                 </a>
                            </div>
                          </div>

                          <div  ng-if="partner_premium_status" class="col-xs-12 col-sm-5 col-lg-4">
                            <div class="rescue_wallet_section wallet-box">
                              <!-- <h4 i18n="common.storeAdditionalDetails"></h4> --> 
                                 <a class="print_id_btn cardId_icon"  size="sm"  ui-sref="account.viewMember({member_id: partner_account_id})"> 
                                   <button id="rescueBtnId" class="prnt_id_ice">
                                    <img src="images/wallet.png"/>
                                    <span i18n="common.rescueWallet"></span>
                                   </button>
                                 </a>
                            </div>
                          </div>
                           <!-- end code for Rescue Wallet-->

                    </div>
                </div>  
            </div>
            <!--article-wrap -->
           
           <div ng-if="partner_ice_id.request" class="section-wrap-container article-wrap" id="article-wraper">
                        <div class="request_fin request_fin_form" id="qr_request_id_btn">          
                             <div class="ice_id_request_input"><input id="ice_id" class="form-control" type="tel" name="ice_id" ng-model="validIceIdNumber" value="{{validIceIdNumber | formatId}}" data-i18n-attr="{placeholder: 'common.iceAngelId'}" iceid required ng-keydown="clearError();">
                              <div class="alert alert-danger" ng-if="showError">
                              <span i18n = "common.noData"></span>  
                            </div>
                              </div>
                             <div class="submit_btn">
                               <button i18n="common.request" partner-members-modal ice-id="validIceIdNumber" target="_blank" class="submit_request btn btn-save" templateUrl="partials/partner/templates/partnerMembers.html" ng-disabled="validIceIdNumber==undefined || validIceIdNumber=='' || reqLoading"> </button>
                               <span ng-if="reqLoading" class="fa-spinner-icons"><i class="fa fa-spinner fa-spin fa-3x fa-fw" aria-hidden="true"></i></span>
                            </div>  
                            
                            <div class="inline-block" ng-if="false">
                               <button i18n="common.download" id="btndownloadexcelfile" type="button" ng-click="downloadCompleteFile();" class="submit_request btn btn-save"  ng-disabled="isDownloadCompleteFile"> </button>
                               <span ng-if="reqDownaloadLoading" class="fa-spinner-icons "><i class="fa fa-spinner fa-spin fa-3x fa-fw" aria-hidden="true"></i></span>
                            </div>
                          
                             
                        </div>
                      </div>

                    <div class="article-wrap-container">
                      <div class="links_section"> 
                        <ul>
                           <li>
                            <a ui-sref="base.ptnmembers" href="#/partner/members">
                              <img src="images/members-ptn.png" alt="icon"> 
                              <span i18n="common.membersNumber" data-number="{{partner_ice_id.members.length-1 || 0}}"></span>
                            </a>
                          </li>
                          <li>
                            <a ui-sref="base.ptnecpersons" href="#/partner/ecpersons">
                               <img src="images/firend-ptn.png" alt="icon"> 
                               <span i18n = "common.emergencyContactPersonFor" data-number="{{friends.contacts.length || 0}}"></span>
                             </a>
                          </li>
                         
                          <li>
                            <a ui-sref="base.dashboard" href="#/partner/dashboard">
                              <img src="images/dashborad_icon.png" alt="icon"> 
                              <span i18n="common.covid19"></span>
                              <span i18n="common.dashboard"></span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>                        
        </div>
    </div>

    <div ng-include="'partials/modal/password-popup.html'"></div>
  </div>  
</div>
 

 