<div class="widget trigger_an_alert">
    <div ng-hide="true">
        <p i18n="common.beforeAlertingMessage"></p>
    </div>
</div>
<div class="form-sub-in">
    <span class="ia-label-text" i18n="common.scanOrEnterThe"></span> <span class="ia-label-text" i18n="common.iceAngelId"></span> <span class="ia-label-text" i18n="common.number" required> </span>
    <div class="alert-scan" ng-class="{'has-error': TriggerAlertForm.$submitted && TriggerAlertForm.ice_id.$invalid }">
        <input id="ice_id" class="form-control" type="tel" name="ice_id" ng-model="alert.ice_id" value="{{alert.ice_id | formatId}}" data-i18n-attr="{placeholder: 'common.iceAngelId'}" iceid ng-change="changeiceid();"  required>
        <div ng-if="invalidId || TriggerAlertForm.ice_id.$touched" ng-messages="TriggerAlertForm.ice_id.$error">
            <div class="alert alert-danger" ng-message="required"><span i18n="errors.iceidRequired"></span></div>
            <div class="alert alert-danger" ng-message="iceid"><span i18n="errors.invalidIceid"></span></div>
            <div class="alert alert-danger" ng-message="notfound"><span i18n="errors.memNotFound"></div>
        </div>
        <div class="alert alert-danger" ng-if="!isValidateEcp">
            <span i18n="errors.ecpValidate"></span>
        </div>
        <!--<div ng-repeat = "error in memberError">
            <div class="alert alert-danger">{{error.message}}</div>
        </div>-->
    </div>

    
</div>
<div class="text-center btn-lg-wrap">
    <p><a ng-click="enterIceId(alert.ice_id)" href="" class="btn btn-theme btn-150  " i18n="common.next"></a></p>
</div>