<div class="popup-b02-input-email">
<div class="close-pop"> <i class="fa fa-times" href="javascript:void(0);" ng-click="cancel();"></i> </div> 
        <div class="modal-body text-left"> 
            <section class="content update_email_popup" ng-switch on="modalContent">
                <div class="center email-confirm-clas">
               <span ng-if = "emailConfirmed">{{message}}</span>          
                 <div  ng-if = "emailConfirmed" class="email-confirm-btn"><a href="" ng-click="gotoSettings()" class="btn btn-theme btn-150 btn-block" i18n="common.ok"></a></div>
                <div ng-repeat="error in errors" ng-if = "!emailConfirmed">
                  <div class="alert alert-danger">{{error.message}}</div>
                </div>             
                </div>   
                <div ng-if = "emailAlreadyUsed" class="alert alert-danger">
                    <span i18n="errors.emailAlreadyRegistered"></span>
                  </div>
            </section>
        </div> 
</div>
