<div class="popup-login-final" id="printModal">
    <div class="close-pop"> <i class="fa fa-times" href="javascript:void(0);" ng-click="cancel();"></i> </div>
        <div class="modal-body text-center">
            <section class="content">  
                <div class="title">
                    <h2>
                        <span i18n="common.printInstructions"></span>
                    </h2> 
                </div>

                <div class="box-print">
                    <p>
                        <span class="number-print">1</span>
                        <span i18n="common.printStep1"></span>
                    </p>

                    <p>
                        <span class="number-print">2</span>
                        <span i18n="common.printStep2"></span>
                    </p>

                    <p>
                        <span class="number-print">3</span>
                        <span i18n="common.printStep3"></span>
                    </p>

                    <p>
                        <span class="number-print">4</span>
                        <span i18n="common.printStep4"></span>
                    </p>
                </div>
              
                <div ng-if="member!==undefined">
                    <share-member-profile-form member="member" ng-if="!isiphonewechatDevice" type="download-member-id"></share-member-profile-form>
                    <iphone-share-member-profile-form ng-if="isiphonewechatDevice"  member="member" type="download-member-id"></iphone-share-member-profile-form>
                </div>
                <div ng-if="member===undefined">
                    <share-member-profile-form member="account.members[0]" ng-if="!isiphonewechatDevice" type="download-member-id"></share-member-profile-form>
                    <iphone-share-member-profile-form ng-if="isiphonewechatDevice"  member="account.members[0]" type="download-member-id"></iphone-share-member-profile-form>
                </div>
      
            </section>
        </div> 
</div>
