
<style>
   
  /*
  @media screen and (max-width: 767px){
    .modal-dialog {
      top: 0;
      margin: 0;
      position: absolute;
    }  
    .modal-dialog .modal-content{ 
      min-height: 100vh;
      padding: 0;
      border: none !important;
      border-radius: 0;
     }
    .modal-dialog .close-pop {
      right: 6px;
      top: 4px;
     }
  }
   .qr_scanner_modal video{
    width: 100%;
    height: 100%;
   } */
</style>
<div class="">
  <div class="close-pop"> <i class="fa fa-times" id="closecamera" href="javascript:void(0);"  onclick="stop()" ng-click="cancel();"></i> </div>

<div id="reader" style="width: 98%; margin: auto;"></div>
 <!-- <div style="width:500px;height:500px" id="reader"></div>
  
  
  <!-- <input type="text" readonly ng-modal="qrcodedata" id="qrcodedata" value=""> -->
  <!-- <div id="scandata" ></div>
  <div id="scanerror" ></div>
  <div class="qr_btns">
  <button onclick="start()"> 
     <img class="icon start_icon" src="/images/qr_start.png" alt="start_icon">
  </button>
  <button onclick="stop()">
    <img class="icon stop_icon" src="/images/qr_stop.png" alt="close_icon">
  </button>
  <button ng-click="cancel();"">
    <img class="icon close_icon" src="/images/qr_close.png" alt="close_icon">
  </button> -->
  </div>
</div>
<script>
  /*
var productname ='';
var manuafcture ='';
var serialnumber ='';
var lotnumber ='';
var productcate ='';

start();
       
function start(){
angular.element(document).ready(function() {

    console.log("Start Scanning...");
    angular.element('#reader').html5_qrcode(function(data) { // start webcam
          //console.log(data); 
          console.log("data scanned...");
          //angular.element("#reader").html5_qrcode_stop(); // stop webcam 
          var dataobj =  JSON.parse(data);
          productname =dataobj.productname;
          manuafcture =dataobj.manuafcture;
          serialnumber =dataobj.serialnumber;
          lotnumber =dataobj.lotnumber;
          productcate =dataobj.productcate;
          stop();     
          $("#reader").html(data);
          $("#closecamera").click();
        },
        function(error) {
          //angular.element("#scandata").html(error);
          console.log(error);
        },
        function(videoError) {
          angular.element("#scanerror").html("Sorry, Device is not found");
          //console.log("B"+videoError);
        }
    );
    
  });
}
    function stop(){
      console.log("Stop Scanning...");
      angular.element("#reader").html5_qrcode_stop();
      angular.element("#reader").empty();
      angular.element("#scandata").empty();
    }*/

var productname ='';
var manuafcture ='';
var serialnumber ='';
var lotnumber ='';
var productcate ='';

var html5QrCode = new Html5Qrcode("reader");

html5QrCode.start(
  { facingMode: "environment" },
  {
    fps: 30,
    qrbox: 300
  },
  qrCodeMessage => {
          var dataobj =  JSON.parse(qrCodeMessage);
          productname =(dataobj.productname).replace(/[^a-zA-Z ]/g, "");
          manuafcture =(dataobj.manufacturer).replace(/[^a-zA-Z ]/g, "");;
          serialnumber =dataobj.serialnumber;
          lotnumber =dataobj.lotnumber;
          productcate =dataobj.productcate;
          stop();
          $("#reader").html(qrCodeMessage);
          $("#closecamera").click();
  },
  errorMessage => {
    console.log("scanning...")
  })
.catch(err => {
  console.log('Unable to start scanning, error: ${err}');
});

function stop(){
  html5QrCode.stop().then(ignore => {
    console.log("stopped");
  }).catch(err => {
    console.log("error stopped");
  });
}

/*
var html5QrcodeScanner = new Html5QrcodeScanner(
    "reader", { fps: 10, qrbox: 250 } );
  html5QrcodeScanner.render(onScanSuccess);


function onScanSuccess(qrCodeMessage) {
  console.log(JSON.stringify(qrCodeMessage));
  } */

  
</script>

