
       <div class="close-pop"> <i class="fa fa-times" href="javascript:void(0);" ng-click="cancel();"></i> </div>
        <div class="modal-body text-left"> 
            <section class="content app-store" ng-switch on="modalContent">
              <p class="mb-4">
                <span  i18n="common.appdownloadstring"></span> 
              </p>
              
                 <ul>   
                 <li class="col-md-5 col-xs-10 col-sm-5">
                  <a href="https://itunes.apple.com/us/app/ice-angel-id-emergency-alert-global-medical-sos/id965069891?external=1" target="_blank">
                      <img ng-src="{{'images/app-apple-badge_'+globals.language+'.png'}}" class="img-responsive">
                  </a>
                 
                </li>            
                <li class="col-md-5 col-xs-10 col-sm-5">
                 
                  <a href="https://play.google.com/store/apps/details?id=com.iceangelid.ice&external=1"  target="_blank">
                    <img ng-src="{{'images/app-play-badge_'+globals.language+'.png'}}" class="img-responsive">
                  </a>
                </li>
            </ul>      
            </section>
        </div> 

