<div id="container-fluid">
    <div id="main-load-content">
        <section id="account-home" class="main-wrap" >
            <form role="form" class="personal_info" name="editAccountForm" ia-form-error-scroller novalidate id="edit-form" ng-submit="editAccountForm.$valid && handle(account)" > 
                        <div class="container no-padding">
                     <!-- Emergency Contact Section -->  
                        <div class=" article-wrap-container article-title row account-holder "> 
                           <h2>
                              <div class=" holder_icons">
                                  <i class="account_holder_icon"></i>
                                </div>
                              <span i18n="common.personalInfo"></span> 
                            </h2>
                           <div class=" box-register spl-width-form  info_icon">
                            <div class="form-person-body">   
                                <div class="form-group col-xs-12" >
                                    <p  i18n="common.emergencyProfileInformation"></p>
                                 </div>
                                <div class="form-group name col-xs-12">
                                    <div class="col-sm-4 col-xs-12">
                                        <label ia-label translation="common.lastName" required></label>
                                        <div ng-class="{'has-error': editAccountForm.$submitted && editAccountForm.last_name.$invalid}">
                                            <input name="last_name" class="form-control" data-i18n-attr="{placeholder: 'common.lastName'}" ng-model="account.last_name" ng-if="globals.language  == 'en-US'" value="{{account.last_name}}" required>
                                            <input name="last_name" class="form-control" data-i18n-attr="{placeholder: 'common.lastName'}" ng-model="account.last_name" value = "{{account.last_name}}"  ng-if="globals.language  == 'zh-CN'" oninvalid="this.setCustomValidity('请填写此栏')" oninput="setCustomValidity('')" required > 
                                             <div ng-show="editAccountForm.last_name.$touched || editAccountForm.$submitted" ng-messages="editAccountForm.last_name.$error">
                                                <div class="alert alert-danger" ng-message="required"><span i18n="errors.lastNameRequired"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-12" ng-if="!showPartner">
                                        <label ia-label translation="common.firstName" required></label>
                                        <div  ng-if="!showPartner" ng-class="{'has-error': editAccountForm.$submitted && editAccountForm.first_name.$invalid}">
                                            <input name="first_name" class="form-control" ng-model="account.first_name" data-i18n-attr="{placeholder: 'common.firstName'}" ng-value="account.first_name"  ng-if="globals.language  == 'en-US'" required>
                                           
                                            <input name="first_name" class="form-control" ng-model="account.first_name" data-i18n-attr="{placeholder: 'common.firstName'}" ng-value="account.first_name"     ng-if="globals.language  == 'zh-CN'" oninvalid="this.setCustomValidity('请填写此栏')" oninput = "setCustomValidity('')" required> 
                                             <div ng-show="editAccountForm.first_name.$touched || editAccountForm.$submitted" ng-messages="editAccountForm.first_name.$error">
                                        <div class="alert alert-danger" ng-message="required"><span i18n="errors.firstNameRequired"></span></div>
                                    </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-12" ng-if="showPartner">
                                        <label ia-label translation="common.firstName" ></label>
                                        <div  ng-if="showPartner" ng-class="{'has-error': editAccountForm.$submitted && editAccountForm.first_name.$invalid}">
                                            <input name="first_name" class="form-control" ng-model="account.first_name" data-i18n-attr="{placeholder: 'common.firstName'}" ng-value="account.first_name"  ng-if="globals.language  == 'en-US'" >
                                           
                                            <input name="first_name" class="form-control" ng-model="account.first_name" data-i18n-attr="{placeholder: 'common.firstName'}" ng-value="account.first_name"     ng-if="globals.language  == 'zh-CN'" oninvalid="this.setCustomValidity('请填写此栏')" oninput = "setCustomValidity('')" >
                                           
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-12">
                                        <label ia-label translation="common.middleName"></label>
                                        <div>
                                            <input ng-model="account.middle_name" class="form-control" name="middle_name" data-i18n-attr="{placeholder: 'common.middleName'}" ng-value="account.middle_name">
                                        </div>
                                    </div>


                                   
                                </div>
                                <!-- end full name -->
                                <div class="form-group col-xs-12"> 
                                        <label ng-if="!showPartner" ia-label required message="tooltips.cellPhone" translation="common.cellPhone"></label>
                                        <label ng-if="showPartner" ia-label required message="tooltips.cellPhone" translation="common.enterContactInfo"></label>
                                        <div class="row">
                                            <div class="col-xs-4 no-right-padding-cell" >
                                                <div class="custom_select" ng-class="{ 'has-error' : (editAccountForm.phonecode.$hasVisited || editAccountForm.$submitted) && editAccountForm.phonecode.$invalid}">
                                                    <select name="phonecode" ng-model="account.phone.code" class="form-control" ng-options="item.id as (item.name + ' ' + item.phonecode) for item in results = (globals.settings.countries.toArray() | optionsTrans:'name' | optionsSort:'name')" ng-if="globals.language  == 'en-US'" oninvalid="this.setCustomValidity('Please fill in this field')" oninput = "setCustomValidity('')" phonenumber-val="account.phone.number" validate-phones-number  id-value="account.id" required>
                                                        <option class="hide" value="" i18n="common.phoneCode"></option>
                                                    </select>
                                                    <select name="phonecode" ng-model="account.phone.code" class="form-control" ng-options="item.id as (item.name + ' ' + item.phonecode) for item in results = (globals.settings.countries.toArray() | optionsTrans:'name' | optionsSort:'name')" ng-if="globals.language  == 'zh-CN'" oninvalid="this.setCustomValidity('请填写此栏')" oninput = "setCustomValidity('')" phonenumber-val="account.phone.number" validate-phones-number id-value="account.id" required>
                                                        <option class="hide" value="" i18n="common.phoneCode"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class=" col-xs-8  no-left-padding-cell edit-account-div new-mobile-number-changes" ng-class="{ 'has-error' : (editAccountForm.phonenumber.$hasVisited || phonenumberalreadyused  || editAccountForm.$submitted) && editAccountForm.phonenumber.$invalid}">
                                                 <div class="col-xs-12 col-md-12 no-padding combine-contact-button phone-error">
                                                    <span type="tel"  class="form-control" ng-model="validateaccountnumber"   checkphone-code="account.phone.code"></span>

                                                    <input type="tel" id="accountphoneRange" class="accountphoneRange form-control" ng-model="account.phone.number" name="phonenumber" data-i18n-attr="{placeholder: 'common.telephoneNumber'}" phone-number-check  minlength="5" phonevarify-code="account.phone.code" ng-keypress="checkSpaceLength($event)" ng-keydown = "checkLength($event)" required  validate-phone-number phonenumber id-value="account.id" >


                                                </div>
                                            </div>
                                        </div>

                                        <div ng-if="phonenumberalreadyused" class="ng-scope"><div class="alert alert-danger"><span i18n="errors.phonenumberAvailable"></span></div></div>

                                        <div ng-show="editAccountForm.$submitted || editAccountForm.phonenumber.$touched" ng-messages="editAccountForm.phonenumber.$error">
                                            <div class="alert alert-danger" ng-message="required"><span i18n="errors.phoneNumberRequired"></span></div>
                                            <div class="alert alert-danger" ng-message="phonenumber"><span i18n="errors.phoneFormat"></span></div>
                                            <div class="alert alert-danger" ng-message="minlength"><span i18n="errors.phoneNumberLength"></span></div>
                                        </div> 
                                </div>
                                <!-- end cell phone -->
                                <div class="form-group col-xs-12" ng-if="!showPartner">
                                     
                                        <label ia-label required message="tooltips.dateOfBirth" translation="common.dateOfBirth"></label>
                                        <ia-date class="date" disabled="viewMode" type="past-16" ng-if="account.birth_date" required model="account.birth_date" form="editAccountForm"></ia-date>
                                        <ia-date class="date" disabled="viewMode" type="past-16" ng-if="!account.birth_date" required model="account.birth_date" form="editAccountForm"></ia-date>
                                        <div ng-show="(editAccountForm.$submitted && (editAccountForm.year.$invalid || editAccountForm.month.$invalid || editAccountForm.day.$invalid)) || (editAccountForm.year.$touched && editAccountForm.year.$invalid) || (editAccountForm.month.$touched && editAccountForm.month.$invalid) || (editAccountForm.day.$touched && editAccountForm.day.$invalid)">
                            <div class="alert alert-danger"><span i18n="errors.birthDateRequired"></span></div>
                                        </div>
                                       <!--  <p class="guide" i18n="common.registrationAgeMessage"></p> -->
                                     
                                </div>
                                 <div class="form-group col-xs-12"  ng-if="showPartner">
                                     
                                        <label ia-label  message="tooltips.dateOfBirth" translation="common.dateOfBirth"></label>
                                        <ia-date class="date"  disabled="viewMode" type="past-16" ng-if="account.birth_date" model="account.birth_date" form="editAccountForm"></ia-date>
                                        <ia-date class="date"  disabled="viewMode" type="past-16" ng-if="!account.birth_date" model="account.birth_date" form="editAccountForm"></ia-date>
                                     
                                 </div>
                                 <!-- end date of birth -->
                                 <div class="form-group col-xs-12">
                                     
                                        <label ia-label required translation="common.accountLanguage"></label> 
                                        <div class="custom_select" ng-class="{'has-error': editAccountForm.$submitted && editAccountForm.language.$invalid}">
                                            <select ng-model="account.language" class="form-control" name="language" ng-options="item.value as item.name for item in results = (globals.settings.support_languages.toArray() | optionsTrans:'name' | optionsSort:'name')" required>
                                            <option class="hide" value="" i18n="common.accountLanguage"></option>
                                            </select>
                                        </div>
                                        <div ng-show="editAccountForm.$submitted" ng-messages="editAccountForm.language.$error">
                                            <div class="alert alert-danger" ng-message="required"><span i18n="errors.languageRequired"></span></div>
                                        </div>
                                     
                                </div>
                                 <!-- end language -->
                                 <div class="form-group col-xs-12" ng-if="!showPartner" >
                                     
                                        <label ia-label required message="tooltips.nationality"  translation="common.nationality"></label>
                                        <div class="custom_select" ng-class="{'has-error': editAccountForm.$submitted && editAccountForm.nationality.$invalid}">
                                            <select name="nationality" ng-model="account.nationality" class="form-control" ng-options="item.id as item.name for item in results = (globals.settings.countries.toArray() | optionsTrans:'name' | optionsSort:'name')" ng-if="globals.language  == 'en-US'" oninvalid="this.setCustomValidity('Please fill in this field')" oninput = "setCustomValidity('')" required>
                                             <option value="" i18n="common.selectCountry"></option>
                                            </select>
                                            <select name="nationality" ng-model="account.nationality" class="form-control" ng-options="item.id as item.name for item in results = (globals.settings.countries.toArray() | optionsTrans:'name' | optionsSort:'name')" ng-if="globals.language  == 'zh-CN'" oninvalid="this.setCustomValidity('请填写此栏')" oninput = "setCustomValidity('')" required>
                                             <option value="" i18n="common.selectCountry"></option>
                                            </select>
                                        </div>
                                        <div ng-show="editAccountForm.$submitted || editAccountForm.nationality.$touched" ng-messages="editAccountForm.nationality.$error">
                                            <div class="alert alert-danger" ng-message="required">
                                                <span i18n="errors.nationalityRequired"></span>
                                            </div>
                                        </div>
                                     
                                </div>
                                <div class="form-group col-xs-12" ng-if="showPartner" >
                                     
                                        <label ia-label message="tooltips.nationality"  translation="common.nationality"></label>
                                        <div class="custom_select">
                                            <select name="nationality" ng-model="account.nationality" class="form-control" ng-options="item.id as item.name for item in results = (globals.settings.countries.toArray() | optionsTrans:'name' | optionsSort:'name')" ng-if="globals.language  == 'en-US'" oninvalid="this.setCustomValidity('Please fill in this field')" oninput = "setCustomValidity('')" >
                                             <option value="" i18n="common.selectCountry"></option>
                                            </select>
                                            <select name="nationality" ng-model="account.nationality" class="form-control" ng-options="item.id as item.name for item in results = (globals.settings.countries.toArray() | optionsTrans:'name' | optionsSort:'name')" ng-if="globals.language  == 'zh-CN'" oninvalid="this.setCustomValidity('请填写此栏')" oninput = "setCustomValidity('')" >
                                             <option value="" i18n="common.selectCountry"></option>
                                            </select>
                                        </div>
                                     
                                </div>
                                <!-- end nationality -->
                                 <div class="form-group col-xs-12" ng-if="!showPartner" >
                                     
                                        <label ia-label required message="tooltips.memberGender"  translation="common.gender"></label>
                                        <br>
                                        <div class="custom_select" ng-class="{'has-error': editAccountForm.$submitted && editAccountForm.gender.$invalid}">
                                            <label ng-if="globals.language ==='zh-CN'"  ng-repeat ="radio in (globals.settings.genders.toArray())" class="custom-check">{{radio.name_zh}} 
                                            <input type="radio" oninvalid="this.setCustomValidity('Please fill in this field.')" ng-model="account.gender" value={{radio.id}} name="gender" required > 
                                            <span class="checkmark form-control"></span>
                                            </label>

                                            <label ng-if="globals.language ==='en-US'" ng-repeat ="radio in (globals.settings.genders.toArray())" class="custom-check">{{radio.name_en}} 
                                            <input required type="radio" oninvalid="this.setCustomValidity('Please fill in this field.')" ng-model="account.gender" value={{radio.id}} name="gender"> 
                                            <span class="checkmark form-control"></span> 
                                            </label>

                                        </div>
                                        
                                        <div ng-show="editAccountForm.$submitted" ng-messages="editAccountForm.gender.$error">
                                            <div class="alert alert-danger" ng-message="required"><span i18n="errors.genderRequired"></span></div>
                                        </div>
                                     
                                </div>
                                <div class="form-group col-xs-12" ng-if="showPartner" >
                                     
                                        <label ia-label  message="tooltips.memberGender"  translation="common.gender"></label>
                                        <br>
                                        <div class="custom_select">
                                            <label ng-if="globals.language ==='zh-CN'"  ng-repeat ="radio in (globals.settings.genders.toArray())" class="custom-check">{{radio.name_zh}} 
                                            <input type="radio" oninvalid="this.setCustomValidity('Please fill in this field.')" ng-model="account.gender" value={{radio.id}} name="gender"  > 
                                            <span class="checkmark form-control"></span>
                                            </label>

                                            <label ng-if="globals.language ==='en-US'" ng-repeat ="radio in (globals.settings.genders.toArray())" class="custom-check">{{radio.name_en}} 
                                            <input  type="radio" oninvalid="this.setCustomValidity('Please fill in this field.')" ng-model="account.gender" value={{radio.id}} name="gender"> 
                                            <span class="checkmark form-control"></span> 
                                            </label>

                                        </div>
                                     
                                </div>
                                <!-- end GENDER -->
                                <div class="form-group col-xs-12" >
                                     
                                        <div class="upload-box">
                                            <label ia-label message="tooltips.photo" ></label>
                                        
                                            <div class="col-sm-3 col-xs-12">
                                                <div class="user-photo">
                                                    <span class="avatar">
                                                        <div class="photo">
                                                            <img ng-class="{ 'empty': !account.photo }" ng-src="{{account.photo}}" alt="" width="auto" height="auto">
                                                        </div>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-sm-9 col-xs-12  text-center">
                                                <span class="label_text margin-a" ia-label  translation="common.photoUploadRecommendation"></span> 
                                                    <div ng-controller="imageCropController" class="upload_avatar"> 
                                                            <section ng-style="sectionStyles">
                                                                <button ng-show="IsImgUploadButton" class="btn-web btn-primary" id="upload_btn_web" type="button">
                                                                <span class="upload-btn" i18n="common.upload"></span>
                                                                <i class="fa fa-spinner fa-spin"  ng-show= "isPrintLoading"></i>
                                                                </button>
                                                                <input type="file" class="no-uniform set-input-file-clas" name="pic" id="fileInput" accept="image/*"/>
                                                            </section> 
                                                        <div ng-if="IsImgUpload">
                                                            <div class="cropArea">
                                                                <img-crop image="myImage" area-type="circle" area-init-size="{ w:cropper.cropWidth,h:cropper.cropHeight}" cropject="cropper" result-image="myCroppedImage"></img-crop>
                                                            </div>
                                                            <div class="cropbuttonSection text-center" > 
                                                                <button type="button" ng-click="clearImgCrop()" class="hi-icon hi-icon-cancel" i18n="common.cancelAllChanges"></button>

                                                                <button type="button " ng-click="uploadImagCrop()" class="hi-icon hi-icon-check" i18n="common.upload"></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                     
                                </div>
                                <div ng-messages="editAccountForm.photo.$error">
                                    <div class="alert alert-danger" ng-message="filesize"><span i18n="errors.fileSize"></span></div>
                                </div>
                                <div ng-repeat="error in errors">
                                    <div class="alert alert-danger">{{error.message}}</div>
                                </div>
                            </div>
                           </div>
                        </div>

                        <!-- --------------- Start emergency channel section ----------------------- -->
                        <div class=" article-wrap-container article-title row ecp"> 
                            <h2>
                              <div class=" holder_icons">
                                  <i class="ecp-icon"></i>
                                </div>
                              <span i18n="common.emergencyChannels"></span> 
                            </h2>
                           <div class="  box-register spl-width-form info-icon">
                            <div class="form-person-body"> 
                               <div class="form-group col-xs-12">
                                    <p class="red-guide" i18n="common.emergencyChannelMessage"></p>
                               </div>
                               <div class="form-group col-xs-12 common.emergencyProfileInformation">
                                     
                                        <label ia-label required translation="common.emergencyChannel1"></label>
                                        <input class="form-control" placeholder="{{account.email}}" disabled="disabled">
                                     
                                </div>
                                <div class="form-group col-xs-12" ng-hide="true">
                                     
                                        <label ia-label translation="common.emergencyChannel2"></label>
                                            <a send-messenger size="lg" id="fbMessengerBtn" templateUrl="partials/modal/send-messenger.html"
                                               href="" class="btn btn-primary btn-lg btn-block btn-web fb_messenger">
                                               <img src="images/fb-messenger.png">
                                               <span i18n="common.facebookMessenger"></span>
                                                <!-- <span i18n="common.messengerConnect"></span> -->
                                            </a>
                                       
                                </div>
                                <div class="form-group col-xs-12" ng-hide="true">
                                     
                                        <label ia-label translation="common.emergencyChannel3"></label> 
                                        <button type="button" show-twitter-box templateUrl="partials/account/templates/twitter.html" class="btn btn-primary btn-lg btn-block btn-web twitter_box">
                                          <img src="images/twitter1.png">
                                          <span i18n="common.twitterDirectMessage"></span>
                                        </button>
                                         <twitter-follow-button screen-name="iceangelid"  name="emergency_channel2" ng-model="account.emergency_channels.emergency_channel3.value" class="twitter-follow"></twitter-follow-button>   
                                     
                                </div>

                                <div class="form-group col-xs-12" >
                                    
                                        <label ia-label translation="common.emergencyChannel2"></label> 
                                         <!-- <div ng-include="'partials/fbSend.html'"></div> -->
                                         <div class="form-group"  ng-class="{ 'has-error' : editAccountForm.$submitted && editAccountForm.emergency_channel_2_value.$invalid }">
                                             <!-- <label i18n="common.email"></label>  -->
                                            <input  type="email" class="form-control email_field" name="emergency_channel_2_value" ng-model="account.emergency_channels.emergency_channel3.value" data-i18n-attr="{placeholder: 'common.emailAddress'}" ng-required="account.emergency_channels.emergency_channel2.id == 1" ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>
                                           <div ng-show="editAccountForm.emergency_channel_2_value.$error.pattern">
                                                <div class="alert alert-danger"><span i18n="errors.emailFormat"></span></div>
                                            </div>
                                         </div>
                                         
                                </div>
                            </div>
                          </div>
                        </div>

                    <!--Account security section-->
                        <div class=" article-wrap-container article-title row  account_security"> 
                           <h2>
                              <div class="holder_icons">
                                  <i class="security-icon"></i>
                                </div>
                               <span i18n="common.securityInfo"></span> 
                            </h2>

                           <div class="box-register spl-width-form info-icon">
                            <div class="form-person-body"> 
                               <div class="form-group col-xs-12">
                                    <p  i18n="common.accountSecurityMessage"></p> 
                               </div>
                               <div class="form-group col-xs-12">
                                
                                    <label ia-label message="tooltips.securityQuestion" translation="common.securityQuestion1"></label>
                                    <div class="custom_select">
                                        <select required class="form-control" name="security_question_1" ng-required="account.security_question_1"  ng-model="account.security_question_1" ng-options="item.id as item.title for item in results = (globals.settings.security_questions.toArray() | optionsTrans:'title' | integerFilter:{id: account.security_question_2}:true)" >
                                        <option value="" i18n="common.selectSecurityQuestion"></option>
                                        </select>
                                    </div>
                                 
                            </div>

                            <div class="form-group col-xs-12" ng-show="account.security_question_1">
                                 
                                    <label ia-label translation="common.securityAnswer1"></label>
                                    <input class="form-control" ng-model="account.security_answer_1" name="security_answer_1" data-i18n-attr="account.security_question_1 && !editAccountForm.security_question_1.$dirty ? {placeholder: 'common.securityAnswer1set'} : {placeholder: 'common.securityAnswer1'} " type="text" ng-required="account.security_question_1 && editAccountForm.security_question_1.$dirty">
                                    <div ng-show="editAccountForm.$submitted" ng-messages="editAccountForm.security_answer_1.$error">
                                        <div class="alert alert-danger" ng-message="required"><span i18n="errors.securityAnswer1Required"></span></div>
                                    </div>
                                 
                            </div>

                            <div class="form-group col-xs-12" ng-show="account.security_question_1">
                                 
                                    <label ia-label message="tooltips.securityQuestion" translation="common.securityQuestion2"></label>
                                    <div class="custom_select" ng-class="{'has-error': editAccountForm.$submitted && editAccountForm.security_answer_2.$invalid}">
                                        <select ng-disabled="account.security_question_1 == undefined" required class="form-control" name="security_question_2" ng-invalid="account.security_question_1 == undefined && account.security_question_2 || account.security_question_1 && account.security_question_2 == undefined" ng-required="account.security_question_2" ng-model="account.security_question_2" ng-options="item.id as item.title for item in results = (globals.settings.security_questions.toArray() | optionsTrans:'title' | integerFilter:{id: account.security_question_1}:true )">
                                        <option value="" i18n="common.selectSecurityQuestion"></option>
                                        </select>
                                    </div>
                                 
                            </div>

                            <div class="form-group col-xs-12" ng-show="account.security_question_1 && account.security_question_2">
                                 
                                    <label ia-label translation="common.securityAnswer2"></label>
                                    <input class="form-control" ng-model="account.security_answer_2" name="security_answer_2" data-i18n-attr="account.security_question_2 ? {placeholder: 'common.securityAnswer2set'} : {placeholder: 'common.securityAnswer2'} " type="text"       ng-required="account.security_question_1 && account.security_question_2 == undefined && editAccountForm.security_question_2.$dirty ||
                                                        editAccountForm.security_question_1.$dirty && account.security_question_1">
                                    <div ng-show="editAccountForm.$submitted" ng-messages="editAccountForm.security_answer_2.$error">
                                        <div class="alert alert-danger" ng-message="required"><span i18n="errors.securityAnswer2Required"></span></div>
                                    </div>
                                 
                             </div>
                            </div>
                           </div>
                        </div> 
                    </div> 
                    <footer  id="inner-footer">
        <div class=" text-center"> 
          <div class="text-center foot-alert"  >
             <div class="success-messages  member-save-info fade-in fade-message" hidden >
                <div class="alert alert-success" i18n="common.saveSuccessfully"></div>
            </div>
          </div>
          <div class="save-group">
                <button ng-click="reset()" class="btn btn-default btn-web btn-cancel" i18n="common.cancelAllChanges"></button>
                <button type="submit" class="btn btn-primary btn-web btn-save " id="registration-submitSecond" >
                    <span i18n="common.save"></span>
                      <i class="fa fa-spinner fa-spin ng-hide" style="font-size:18px" ng-show="editLoading"></i>
                </button>
            </div>
        </div>
    </footer>
    <div ng-include="'partials/modal/password-popup.html'"></div>
            </form>
        </section>
    </div>
    
</div>
