<div id="container-fluid">
    <div id="main-load-content">
        <div class="main-wrap">
            <div class="container no-padding">
                <section id="account-home">
                     <div class=" article-wrap-container article-title row guardian-head friends">
                        <h2>
                          <div class="holder_icons">
                                <i class="guardian-icon"></i>
                           </div>
                          <span i18n="common.guardianFor" data-number="{{friends.guardians.length || 0}}"></span> 
                          <a class="ia-label-tooltip-icon-container ng-scope" ia-tooltip="tooltips.guardianFor" >
                                <i class="fa fa-question-circle pull-right"  tooltip-placement="auto top" tooltip-append-to-body="true" ></i>
                            </a>
                          
                        </h2>
                        <div class="no-info no-info-guard" ng-if="friends.guardians.length===0" i18n="common.noInformationToDisplay"></div>
                        <div class="main_grid_list_details col-lg-6 col-sm-6 col-xs-12" ng-repeat="guardian in friends.guardians track by $index">

  
                                     <div class="panel-collapse collapse in" id="collapseOne0">
                                        <div class="list_details" id="ecp_list_details">
                                            <div class="col-xs-12 btn-drop">
                                                <div class="resend_nomination_dat ">
                                                    <div class="dropdown dropdown_btn">
                                                  <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="ex1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <img class="" src="images/ellipsis.png" alt="">
                                                  </button>
                                                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="ex1">
                                                      
                                                      <button class="dropdown-item" type="button" remove-guardian-for templateUrl="partials/guardian/templates/removeGuardianFor.html">
                                                        <a href="javascript:void(0);" size="sm"  > 
                                                          <span i18n="common.delete"></span>
                                                        </a>
                                                      </button>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="  col-xs-12 detail">
                                                <div class=" col-xs-3 ">
                                                    <ia-avatar avatar="{{ guardian.photo }}" badge="'icon-guardians_icon'"></ia-avatar>
                                                </div>
                                                <div class=" col-xs-12 col-sm-9">
                                                    <div class="no-padding" ng-if="contact.status !== 'pending'"> 
                                                        <p person-name email="{{ guardian.email }}" first-name="{{ guardian.first_name }}" middle-name="{{ guardian.middle_name }}" last-name="{{ guardian.last_name }}"> </p> 
                                                    </div>
                                                    <div class="no-padding" ng-if="contact.status !== 'pending'"> 
                                                        <p><em class="phone"><img src="images/sm-1.png" alt=""></em> <span full-phone-number phonecode="guardian.phone.code" phonenumber="guardian.phone.number"></span>
                                                        </p>
                                                    </div> 
                                                    <div  class="no-padding" ng-if="contact.status !== 'pending'">
                                                        <p><em class="envelop"><img src="images/sm-2.png" alt=""></em> <span>{{guardian.email}}</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                <div class="col-xs-12" ng-show="guardians.length < 2">
                                    <div class="add-section">
                                        <p>
                                            <a size="sm" add-guardian-modal class="btn btn-success"> 
                                                <span i18n="common.add"></span> 
                                            </a>
                                        </p>
                                        <p i18n="common.addGuardian"></p>
                                    </div>
                                </div>
                        </div>  
                    </div>

                    <div class=" article-wrap-container article-title row friendpage  ">
                        <h2>
                          <div class="holder_icons">
                                <i class="friend-icon"></i>
                           </div>
                          <span i18n="common.emergencyContactPersonFor" data-number="{{friends.contacts.length || 0}}"></span>
                            <a class="ia-label-tooltip-icon-container ng-scope" ia-tooltip="tooltips.emergencyContactPersonFor" >
                                <i class="fa fa-question-circle pull-right" tooltip-placement="auto top" tooltip-append-to-body="true" ></i>
                            </a>
                        </h2>
                         <div class="no-info" ng-if="friends.contacts.length===0" i18n="common.noInformationToDisplay"></div>
                        <div class="main_grid_list_details col-lg-6 col-sm-6 col-xs-12  " ng-repeat="contact in friends.contacts track by $index" contactfor="contact" alert-friend>
                            <div class="panel-collapse collapse in" id="collapseOne0">
                                <div class="list_details" id="ecp_list_details">
                                    <div class="  col-xs-12 btn-drop" ng-if="contact.account_id != account.id">
                                        <div class="resend_nomination_dat ">
                                            <div class="dropdown dropdown_btn">
                                              <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="ex1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img class="" src="images/ellipsis.png" alt="">
                                              </button>
                                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="ex1">
                                              
                                              
                                              <button class="dropdown-item" type="button" remove-contact-for templateUrl="partials/contact/templates/removeContactFor.html">
                                                <a href="javascript:void(0);" size="sm"  > 
                                                  <span i18n="common.delete"></span>
                                                </a>
                                              </button>
                                            </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-xs-12 detail">
                                            <div class="  col-xs-3  ">
                                                <ia-avatar avatar="{{ contact.photo }}" badge="'icon-ecp_icon'"></ia-avatar>
                                            </div>
                                            <div class=" col-sm-9 col-xs-12">
                                                <div class=" " >
                                                <div class="no-padding" > 
                                                    <p person-name email="{{ contact.email }}" first-name="{{ contact.first_name }}" middle-name="{{ contact.middle_name }}" last-name="{{ contact.last_name }}"></p>  
                                                </div> 
                                                <div class="no-padding" ng-if="contact.phone.number"> 
                                                    <p>
                                                        <em class="phone"><img src="images/sm-1.png" alt=""></em> 
                                                        <span full-phone-number phonecode="contact.phone.code" phonenumber="contact.phone.number"></span>
                                                    </p> 
                                                </div> 
                                                <div class="no-padding" ng-if="contact.phone.number"> 
                                                    <p>
                                                        <em class="envelop"><img src="images/sm-2.png" alt=""></em> 
                                                        <span>{{contact.email}}</span>
                                                    </p> 
                                                </div>  
                                            </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </section>
                <!--section-wrap -->
            </div>
        </div>
    </div>
</div>
