

<div ng-if="account==null">
    <div class="alert alert-info empty_account_loader container">          
        <i class="fa fa-spinner fa-spin" style="font-size:24px"></i> 
        <span i18n="common.pleaseWait"></span>
    </div>
</div>
<div ng-if="account!=null">
    <div id="main-load-content" class="view-member" >
         <section id="account-home" class=" container no-padding">
             <div class=" article-wrap-container article-title account-holder row " id="setting">
               <h2>
                    <div class=" holder_icons">
                      <i class="account_holder_icon"></i>
                    </div>
                    <span i18n="common.accountHolderInfo"></span> 
               </h2> 
                <div class=" artical-pad basic_info_section col-xs-12">
                  <div class="col-xs-12 col-sm-2  col-lg-2">
                    <div class="row">
                    <ia-avatar avatar="{{ account.photo }}" badge="'icon-account_holder_icon'"></ia-avatar>
                  </div>
                  </div>
                  <div class="col-xs-12 col-sm-7 col-lg-7 account_heading_detail">
                    <div class=" photo-info">
                        <h1 class="name-account" person-name email="{{ account.email }}" first-name="{{ account.first_name }}" middle-name="{{ account.middle_name }}" last-name="{{ account.last_name }}"></h1>
                        <div class="popover__wrapper">
                           <member-id model="account"><span i18n="common.memberId"></span></member-id> 
                        </div>
                    </div>
                  </div>
                  <div class=" col-xs-12 col-sm-3 col-lg-3 share_icon">
                        <div class="">
                              <div class="editbuton"><a ui-sref="account.edit" class="btn btn-primary btn-lg btn-web" i18n="common.edit"></a></div>
                        </div>
                  </div>

                    <div class="view-pro-member col-xs-12"> 
                            <ul class="row"> 
                                    <li class="col-xs-12 col-sm-12 col-lg-6" ng-if="account.birth_date.year">
                                        <div class="border-row row">
                                            <div class="col-xs-5 title-pro"> <span i18n="common.dateOfBirth"></span><span class="colon">:</span></div>
                                            <div class="col-xs-7 name-pro"> <span full-date year="account.birth_date.year" month="account.birth_date.month" day="account.birth_date.day"> </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-xs-12 col-sm-12 col-lg-6">
                                        <div class="border-row row">
                                            <div class="col-xs-5 title-pro" >
                                                <span i18n="common.cellPhone"></span><span class="colon">:</span>
                                            </div>
                                            <div class="col-xs-7 name-pro"><span full-phone-number phonecode="account.phone.code" phonenumber="account.phone.number"></span></div>
                                        </div>
                                    </li>
                                    <li  class="col-xs-12 col-sm-12 col-lg-6" ng-if="account.gender">
                                        <div class="border-row row">
                                            <div class="col-xs-5 title-pro">
                                                <span i18n="common.gender"></span><span class="colon">:</span>
                                            </div>
                                            <div class="col-xs-7 name-pro"> {{account.gender | settingsFilter:'genders':'name'}}</div>
                                        </div>
                                    </li>
                                    <li class="col-xs-12 col-sm-12 col-lg-6" ng-if="account.nationality">
                                        <div class="border-row row">
                                            <div class="col-xs-5 title-pro">
                                                <span i18n="common.nationality"></span><span class="colon">:</span>
                                            </div>
                                            <div class="col-xs-7 name-pro">  {{account.nationality | countryFilter:'name'}}
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-xs-12 col-sm-12 col-lg-6">
                                        <div class="border-row row">
                                            <div class="col-xs-5 title-pro">
                                                <span i18n="common.accountLanguage" class="hide-mobile"></span><span i18n="common.accountLanguagem" class="show-mobile" ></span><span class="colon">:</span>
                                            </div>
                                            <div class="col-xs-7 name-pro"> {{account.language | languageFilter:'value'}}</div>
                                        </div>
                                    </li>
                                    
                                     <!--emergency_channels.emergency_channel1 = Primary Email -->
                                    <li class="col-xs-12 col-sm-12 col-lg-6">
                                        <div class="border-row row">
                                            <div class="col-xs-5 title-pro">
                                                <span i18n="common.emergencyChannel1" class="hide-mobile"></span><span i18n="common.emergencyChannelm1" class="show-mobile"></span><span class="colon">:</span>
                                            </div>
                                            <div class="col-xs-7 name-pro"><span class="email">{{account.email}}</span></div>
                                        </div>
                                    </li>
                                    <!--emergency_channels.emergency_channel5 = Facebook -->
                                    <li class="col-xs-12 col-sm-12 col-lg-6" ng-hide="true" ng-if="account.emergency_channels.emergency_channel5">
                                        <div class="border-row row">
                                            <div class="col-xs-5 title-pro">
                                                <span  i18n="common.emergencyChannel2" class="hide-mobile"></span><span  i18n="common.emergencyChannelm2" class="show-mobile"></span><span class="colon">:</span>
                                            </div>
                                            <div class="col-xs-7 name-pro">
                                                <a target="_blank"   href="https://www.m.me/iceangelid" class="fb_messenger">
                                                    <span  i18n="common.facebookMessenger"></span> 
                                                <!-- 
                                                    <a target="_blank" 
                                                href="https://www.m.me/iceangelid" class="btn btn-primary btn-lg btn-block btn-web fb_messenger">
                                                    <span class="fb-messenger-icon" i18n="common.facebookMessenger"></span>  -->
                                                </a>
                                                 
                                            </div>                                
                                        </div>
                                    </li>
                                    <!--emergency_channels.emergency_channel2 = Twitter -->
                                    <li class="col-xs-12 col-sm-12 col-lg-6" ng-if="account.emergency_channels.emergency_channel2" ng-hide="true">
                                        <div class="border-row row">
                                            <div class="col-xs-5 title-pro" >
                                                <span i18n="common.emergencyChannel3" class="hide-mobile"> </span><span i18n="common.emergencyChannelm3"  class="show-mobile"> </span><span class="colon">:</span></div>
                                            <div class="col-xs-7 name-pro">
                                                
                                                <a target="_blank" href="https://twitter.com/{{account.emergency_channels.emergency_channel2.value}}">
                                                    <i class="fa fa-twitter" style="font-size:18px"></i>
                                                    {{account.emergency_channels.emergency_channel2.value}}
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                <!--Srart-->
                                <!-- emergency_channels.emergency_channel3 for Secondary Email  -->
                                    <li class="col-xs-12 col-sm-12 col-lg-6" ng-if="account.emergency_channels.emergency_channel3" >
                                        <div class="border-row row">
                                            <div class="col-xs-5 title-pro" >
                                                <span i18n="common.emergencyChannel2" class="hide-mobile"></span><span i18n="common.emergencyChannelm2" class="show-mobile"></span><span class="colon">:</span></div>
                                            <div class="col-xs-7 name-pro">
                                                <span class="email">
                                                {{account.emergency_channels.emergency_channel3.value}}
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                <!--End-->
                            </ul>
                    </div>

                </div>
            </div> 



            <div class="article-wrap-container article-title row">
                <div class=" artical-pad basic_info_section col-xs-12 friendpage">
                    <div class="list_details">
                        <div class="col-md-6 detail">
                            <ul>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-8 title-pro"><span i18n="common.emailText"></span><span class="colon">:</span> {{account.email}}</div>
                                        <div class="col-xs-4 name-pro ng-binding">
                                            <div class="spl-btn-width set">
                                                <a size="sm" controller="ChangeEmailModal" section="email" account-password templateUrl="partials/modal/account-password.html" class="btn btn-primary btn-lg btn-web" i18n="common.edit"></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 detail">
                            <ul>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-8 title-pro"><span i18n="common.password"></span><span class="colon">:</span> ************</div>
                                        <div class="col-xs-4 name-pro ng-binding">
                                            <div class="spl-btn-width set">
                                                <a change-password size="sm" templateurl="partials/modal/change-password.html" class="btn btn-primary btn-lg btn-web" i18n="common.edit"></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-6 detail">
                            <ul>
                                <li>
                                    <div class="row"> 
                                        <div class="col-xs-8 title-pro"><span i18n="common.securityInfo"></span><span class="colon">:</span><span ng-if= "account.security_question_1 && account.security_question_2" i18n="common.on"></span>
                                            <span ng-if= "!account.security_question_1 && !account.security_question_2" i18n="common.off"></span>
                                        </div>
                                        <div class="col-xs-4 name-pro ng-binding">
                                            <div class="spl-btn-width set">
                                                <a size="sm" ng-click= "redirectLocation()"
                                                   class="btn btn-primary btn-lg btn-web" i18n="common.edit"></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 api_key api_key_field detail" ng-if="account.is_partner===1">
                            <ul>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-8  title-pro pl-0">
                                            <span i18n="common.apiKey"></span><span class="colon">:</span>
                                            <div class="keyinput_group">
                                            <input class="form-control" readonly 
                                                type="{{inputType?'text':'password'}}"
                                                name="password" ng-model="apiKey"
                                                data-i18n-attr="{placeholder: 'common.apiKey'}" required> 
                                                     <div class="display-section">
                                                <p class="display-password">
                                                    <label class="eye_pointer">
                                                        <input type="checkbox" ng-model="inputType" ng-checked="false" class="checkBoxEye">
                                                        <i ng-class="inputType?'fa fa-eye': 'fa fa-eye-slash'" aria-hidden="true" ></i>
                                                    </label>
                                                </p>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="col-xs-4 name-pro ng-binding">
                                            <div class="spl-btn-width set">
                                                <a href="" size="sm" class="btn btn-primary btn-lg btn-web" target="_blank" api-key-modal templateUrl="partials/partner/templates/apikey.html" i18n="common.renew"></a>
                                            </div>
                                        </div>
                                    </div>
                                 
                                </li>
                            </ul>
                        </div>

                        <!-- Show Subscribed user -->
                        <div class="col-md-6 detail" ng-if="account.is_premium">
                            <ul>
                                <li>
                                    <div class="row"> 
                                        <div class="col-xs-8 title-pro"> 
                                            <div ng-if="account.subscription_ends_at!==null">
                                                <span i18n="common.subscribeUntill"></span>
                                                <span class="top_margin birth_date" full-date year="account.subscription_ends_at.year" month="account.subscription_ends_at.month" day="account.subscription_ends_at.day">
                                                </span>
                                            </div>
                                            <div ng-if="account.subscription_ends_at===null">
                                                <span i18n="common.subscribe"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 name-pro ng-binding">
                                            <div class="spl-btn-width set">
                                                <a ng-if="account.subscription_ends_at === null" account=account size="sm" cancel-subscription  templateUrl="partials/modal/cancel-subscription.html" class="btn btn-primary btn-lg btn-web" i18n="common.edit"></a>
                                                <a ng-if="account.subscription_ends_at !== null" size="sm" account=account resume-subscription  templateUrl="partials/modal/resume-subscription.html" class="btn btn-primary btn-lg btn-web" i18n="common.edit"></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div> 
                    </div>
                </div> 
            </div>

                <div class="delete-account">
                    <a delete-account size="sm" templateurl="partials/modal/delete-account.html" href="" i18n="common.deleteThisAccount"></a>
                </div>
        </section>
    </div>
</div>



