<div class="form-outer">  
        <div class="col-xs-12 ">
            <div class=" form-section">
                <div class="registration-varification">
                    <p i18n="common.thankYouForSigningIn" data-email="{{ account.email }}"></p>
                     <div class="email-active-help">
                        <span i18n="common.accountActivationEmailHelp"></span>
                        <ol>
                        <li i18n="common.accountActivationEmailStep1">
                        </li>
                        <li i18n="common.accountActivationEmailStep2">
                        </li>
                        </ol>
           
                        </div>
                    <div id="forgot-pass-final-div">
                        <div class="text-center btn-lg-wrap">
                            <p>
                                <!--<ia-go-email ng-model="account.email"
                                             class="btn btn-theme btn-240"></ia-go-email>-->
                                            <button type="button" ui-sref = "base.home" class="btn btn-primary btn-lg btn-block btn-web" i18n="common.ok"></button>
                            </p>
                            <!-- <a ui-sref="base.contactus" class="underline" i18n="common.needHelp"></a>-->
                        </div>

                    </div>
                </div>
            </div>

        </div> 
</div>
