<div class="popup-b02-input-email">

    <div class="close-pop"> <i class="fa fa-times" href="javascript:void(0);" ng-click="cancel();"></i> </div>
        <div class="modal-body text-center"> 
            <section class="content" ng-switch on="modalContent">
                <div class="pb-15 text-center">
                  
                    <p i18n="common.removeECPPartner" data-ecp="{{ PersonName.build(contact.first_name, null , contact.last_name, contact.nationality) || contact.email }} ({{contact.ice_id}})"></p>
                </div>

                <div class="success-message-alert text-center fade-in fade-message" ng-if="ecpremovedsuccessfully">
                   <div class="alert alert-success text-center" i18n="common.removeSuccessfully"></div>
                </div>

                <div class="danger-message-alert text-center fade-in fade-message" ng-if="ecpremovederror">
                   <div class="alert alert-danger">{{removeEcpError}}</div>
                </div>
                <div ng-if="ecpremovedsuccessfully">
                    <p>
                      <button href="javascript:void(0);" ng-click="cancel();" class="btn btn-theme btn-150" i18n="common.ok"></button>
                    </p>
                </div>
                <div ng-if="!ecpremovedsuccessfully">
                <p>
                    <button href="javascript:void(0);" ng-click="ok(contact.ice_id)" class="btn btn-theme btn-150" i18n="common.yes"></button>
                    <button href="javascript:void(0);" ng-click="cancel()" class="btn btn-white btn-150" i18n="common.no"></button>
                </p>
                </div> 
            </section>
        </div> 
</div>